[2014-12-02 09:15] #457 closed, assigned to nnarhinen

[2014-12-02 09:15] #452 closed, assigned to nobody

[2014-12-02 09:28] thanpolas opened #739 "How to remove help overlay?"
Hello there,

just upgraded from 5.4.6 to 5.5.2 and with no change in markup or styling I got an unstyled black-colored help overlay that I just can't make it go away.

![flowplayer overlay help](http://than.pol.as/YmuY/Screen%20Shot%202014-12-02%20at%2011.25.10%20AM.png)

There was also an unstyled prompt to 'embed' the video, which i managed to find the right configuration option to turn off `em

[2014-12-02 09:35] #739 closed, assigned to nobody

[2014-12-03 05:30] #655 closed, assigned to anssip

[2014-12-03 06:09] #679 closed, assigned to nnarhinen

[2014-12-03 13:03] phloxic opened #740 "complete rtmp urls without rtmp.conf do not trigger seek on WebKit fullscreen toggle"
`fsResume` only checks for `conf.rtmp`.
See also: https://github.com/flowplayer/flowplayer/issues/655#issuecomment-65308199

[2014-12-03 13:07] blacktrash opened #741 "5.5.1 full rtmp url support trigger non-backwards compatible behaviour"
Example:
[code]
will show full rtmp url with 5.5.1+, no matter whether conf.rtmp is set or not, or to a different value.
Maybe this is the right thing to do, but we have to look where it breaks the api - see: #740 - how do we handle overriding etc. etc.

[2014-12-04 12:23] phloxic opened #743 "flash: make fail over to rtmpt configurable"
Similar to Flowplayer Flash's `failOverDelay` rtmp option.
This might improve Flash performance in conjunction with servers with high latency. http tunnelling has a performance hit, and a longer wait than the hardcoded quarter second https://github.com/flowplayer/flowplayer/blob/876a5b68a61d212d7ebadc28f7803cfd9b7b215c/lib/as/ParallelConnector.as#L55 might be a good tradeoff in some situations vs

[2014-12-05 07:54] #510 closed, assigned to nnarhinen

[2014-12-05 07:55] #500 closed, assigned to nnarhinen

[2014-12-05 08:07] #361 closed, assigned to nnarhinen

[2014-12-05 08:34] #450 closed, assigned to nobody

[2014-12-05 08:35] #66 closed, assigned to tipiirai

[2014-12-05 12:34] #94 closed, assigned to nobody

[2014-12-05 12:53] #252 closed, assigned to anssip

[2014-12-06 01:32] blacktrash opened #745 "flash wmode IE8: disallow window and direct"
As all UI elements will be overlayed in IE8 with wmode window/direct, maybe (pseudocode):
[code]

[2014-12-06 12:03] phloxic opened #746 "Flash does not set poster state"
The flash engine does add the `is-poster` class when the player is in poster state.
See also #182.
@anssip - what is the reason that the poster state is set making the video _invisible_ and not by _positioning_ the engine/object outside the page? The latter would be consistent with the html5 engine behaviour. Is it because _moving_ the object causes errors in IE? Because hiding a Flash object via

[2014-12-06 12:26] phloxic opened #747 "Flash poster: does not handle stop() and unload() the same way as the html5 engine"
For poster setups `unload()` is a synonym for `stop()` and both also set the poster state.
With the current _working_ poster setups (via video attribute), `stop()` and `unload()` for a quick flash show the poster, and then show the current frame.
See also #746 and #182.

[2014-12-06 17:17] blacktrash opened #748 "Chrome PepperFlash immediately fails over to RTMPT"
Check the Chrome network console at http://demos.flowplayer.org/basics/rtmp.html
Does not happen with PepperFlash disabled (or with rtmpt: false obviously), but more importantly it does not happen in Flowplayer Flash in Chrome with PepperFlash _en_abled (even though Flowplayer Flash has the same failover delay by default as Flowplayer HTML5):
http://flowplayer.blacktrash.org/test/rtmp.html with Wo

[2014-12-08 06:29] #746 closed, assigned to anssip

[2014-12-08 06:45] #747 closed, assigned to anssip

[2014-12-10 07:20] #740 closed, assigned to phloxic

[2014-12-10 08:08] #613 closed, assigned to anssip

[2014-12-10 08:09] #700 closed, assigned to phloxic

[2014-12-10 08:10] #513 closed, assigned to anssip

[2014-12-10 08:51] #352 closed, assigned to nnarhinen

[2014-12-10 09:02] #284 closed, assigned to nnarhinen

[2014-12-10 09:49] #257 closed, assigned to nobody

[2014-12-11 04:39] #517 closed, assigned to nnarhinen

[2014-12-11 05:00] #663 closed, assigned to nnarhinen

[2014-12-12 16:00] blacktrash opened #750 "Flash live: volume reset to full on resume"
Something in the reconnect logic must reset the volume it seems.

[2014-12-15 06:13] #526 closed, assigned to phloxic

[2014-12-15 06:34] #527 closed, assigned to phloxic

[2014-12-15 07:24] #504 closed, assigned to nnarhinen

[2014-12-15 12:33] andyofb opened #751 "Video not changing with load."
I am using Flowplayer Commercial v5.5.2

I have the following code to setup the flowplayer (within .ready):
$.flowplayer({
        engine: 'flash',
        autoplay:true,
        ratio: 3/4
});

I have a button in my HTML
<input type="button" onclick="videoPlayPressed(videoId)" value="Play" id="playBtn" disabled />

I have the following JS function:
function videoPlayPressed(videoId) {
    //make

[2014-12-15 13:20] #751 closed, assigned to nobody

[2014-12-16 04:34] #600 closed, assigned to nobody

[2014-12-16 05:17] #179 closed, assigned to anssip

[2014-12-16 06:32] #325 closed, assigned to anssip

[2014-12-16 09:15] #162 closed, assigned to anssip

[2014-12-17 07:10] #644 closed, assigned to nnarhinen

[2014-12-17 07:12] #640 closed, assigned to nobody

[2014-12-17 07:17] #631 closed, assigned to nobody

[2014-12-17 07:19] #620 closed, assigned to nnarhinen

[2014-12-17 13:39] rmc47 opened #752 "RTMP with / in stream name breaks when going fullscreen, or if full RTMP URL used"
Two symptoms, but I believe most likely the same underlying cause:
- If I specify a full RTMP URL where the stream name part includes a /, it gets split at the last /, rather than the one before mp4:, and the stream is not found
- If I specify data-rtmp for the server URL and src for the stream name, it works until you go fullscreen, at which point it seems to reconstruct the full URL, and the fai

[2014-12-17 15:07] #610 closed, assigned to nobody

[2014-12-18 07:29] #505 closed, assigned to nnarhinen

[2014-12-28 13:32] #530 closed, assigned to nnarhinen

[2014-12-30 21:17] michaelhelmick opened #753 "TypeError: window.getComputedStyle(...) is null"
Flowplayer v5.5.2 (Thursday, 27. November 2014 10:32AM) | flowplayer.org/license

TypeError: window.getComputedStyle(...) is null
Line 207:40

I am experiencing this when attempting to load a video from an iframe that contains flowplayer. More specifically, I'm loading a `video/mp4` in Firefox Nightly 36.0 on OSX 10.10.2

I have a fix coming.

[2014-12-31 07:21] #753 closed, assigned to nobody

[2015-01-01 12:24] wajeeha-khalid commented on #31
Hey i am trying to run a local srt file in track element with kind="subtitles"; but the subtitles are not appearing on IE10. It does not seem to be a CORS problem

[2015-01-02 17:13] bbbo commented on #31
I don't think IE does (and eever will) support srt. http://msdn.microsoft.com/en-us/library/ie/hh772556(v=vs.85).aspx

[2015-01-03 07:13] danrossi commented on #244
flowplayer(function(player, root) {

   player.play = function(i) {
      if (i === undefined) return player.resume();
      if (typeof i === 'number' && !player.conf.playlist[i]) return player;
      else if (typeof i != 'number') player.load.apply(null, arguments);
      player.unbind('resume.fromfirst'); // Don't start from beginning if clip explicitely chosen

      player.video.index = i;

[2015-01-03 07:14] danrossi commented on #244
I'll update him with this hack outside of here now. I've had people waiting for me to find a solution for years now though.

[2015-01-03 08:12] danrossi commented on #244
It's bizarrely unstable and inconsistent did have it working but for some reason it doesn't like it now.

[2015-01-03 08:44] danrossi commented on #244
@jonmifsud I have just updated the same features for jwplayer 6.11 html5 player they provided a similar feature I supplied code for but made it limited to internal features  so required hacking work arounds to include external providers I have that working now. Or wait for this I am still trying to provide an interim work around but it still supplies the flash player when trying to play mp4 files.

[2015-01-03 10:08] danrossi commented on #260
Hi @PommeVerte  I have this ready and added a heap of audio player specific features to it here http://flowplayer.electroteque.org/audio/fp5.  The id3 reader feature will only work in some browsers because of the binary read support required.

I can send that to you by contacting me from the site.

[2015-01-03 16:24] nnarhinen commented on #31
@wajeeha-khalid instead of commenting on an (very) old already resolved issue, please read our https://github.com/flowplayer/flowplayer/blob/master/CONTRIBUTING.md document and continue this discussion on our public support forum, including a link to a page where flowplayer misbehaves (if the content cannot be publicly available, create a replica with our demo videos or such).

@bbbo FP5 does not

[2015-01-04 06:16] queenvictoria commented on #260
Hi @danrossi . I did contact you via your site a couple of years ago. Any chance of releasing that code into the wild? I'll send you another message via the site.

[2015-01-04 07:53] danrossi commented on #244
@jonmifsud

Just an update I have magically got this working, you need to specify an mp4 source if requiring mp4 streams. After that this source will be used to determine to select the html5 engine instead this is where the design flaw resides. You need to specify a different playlist config and it will handle changing the engine within this, that is required because the player sets up the initial

[2015-01-05 05:56] wajeeha-khalid opened #755 "FlowPlayer subtitles not working with IE9 and IE10"
Hi,
I am using track element to show subtitles with an .srt file (the format is quite similar to .vtt file). This works fine on chrome and IE11 but subtitles are not showing up on IE9 and IE10.
The code goes something like this:
![image](https://cloud.githubusercontent.com/assets/6745069/5609722/f06c5730-94c8-11e4-945d-0aee314c5f09.png)
I tried with external source URL for .srt file and also by pl

[2015-01-05 06:44] nnarhinen commented on #755
We can not do anything for this issue without the actual subtitle file. Please link to a _live_ page where the player misbehaves.

[2015-01-05 06:44] #755 closed

[2015-01-05 10:02] nnarhinen commented on #100
This issue no longer persist in the upcoming FP6 release.

[2015-01-05 10:02] #100 closed

[2015-01-06 07:34] nnarhinen commented on #496
http://demos.756f.flowplayer.me/bug/497.html

[2015-01-06 07:36] #733 closed

[2015-01-06 07:45] nnarhinen commented on #141
Flowplayer6 will not listen to any external DOM events any more.

It will still trigger jQuery events on the root-element when used as an jQuery-plugin. The jQuery event namespacing won't help with this as it's mostly just about easing unlistening events.

[2015-01-06 07:45] #141 closed

[2015-01-06 08:16] nnarhinen commented on #155
The grey bar (2px) between the red area and player is the timeline border in that demo. Changing the css to

[code]

Fixes this:

![image](https://cloud.githubusercontent.com/assets/265438/5625957/13ba9a2a-958d-11e4-8351-322bc12617c6.png)

[2015-01-06 08:18] nnarhinen commented on #155
And IMO setRatio should _not_ round. That way it is left to the implementor to provide as accurate ratio as needed in his setup. If we round/floor the value, in some cases it will leave vertical borders to the player etc.

[2015-01-06 08:18] #155 closed

[2015-01-06 08:32] danrossi commented on #141
I will take a look eventually. It functions fine it will just produce a js error. Whatever fits the purpose.

[2015-01-06 09:52] blacktrash commented on #155
@nnarhinen - good catch, and I agree ;-)

[2015-01-06 10:01] blacktrash commented on #163
If embedding is not enabled, yes. Maybe add an embed option to enable subtitles, defaulting to false?

[2015-01-06 17:04] nnarhinen commented on #163
That might be possible

[2015-01-06 17:06] blacktrash commented on #163
Then the CORS onus is entirely on the user.

[2015-01-07 00:40] Aybee commented on #443
:+1:  It's important for responsiveness to have the playlist outside the container (.flowplayer). Else we have to work with fixed values for height, padding or similar. In many cases we don't know the height of the playlist and height of playlist changes sometimes, e.g. if you turn a smartphone from portrait to landscape.

So, it's important to have an option to have the .fp-playlist as e.g. the n

[2015-01-08 07:06] nnarhinen commented on #496
@bbbo can you confirm my fix

[2015-01-08 07:17] bbbo commented on #496
will check

[2015-01-08 07:42] bbbo commented on #496
inconsistent :-( sometimes I see the "Adobe Flash is disabled for this page, click player area to enable." message and the Flowplayer UI does not show, sometimes it works fine with the "loading" text. Will do some tests in a fresh VM later today.

[2015-01-08 15:25] bbbo commented on #496
Works fine in original IE8 with Flash 15.
Works fine in original IE8 with Flash 16.
works fine with IE9 and Flash 16.

Guess something is messy about my other IE9 install ;)

[2015-01-12 12:36] stefan-hausmann opened #757 "IE11: timeline not working / flickering when in iframe and native fullscreen mode"
just bought a flowplayer html5 license and encountered the following issue:

when using new IE11's native fullscreen mode from a flowplayer instance embedded within an iframe and going to fullscreen mode, the timeline is flickering heavily (progress bar goes to 100% width multiple times per second, then going back to the correct playback position), making it completely unusable because seeking in

[2015-01-12 12:44] stefan-hausmann commented on #757
just found this - has this been regarded when implementing IE11 native fullscreen in flowplayer?

http://christophercurrie.github.io/technology/2014/03/20/internet-explorer-11-fullscreen-bug.html
http://bugs.jquery.com/ticket/14903

[2015-01-12 12:48] nnarhinen commented on #757
Thanks for the links. I can confirm this issue with IE11 on Win 8.1. Will take a look.

[2015-01-12 12:51] bbbo commented on #757
confirmed on Win7 as well.

[2015-01-14 09:39] nnarhinen commented on #757
Please try with http://demos.758f.flowplayer.me/basics/iframe.html

[2015-01-14 11:33] stefan-hausmann commented on #757
is now working for me in IE11 / Win 8.1
thanks for bugfixing this!

[2015-01-14 13:22] #496 closed

[2015-01-14 14:33] welshchris opened #759 "Using multiple .m3u8 streams in horizontal scrollable"
I'm trying to develop a page to show multiple live webcam streams in a scrollable fashion using the example at http://demos.flowplayer.org/playlist/scrollable-jquerytools.html

I'm struggling with replacing the playlist code below to suit my own filenames. Can somebody tell me if it's possible to achieve what I'm trying to do and also help me to build a playlist using my .m3u8 file url's? - clearl

[2015-01-14 16:04] blacktrash commented on #759
@welshchris - this is a bug tracker, for usage question please go to our forum at https://flowplayer.org/forum/
The code is just to save typing, you can just write out a JavaScript playlist: https://flowplayer.org/pricing/#flowplayer-flash (you need an RTMP stream address too, unless you only want to show this where HLS is supported):
[code]
You can set `advance: false` in the player config, but i

[2015-01-14 16:04] #759 closed

[2015-01-14 19:44] cycleos commented on #174
Give an option for custom embed code. For example an iframe designed especially for embedding.

[2015-01-14 21:17] nnarhinen commented on #174
this is allready possible:

[code]

[2015-01-15 09:54] cycleos commented on #174
Nice, didn't see it documented. :)

[2015-01-15 10:38] blacktrash commented on #174
@cycleos - because it will only be available in version 6, which is not released yet.

[2015-01-15 10:44] nnarhinen commented on #174
@blacktrash that works allready with current release version.

[2015-01-15 10:47] nnarhinen commented on #174
http://jsfiddle.net/papj3jxw/

[2015-01-15 11:10] blacktrash commented on #174
Oops. Will document it then.

[2015-01-15 11:40] danrossi commented on #244
The other solution was never going to work because it reboots the player api, it started to work and stopped. A wrapper solution was required instead. This functions perfectly now.

[code]

[2015-01-15 11:46] blacktrash commented on #174
@cycleos - upon further reflection this is so advanced that it will open tons of cans of worms exposing this publicly and officially. Should be reserved to those users who are able to read source code ;-)

[2015-01-15 17:50] blacktrash opened #760 "Exclude subtitles from generated cuepoints"
Makes sense. See: https://flowplayer.org/forum/#!/setup:subtitles-and-cuepoints
I'll provide a patch.
Drawback: The `subtitle` and `subtitleEnd` cuepoint props become reserved, albeit only in conjunction with `generate_cuepoints: true`.

[2015-01-15 18:03] blacktrash commented on #760
@nnarhinen - here's a demo: http://flowplayer.blacktrash.org/fp5/thumbs.html

[2015-01-16 04:31] nnarhinen commented on #760
How about adding a general 'visible': false parameter to the cuepoints? then we wouldn't generate more cross-dependency between cuepoints and subtitles.

[2015-01-16 04:32] nnarhinen commented on #760
Also I think this will only go to FP6.

[2015-01-16 08:59] cycleos commented on #174
Can I suggest a text for the documentation:

Flowplayer supports custom embedding code, which requires some advanced programming skills. The feature is useful in case you offer the option to the users to embed your videos in a different way than the Flowplayer standard. Example is to offer a separate page with the player only for embedding through iframe.
To use the feature, you need to call the F

[2015-01-16 09:00] cycleos commented on #174
Uh, it is deleting the iframe in the return :(

[2015-01-16 10:27] blacktrash commented on #760
Do as you see fit, it was just a quick (and probably too dirty) proposal. With the _current_ structure subtitles look like a sub-form of cuepoints to me. And convenience offerings out of the box, like `generate_cuepoints` (the name is slightly misleading, as the cuepoints themselves are not generated, only their display) are bound to create "non-structural" situations.

[2015-01-16 10:29] blacktrash commented on #174
Because you are returning an empty string?

[2015-01-16 15:22] nnarhinen commented on #760
Yeah now subtitles depend on cuepoints. But if cuepoints are trying to figure out whether it's a subtitle or not, then it adds a dependency on the opposite direction too. Better to generalize. Maybe add a hidden: true or something property. Hard to choose what it should call.

[2015-01-16 15:44] blacktrash commented on #760
As one may choose _any_ property for cuepoints, one might as well reserve the existing ones (`subtitle`, `subtitleEnd`)?
But there's no rush. Really, do what fits your intended architecture best.

[2015-01-17 19:48] cycleos commented on #174
Yes, github is deleting the iframe code inside.

[2015-01-19 05:45] nnarhinen opened #762 "Video title element"
When a clip property `title` is given, the player should generate a title element.

[2015-01-19 05:46] #762 closed

[2015-01-19 06:03] #760 closed

[2015-01-19 08:11] ytapple opened #763 "flowplayer() bind cuepoint and ready event, in ready event seek doesn't work!!"
this's my page
$(document).ready(function(){
	$(".flowplayer").flowplayer({
                cuepoints: [5,10]
          });
	flowplayer().bind("cuepoint", function (e,api,cuepoint) {
		alert(cuepoint.time);
           });
	 flowplayer().bind("ready", function (e,api) {
		api.seek(1000);
            });
});

<div class="flowplayer" data-swf="flowplayer.swf" data-ratio="0.4167" >
      <video autoPl

[2015-01-19 08:46] nnarhinen commented on #651
I'm not completely sure how to do this..

Because now we should document something like

[2015-01-19 08:47] nnarhinen commented on #651
@blacktrash do you have any other idea how this could be handled?

[2015-01-19 08:47] nnarhinen commented on #651
(`conf.embed.width` and `..height` do not exist yet of course)

[2015-01-19 09:01] nnarhinen commented on #651
The best I could come up with is to
 * allow configuring `conf.embed.width` and `conf.embed.height`
 * if they are not set, use dimensions from video as before
 * but if HLS source is selected use the dimensions of the current player

I guess the last is better than to have random(?) dimensions reported by the video tag.

[2015-01-19 09:02] nnarhinen commented on #651
however: lookign at http://demos.flowplayer.org/videotest/hls.html

the `videoHeight` and `videoWidth` properties on Mac Safari are 360 and 640. Do you have any cases where it does not pick the 'default' resolution?

[2015-01-19 09:09] nnarhinen commented on #651
Looking at the m3u8 file. There is no 'default' resolution. So maybe the browser just goes with the 'middle resolution' initially when on wlan or something.

[2015-01-19 11:43] nnarhinen commented on #757
This will be available in next bugfix release.

[2015-01-19 11:43] #757 closed

[2015-01-19 11:57] nnarhinen commented on #763
As per our [contribution guidelines](https://github.com/flowplayer/flowplayer/blob/master/CONTRIBUTING.md) please use the [free support forums](http://flowplayer.org/forum/) before opening an issue here. You also forgot to add a _link_ to a live example where you encounter the issue.

For what it is worth I can't reproduce this problem: http://jsfiddle.net/vawhcabh/

[2015-01-19 11:57] #763 closed

[2015-01-19 12:58] blacktrash commented on #651
Are you really sure? At http://demos.flowplayer.org/videotest/hls.html I get:
[code]
in the Safari console, i.e. the highest resolution, or rather the first resolution from the variant playlist (in Drive we list resolutions in descending order, otherwise the highest resolution is never picked for very short videos).
Similarly http://demos.flowplayer.org/basics/long.html gives me 768x576 instead of

[2015-01-20 06:21] nnarhinen commented on #651
What Safari version are you on?

Both Safari 8.0.2 and 8.0.3 seem to consistently give 640x360 dimensions.

[2015-01-20 07:31] nnarhinen commented on #651
I added now `embed.width` and `embed.height` configuration variables. If not given the old behavior will be used.

[2015-01-20 07:31] #651 closed

[2015-01-20 07:56] blacktrash commented on #651
Safari 7.1.2 (I'm still on Mac OS 10.9 because I don't upgrade my OS while I'm editing a movie).
If that's the case also at http://demos.flowplayer.org/basics/long.html (I can understand it at http://demos.flowplayer.org/videotest/hls.html because it is the size of the container) this is a bad regression in Safari because it even ignores the aspect ratio. As this is very buggy behaviour on the Saf

[2015-01-20 08:01] blacktrash commented on #651
Side note: the iOS 8.1 simulator shows the same values as Safari 7.1.2 here.

[2015-01-20 16:32] kellyrmilligan commented on #639
hi, I see this is pretty old. is this still on the roadmap?  i'm seeing some things left over in detached dom tree, after calling unload and unbinding everything in a single page app.

what is the proper way to clean up a flowplayer instance?

[2015-01-20 19:07] nnarhinen commented on #651
http://demos.flowplayer.org/basics/long.html:

![image](https://cloud.githubusercontent.com/assets/265438/5823795/55f85b50-a0e8-11e4-9577-ea7594dcbdbf.png)

[2015-01-20 19:27] blacktrash commented on #651
ok, it looks the same as on my machine - that's the first resolution listed in the variant playlist.
So where exactly do you always see 640x360?

[2015-01-21 07:11] nnarhinen commented on #651
at http://demos.flowplayer.org/videotest/hls.html

[2015-01-21 07:14] nnarhinen commented on #639
Yes, this is issue will be fixed in the 6.0 milestone.

6.0 will be more suitable for single page apps otherwise too (complete javascript API, no jQuery dependency etc).

[2015-01-21 07:15] nnarhinen commented on #639
If you want to use 5.x in a SPA you would have to go through flowplayer source code to see all the places where event handlers are bound to `document` and `window` and remove them manually on unload.

[2015-01-21 09:27] blacktrash commented on #651
http://demos.flowplayer.org/videotest/hls.html differs from Flowplayer inasmuch as the video tag's `width` and `height` properties are given as `640` and `360` - that differs from Safari 7. I guess you'll find with Flowplayer (no video tag dimension property, unless inserted by user, and video tag css width 100%) it will yield the first resolution:
http://demos.flowplayer.org/basics/long.htm 768x5

[2015-01-21 19:55] kellyrmilligan commented on #639
When is the 6.0 milestone expected?  Love that jquery will not be a dep anymore

[2015-01-22 06:30] nnarhinen commented on #639
There is no fixed date to give yet, but progress can be tracked at https://github.com/flowplayer/flowplayer/milestones/6.0%20-%20next%20major%20release

[2015-01-23 10:31] stefan-hausmann commented on #757
ok, thanks. Do you know when the next bugfix release will be released?

[2015-01-24 03:06] kellyrmilligan opened #764 "multiple players in iframes on the same page fail after more than 5 on chrome"
I have a custom embed page that we're putting on third party pages via an iframe.  up to 5 iframes, the player works as expected. the 6th player however, when you click on it, the request for loading the video takes ages and may never start.

[2015-01-24 09:20] nnarhinen commented on #764
As per our [Contribution guidelines](https://github.com/flowplayer/flowplayer/blob/master/CONTRIBUTING.md) please ask these kind of usage questions on our [support forum](https://flowplayer.org/forum/).

Also always link to an example page where the player misbehaves. Preferably stripped to a minimal reproducable case.

[2015-01-24 09:20] #764 closed

[2015-01-24 15:51] kellyrmilligan commented on #764
My bad. I ended up finding an article on the forum about this. Just in case anyone ends up here, as of this writing I ended up switching to splash setup and having flow player inject the video element rather than havin it on the page already. I set what would normally be the poster on a parent element.

[2015-01-25 10:10] blacktrash commented on #764
@kellyrmilligan - you might be able to make use of the skin CSS (with responsiveness etc.) without a parent element then. The API does not act via automatic install on an element with `class="flowplayer"` if there is no video tag inside. The - otherwise problematic - demo http://demos.flowplayer.org/scripting/signed-ondemand.html#html-setup uses that trick.
All the more a reason to ask this in our

[2015-01-26 02:54] kidequinox commented on #125
it would be awesome if I could disable the tooltip on embedded players also.

[2015-01-30 14:18] campones commented on #752
I had that issue if you remember well Christian.

[2015-01-31 17:29] apaatsio opened #765 ""Adobe Flash is disabled" on IE10 even when Flash is enabled"
We have reports that some IE10 users are seeing the "Adobe Flash is disabled for this page, click player area to enable." error message even though they have Flash enabled.

I couldn't reproduce this myself so unfortunately I can't debug this more. I'm just writing this here in case that someone else is experiencing this also.

[2015-02-02 06:22] nnarhinen commented on #765
Users might see this message also if it takes long to load the swf-file (over 1 second). We might adjust this timeout but from user perspective it does not prevent video playback if the swf file is loaded in less than 5 seconds after which the player will error out.

[2015-02-02 06:22] #765 closed

[2015-02-03 15:05] blacktrash opened #766 "hls seeking: seeking state too short"
Often, especially when seeking by click on target position, the seeking state ends way before the target position is reached. Is this because the video tag fires `seeked` so early?
Demo long video with high buffer size is well suited to observe the problem: http://demos.flowplayer.org/basics/long.html

Aside: What does `support.hlsDuration` mean, and why does desktop Safari not support it (if I re

[2015-02-03 15:10] blacktrash commented on #766
For the aside: https://github.com/flowplayer/flowplayer/issues/271 (when I find things, it's too late ;-))

[2015-02-05 19:57] #26 closed

[2015-02-05 21:23] bzmwillemsen opened #767 "Throwing "Cannot read property 'length' of undefined.""
[code]

I'm on flowplayer.js version 5.4.6 and I've recently started getting this error thrown a lot by clients. At reason you can think of that flowplayer would be trying to pass `$.grep()` a value of `null`?

This is the section in the source that this is happening in:
[code]

[2015-02-06 05:17] nnarhinen commented on #767
As per our [Contribution guidelines](https://github.com/flowplayer/flowplayer/blob/master/CONTRIBUTING.md) always link to a live page where the misbehavior is apparent.

Also as a general advice always try with the latest stable distribution.

You also failed to specify the browser/OS combinations where the problem exist.

If the problem still persists with the latest stable version of Flowplayer,

[2015-02-06 05:17] #767 closed

[2015-02-06 10:54] #78 closed

[2015-02-06 10:55] #501 closed

[2015-02-06 11:15] blacktrash commented on #26
@nnarhinen :+1:

[2015-02-12 12:25] slavafomin opened #768 "Player failed to load when opened in new tab in Safari browser"
Hello!

We are using commercial version of FP `5.5.2` on our website — [video.oum.ru](http://www.en.video.oum.ru/).

Lately, our visitors started to experience a very strange issue with it in Safari browser: when you open the video page in a new tab — the FP fails to load (poster is not shown, endless loading animation is shown instead). However, if you navigate to the video page directly in the s

[2015-02-12 15:38] nnarhinen commented on #768
I can confirm this behavior.

Can you try changing the `preload` attribute to something else than `metadata` (try `none` for instance)?

If I open the page in new tab and open developer tools and type into the console `$('video')[0].load()` the player initializes. Also the `readyState` property of the video tag in the 'hanging' state seems to be `1` which means `NETWORK_IDLE`. That's why I think s

[2015-02-12 15:46] slavafomin commented on #768
Hello @nnarhinen! Thank you for your reply.

We've tried to put player into iframe, but it didn't helped. Also, I've managed to better understand the conditions in which bug occurs. It happens only when the tab is not active, i.e. in background. I've updated the demo [here](http://fp.video.oum.ru/safari-issue/index.html) — just press the button then switch to another opened tab. When you return to

[2015-02-12 15:55] slavafomin commented on #768
Yep, it's working with `preload="none"`. I think we will use this as a workaround for now then.

I've also added this case to the demo page.

[2015-02-12 16:11] slavafomin commented on #768
### Working workaround

I've decided to opt for [`splash`](https://flowplayer.org/docs/setup.html#splash) mode with combination of `preload="none"` in order to mitigate different cross-browser issues. It helped.

---

@nnarhinen thank you for your suggestion! Cheers!

[2015-02-12 20:11] nnarhinen commented on #768
The behavior of preload (and the configurability of it) will change for version 6.0 most likely (due to inconsistent behavior across browsers). We can leave this issue open until that. Going with splash setups most likely is best for your use case now.

[2015-02-13 09:03] nnarhinen commented on #766
Yes, this is because the video tag emits `seeked` immediately after click on HLS. This is such a corner case that I don't think it should be special cased.

[2015-02-13 09:03] #766 closed

[2015-02-15 21:26] nnarhinen commented on #244
@blacktrash http://demos.711f.flowplayer.me/bug/244.html should be fine now

[2015-02-15 21:26] #244 closed

[2015-02-15 22:18] blacktrash commented on #244
Confirmed for test demo.

[2015-02-18 08:43] #515 closed

[2015-02-18 13:44] #448 closed

[2015-02-23 08:56] nnarhinen commented on #685
Please re-open this issue with a link to a minimal demo that fails to play on the surface. Then I'll try to find a device to test with.

[2015-02-23 08:56] #685 closed

[2015-02-23 09:16] #639 closed

[2015-02-23 12:56] nnarhinen commented on #589
@blacktrash does FP Flash detect this correctly?

[2015-02-23 13:32] #453 closed

[2015-02-23 13:32] nnarhinen commented on #453
Fixed by 04f90d879b15126e044a6e27da28ab81d96700af

[2015-02-23 14:06] nnarhinen commented on #431
@blacktrash I think I'm closing this for now.

If one needs more fine-grained subtitle handling they can use a library like https://github.com/annevk/webvtt with code something along

[code]

[2015-02-23 14:06] #431 closed

[2015-02-23 14:06] blacktrash commented on #589
Yes: http://flowplayer.blacktrash.org/test/rtmp-recover.html correctly reports error 200 "stream not found".
Flowplayer HTML5 simply hangs, I also tried with full rtmp url.

[2015-02-23 14:28] nnarhinen commented on #415
`skipStore` is mostly for internal use. You can emulate the behavior in your custom code if you need to.

[2015-02-23 14:28] #415 closed

[2015-02-23 19:01] robinboening commented on #260
+1 for releasing @danrossi

[2015-02-24 03:35] danrossi commented on #260
ALOT of work has gone into this but mainly the other features. I will release on github just the engine part for the budget tight people. It's basically just the video engine replacing the video tag with the audio tag minus various in events and mimetypes. No funky integration although it probably should be integrated directly into the html5 engine.  The rest of the other audio player specific fea

[2015-02-24 04:21] danrossi commented on #260
https://github.com/danrossi/audio-engine it's here. No support provided , I have too many priorities right now but follow the demo feature page and it will be easier to follow to override the player css.

[2015-02-24 04:24] danrossi commented on #260
take note of the type="video/mp4" mimetype that gets replaced inside that is a hack work around.

[2015-02-24 06:25] robinboening commented on #260
Thank you very much @danrossi I really apreciate that. Will try it later the day.

[2015-02-24 10:01] landsem opened #769 "Controls while splash"
Possibility to display controls with splash screen.

[2015-02-24 10:46] blacktrash commented on #769
imho this does not make much sense from the user-perspective: one of the purposes of a splash setup is not to preload the video, so you would get extra controls without meaning: no duration available, no video location for embedding ... so, in fact the play button indicates exactly the state.
With poster (implies preloading) it make more sense and we have a demo for that: http://demos.flowplayer.o

[2015-02-24 10:47] #769 closed

[2015-02-24 10:47] nnarhinen commented on #769
It would be exactly against the idea of a splash setup.

[2015-02-26 08:25] nnarhinen commented on #368
Playlists can now be made embedable by setting `conf.embed.playlist = true`

[2015-02-26 08:25] #368 closed

[2015-02-26 08:27] blacktrash commented on #368
:+1:

[2015-02-27 12:03] blacktrash commented on #174
:+1: - what about adding `mozallowfullscreen` and `webkitallowfullscreen` for safety?

[2015-02-27 12:11] blacktrash commented on #174
Probably also explicit `fullscreen: true` in the player config, unless the originating player has `fullscreen: false`?

[2015-02-28 05:48] nnarhinen commented on #295
With current firefox this is not reproducable

[2015-02-28 05:48] #295 closed

[2015-02-28 05:49] nnarhinen commented on #288
This issue will kinda be fixed by the "pure" splash setup by javascript FP6 supports.

[2015-02-28 05:49] #288 closed

[2015-02-28 06:04] nnarhinen commented on #46
@blacktrash this is already possible in an `error` handler.

 * remove `is-error` class
 * set `api.error = false;`
 * set `api.loading = false;`
 * `api.load('/path/to/good/source.webm')`

[2015-02-28 06:04] nnarhinen commented on #46
The real question here is: should `api.load()` already do this by default?

[2015-02-28 06:42] nnarhinen commented on #443
@blacktrash How about this: if `conf.query` starts with `#`-sign then handle it as external?

[2015-02-28 06:59] nnarhinen commented on #433
I can't reproduce this on iOS 8.1 simulator. Please report back if this still is an issue. (Also make sure you actually hit the 'playlist items' and not the player container.

[2015-02-28 06:59] #433 closed

[2015-02-28 06:59] #343 closed

[2015-02-28 07:01] nnarhinen commented on #163
IMO the ability to configure the iframe src url is enough. All complex embed setups can be then achived with that.

[2015-02-28 07:01] #163 closed

[2015-02-28 08:00] nnarhinen commented on #174
blank target can now be configured by `conf.embed.popup = true`

[2015-02-28 08:00] #174 closed

[2015-02-28 08:00] #38 closed

[2015-02-28 09:07] blacktrash commented on #295
For me it is e.g. here: http://demos.flowplayer.org/playlist/minimal.html - Firefox 36.0, and in any other browser for that matter - must be somewhere between finish and load.

[2015-02-28 09:08] nnarhinen commented on #295
Maybe needs a slow connection. On my 100/100 broadband I can't reproduce this on any browser.

[2015-02-28 09:17] blacktrash commented on #46
Already possible? What am I missing: http://flowplayer.blacktrash.org/fp5/recover.html ?
That's why I went to the contortions at http://demos.flowplayer.org/scripting/recover.html

[2015-02-28 09:25] blacktrash commented on #443
Yes. In theory one could also use a class to avoid creating a different id for each player and map via index, but that feels like inviting breakage.

[2015-02-28 09:35] blacktrash commented on #433
@nnarhinen - i**Phone**, not i**Pad** - i.e. no inline video. Replicable for me in 8.1 simulator. You can also see the playhead at the current playback position after touching "Done". I think this is just the behaviour of the generic player. So I can repro, I'm in 2 minds whether it's worth fixing.

[2015-02-28 09:42] blacktrash commented on #295
a) people behind slow connections exist, people with tablets behind mobile networks too ;-)
b) Saturday is slow here, but 3.62 Mbps should be ok
c) more likely to happen with non-demo longer videos (longer loading time)

I don't think it's a show-stopper, but it's undeniable there.

[2015-02-28 10:10] blacktrash commented on #433
Done some more tests, with longer videos, and it works already in the 7.1 simulator, sort of. One can see for a moment an image at the last position of the other video, and then it jumps back to the beginning. With short clips, the jump back sometimes does not happen.
I don't deem this a player bug, and too erratic to fix.

[2015-03-01 16:22] nnarhinen commented on #46
Well at least with FP6 this works, didn't try with FP5:

[code]

[2015-03-01 16:41] blacktrash commented on #46
Didn't try with fp6 yet. I understood "already possible" as referencing the current release.

[2015-03-13 16:22] IDEDOnline opened #773 "Volume setting not storing or setting"
Using the latest HTML5 FP I have used a youtube plugin by Dan R to pull in video from my clients Youtube channel the problem seems to be that even though I have set the data-volume attribute on the players container the player itself does not seem to pull in this setting or its just plain ignoring it as the player seems to respect the setting for a split second on load then resets the volume to 0.

[2015-03-13 16:24] #773 closed

[2015-03-13 16:25] IDEDOnline commented on #773
Issue resolved itself after removal of cache and reloading the player in another browser.

[2015-03-15 02:14] blacktrash opened #775 "RTMP live stream autoplays and cannot be paused"
http://demos.flowplayer.org/basics/live.html in a browser which cannot play HLS.
Workaround: splash setup. Strangely enough even pausing then works.

[2015-03-18 11:19] litvinok opened #776 "Support multi-channel of audio"
Hello everyone.

I have some video file with two or many audio channels (different languages for example). I would like have ability to choice need channel.

I believe that it will be very cool feature, I don't know any other flash player which supports it.
HTML5 video player already has specification for this feature, but at this moment it implemented only in the IE11.

I suggest to develop plugi

[2015-03-18 11:33] litvinok opened #777 "Support multi-channel of subtitles"
We already have ability to show subtitles with using the content plugin.
But when we have one or more subtitles on different languages we should have wrapper which will switch them.

I would suggest additional control element which will make able to switch between few subtitles like out-of-box solution.

This solution may include ability to use built-in to video subtitles as well.

[2015-03-18 13:29] blacktrash commented on #777
content plugin? - You can find the bug tracker for Flowplayer Flash here: https://github.com/flowplayer/flash/issues
For embedded captions there is already a solution out of the box: http://flash.flowplayer.org/plugins/flash/captions.html#embedded-captions-example

[2015-03-18 13:29] #777 closed

[2015-03-18 13:37] blacktrash commented on #776
As in your other report, please use the Flowplayer Flash bug tracker: https://github.com/flowplayer/flash/issues
Technically this would have to be confined to Adobe httpstreaming I think, i.e. the httpstreaming plugin.

[2015-03-18 13:37] #776 closed

[2015-03-19 05:01] litvinok commented on #777
Ok, I'll duplicate this issue to ``flowplayer/flash``.
I've looked ``embedded-captions-example`` plugin but I've meant http://flash.flowplayer.org/plugins/flash/captions.html#mp4-embedded-captions-example and this solution is a crutch. How do you sell commercial license with functionality which customer need implement?
I want have minimum of wrappers, crutch and resulting in minimum of bugs.

[2015-03-19 05:04] litvinok commented on #776
Ok, I'll duplicate this issue to flowplayer/flash.
But how a streaming functionality affects a simply video playback?
And usually streaming server have ability to change current audio channel on a fly. But I not sure about all solutions.

[2015-03-19 22:40] blacktrash commented on #775
Also happens with a first frame setup.
Note that this does not happen with _all_ live streams. Some actually work.

[2015-03-29 12:19] blacktrash opened #779 "issues with full rtmp urls"
Collecting these here.
Sample: http://flowplayer.blacktrash.org/fp5/rtmp.html
1. WebKit browsers complain about invalid URL scheme on load (Chrome regardless of PepperFlash enabled or not)
2. Fullscreen toggle starts playback from beginning in WebKit browsers because the flash reset does not handle that situation - #740, #752 - probably fixed in dev by https://github.com/flowplayer/flowplayer/comm

[2015-03-30 14:14] nnarhinen commented on #779
this comes from DOM parser (the javascript initialization method creates a temporary video tag for source parcing).

[2015-03-30 18:44] blacktrash commented on #779
And now for the real problem: full RTMP urls do not work if the file is in a subfolder on the rtmp server, regardless of the installation method.
http://flowplayer.blacktrash.org/fp5/rtmp.html

[2015-04-01 14:41] lufes commented on #450
The problem is related to the window.onload event, which will not be triggered if there's a video with the preload="none" attribute set. window.onload will run once every asset is loaded, and iOS 8 keeps waiting for the video to load, which will never do. Only happens in iOS 8. Submitting a ticket to Apple right now.

[2015-04-03 10:03] 39dotyt opened #782 "[feature request] Allow completely destroy player object, removing it from instances"
It will be very helpful for environments with lots of videos opened and closed simultaneously to have an ability to completely destroy player object (not just unload it).

[2015-04-03 10:05] yurijmikhalevich opened #783 "[feature request] Add flag to use AMF0 for RTMP"
It's required for backward compatibility.

[2015-04-03 10:39] blacktrash commented on #782
Version 6 will provide a `shutdown` method.

[2015-04-03 10:41] blacktrash commented on #782
@39dotyt - "lots of videos opened and closed simultaneously" refers to videos, not players, which begs the question why you're not using a splash setup?

[2015-04-03 11:36] 39dotyt commented on #782
@blacktrash, i mean in multiple players.

[2015-04-03 11:37] 39dotyt commented on #782
@blacktrash what is the approximate version 6 release date?

[2015-04-09 14:05] lotterfriends commented on #721
WP 8.1. useragent is "Mozilla/5.0 (Windows Phone 8.1; ARM; Trident/7.0; Touch; rv:11; IEMobile/11.0)
 like Android 4.1.2; compatible) like iPhone OS 7_0_3 Mac OS X WebKit/537.36
 (KHTML, like Gecko) Chrome/32.0.1700.99 Mobile Safari /537.36" so "IS_ANDROID" is also true. The result is that the fix don't work :(

[2015-04-09 18:24] nnarhinen commented on #721
292e82d0600f7564c96a9f139235462c09becafb should fix this for the upcoming 6.0 release.

In the meantime you can do your own user agent detection mechanism and set `flowplayer.support.inlineVideo` accordingly.

[2015-04-09 18:25] nnarhinen commented on #721
Oh but really, it says it's Android too..

[2015-04-09 20:15] lotterfriends commented on #721
I create a pull request with a fix. See also https://gist.github.com/lotterfriends/c847dc13f6667b9f58e9

[2015-04-17 11:11] ufucuk opened #785 "Flowplayer will not resume in an iframe in IOS Safari"
it is really easy to reproduce this bug, visit http://demos.flowplayer.org/basics/iframe.html in IOS 8 Safari browser, start playing the video then pause, wait until control bar minifies then tap on play button over the video element, it will go fullscreen as paused and to resume user has to tap once more on quick time.

[2015-04-17 14:34] janmaennig opened #786 "ss"

[2015-04-17 14:35] #786 closed

[2015-04-24 13:59] anssip opened #788 "controlbar logo has too much empty space to it's right"
Flowplayer-logo in controlbar has too much empty space to it's right. There's less margin on the left,  should be the same size both left and right.

[2015-04-24 14:00] anssip opened #789 "Controlbar play button not changing state when video ends"
Controlbar play-button does not change it's state when video ends. Should change from the pause icon to play icon. http://demos.711f.flowplayer.me/commercial/minimal.html

[2015-04-24 14:01] anssip opened #790 "Duration UI element dropped down"
the duration value has dropped below the controlbar here: http://demos.711f.flowplayer.me/lookandfeel/controls-only.html

Screenshot: http://d.pr/i/1clDV

[2015-04-24 14:01] anssip commented on #790
time and duration values also look strange in these:
	http://demos.711f.flowplayer.me/lookandfeel/finish.html
	http://demos.711f.flowplayer.me/scripting/recover.html

[2015-04-24 14:04] anssip opened #791 "Canvas logo overlaps controlbar"
The "canvas logo" is on top of the controlbar. Should always show above it. For example here: http://demos.711f.flowplayer.me/scripting/dynamic.html

[2015-04-25 03:14] blacktrash commented on #791
That is one of the issues with the new functional controlbar: it sits higher into the canvas, also a problem with fixed controls: https://github.com/flowplayer/work/issues/1027#issuecomment-87589755

[2015-04-25 03:14] blacktrash commented on #791
imho the controlbar _must_ be over the canvas, that's why it's a canvas.

[2015-04-26 09:31] anssip opened #792 "FP6 iPad issues"
Progress bar goes above the flowplayer logo: http://d.pr/i/1cg2M
Time & duration shown outside the controlbar: http://d.pr/i/1bu4r
Does not properly implement fullscreen, should behave like in the current version: http://d.pr/i/10wOp

[2015-04-26 09:32] anssip commented on #791
I think we just need to move the canvas logo upwards so that it does not get hidden below the controlbar.

[2015-04-26 10:03] blacktrash commented on #791
Affects drive watermarks as well.

[2015-04-27 12:30] nnarhinen commented on #790
@blacktrash as those are very custom pages, please take a look if it indeed is a player bug.

[2015-04-27 12:43] #789 closed

[2015-04-27 12:44] nnarhinen commented on #788
Screenshot please

[2015-04-27 12:44] blacktrash commented on #790
Both demos only customize an element inside the player which does not intefere with the controls afaics, it's too small.
It looks like it becomes more difficult to add custom elements. No idea what could be causing this.

[2015-04-27 12:48] blacktrash commented on #790
With the below thing at http://demos.711f.flowplayer.me/scripting/recover.html I have no explanation either. Only the cursor is changed for those elements, no positioning.

[2015-04-27 13:15] anssip commented on #589
fixed. Now fires an error with code 4 when the stream is not found.

[2015-04-27 13:15] #589 closed

[2015-04-27 18:34] blacktrash commented on #790
Assigning to @nnarhinen for fixed-controls.

[2015-04-27 20:56] blacktrash commented on #589
There is an error, but the API only receives `undefined` as error, not an error object.

[2015-04-28 09:44] blacktrash commented on #788
![brand_not_centered](https://cloud.githubusercontent.com/assets/168338/7366921/85632a44-ed93-11e4-9de1-830f11a98c19.jpg)

[2015-04-28 21:22] blacktrash commented on #589
@anssip - sorry for the noise, I probably tested while the change was not yet propagated. All is fine.

[2015-04-30 09:38] blacktrash commented on #779
This will be fixed in Flowplayer 6 by making the `rtmp` option available on a per clip basis.
Full RTMP urls are not supported.

[2015-04-30 09:38] #779 closed

[2015-05-06 16:26] 39dotyt opened #794 "Flowplayer has no ability to specify flashvars and/or optimizeBuffering and minContinuousPlaybackTime options"
It's maybe required in some cases to specify optimizeBuffer and minContinuousPlaybackTime params to flash flowplayer backend. It's will be very useful if FlowPlayer will allow this through configuration option.

[2015-05-06 17:55] bbbo commented on #794
Niklas, didn't you create a generic way to pass arguments to the Flash engine?

[2015-05-07 06:20] anssip commented on #794
There is the possibility to specify [bufferTime](https://flowplayer.org/docs/setup.html#config-options). What other options you would like to see added, @39dotyt ?

[2015-05-07 09:04] 39dotyt commented on #794
@anssip Hm. Now I understand that I may be confused by the flash media playback docs and examples. I don't now, what exactly you are using, but [it](http://jodieorourke.com/view.php?id=139&blog=news) has few additional options, which also controls the buffer time. Sorry for the confusion.

My exact problem is when FlowPlayer (playing RTMP) receives two or three frames (with I-frame first) hi does

[2015-05-07 13:59] 39dotyt commented on #794
According to [NetStream documentation](http://help.adobe.com/en_US/FlashPlatform/reference/actionscript/3/flash/net/NetStream.html) it's needed to reduce liveDelay (read-only property indicating the number of seconds of data in the subscribing stream's buffer in live (unbuffered) mode.).

May be a good idea to allow specifying next NetStream properties:

* backBufferLength/Time;
* inBufferSeek;
*

[2015-05-07 14:11] 39dotyt opened #795 "Mistake in the documentation"
https://github.com/flowplayer/flowplayer/blob/master/lib/as/Flowplayer.as#L351

seems that default bufferTime value is 3 but [documentation](https://flowplayer.org/docs/setup.html#core-options) says that it is 0.1.

Of course, it's true if master is the actual release :-)

[2015-05-07 14:56] blacktrash commented on #795
@39dotyt - thanks for spotting this.
Will be corrected in our new site docs when version 6 comes out.

[2015-05-07 14:56] #795 closed

[2015-05-13 08:15] #792 closed

[2015-05-21 13:46] #734 closed

[2015-05-21 13:46] #790 closed

[2015-05-21 14:34] bliof opened #796 "Player with preload="none" freezes if you pause it before the video is loaded"
When you start a video that has `preload="none"` and then immediately pause it, it won't start again.

Here is a demo: (either click the button or you could even click fast on the video but disable your cache from the console)

https://jsfiddle.net/yvrvvfp7/1/embedded/result/

https://jsfiddle.net/yvrvvfp7/1/

## The demo

[code]

[code]

https://releases.flowplayer.org/5.5.2/flowplayer.min.js
htt

[2015-05-21 16:21] bbbo commented on #796
cannot reproduce; starts again for me in every browsers I tested. Which
OS browser?

[2015-05-21 17:15] bliof commented on #796
I've tested on osx with chrome, safary, firefox and with virtualbox on debian and couple of windows machines with chrome / firefox. There is a button on the test page that does `play()` and `pause()` and it works 100% of the time.

The way I've patched it to check if there is `api.video.duration` in [api.pause](https://github.com/flowplayer/flowplayer/blob/master/lib/flowplayer.js#L293)

[2015-05-22 01:10] kielstr opened #797 "RTMP fullscreen trigger reconnect to invalid URL"
When switching to fullscreen using the flash engine the player generates a file not found error. I believe this is because
of code within the flash action script method rtmpUrls and the source path containing a resource within a directory.

Managed to reproduce the error with the following node.js hack.

#!/usr/bin/env node

var url='rtmp://media3.au.cpdlive.com:80/cahoot-public/mp4:testing/BoomCr

[2015-05-22 05:30] nnarhinen commented on #797
On which player version are you seeing this? We released 6.0.0 yesterday and it should not behave like that anymore in fullscreen toggles.

[2015-05-22 05:44] kielstr commented on #797
I did notice the release of version 6 however the bug related to fullscreen was a bit vague. We are currently on version 5.5.2. We’ll upgrade and see how that goes and report back.

[2015-05-22 06:37] nnarhinen commented on #796
`api.play()` is async.

I guess this does what you are after: https://jsfiddle.net/zn72u3qb/

(code):

[code]

[2015-05-22 06:37] #796 closed

[2015-05-22 06:49] bliof commented on #796
You could brake the player by clicking twice on it..

[2015-05-22 07:05] bliof commented on #796
![flowplayer](https://cloud.githubusercontent.com/assets/540562/7765704/c87f3d02-0069-11e5-95bf-f610196c6b90.gif)

Here is gif of what happens.. but you simply click twice and it's dead

[2015-05-22 07:15] nnarhinen commented on #796
The quality of that gif is so poor I can't see which fiddle you are clicking twice and where.

Anyway. Please move this conversation to our [support forum](https://flowplayer.org/forum/). If there actually is a valid API use case that is broken (with the current 6.0.0 code base) you or our support personnel can open a new issue about it.

It seems you have some scripting needs and need help with t

[2015-05-22 07:23] bliof commented on #796
Well the scripting is for you to see the problem.. Otherwise you could click twice on the video (first is `api.play()` then is `api.pause()`). I'll try 6.0.0. I had problems yesterday. That is I've used the same html as above but with the new version and it.. broke, it shows only loading dots after initialization :/

[2015-05-22 07:26] bliof commented on #796
ps. here is the video https://www.dropbox.com/s/ad7o12xgaice7pi/flowplayer.mp4?dl=0

[2015-05-22 07:53] bbbo commented on #796
I still cannot reprdouce. pause / resume works in FF 38, Chrome 43, IE9,
IE10 on Win7 without problems. With cache enabled or disabled, either
cllcking the player area very fast or using the button.

[2015-05-22 08:57] mitio commented on #796
I was also able to reproduce this as @bliof has described it in Google Chrome (Version 43.0.2357.65 (64-bit)) on OS X. I used his JSFiddle test.

To reproduce:

1. I loaded the page.
2. I opened developer tools, clicked on "Disable cache" in the "Network" tab and reloaded again.
3. I made a quick double-click on the video. Yes, it's actually a double-click.

You can also try [limiting the network

[2015-05-25 07:07] danrossi opened #799 "Fonts hitting CORS issue for FP6"
It might make it easier on everyone if they were embedded into the CSS. There is an option to do this.

I've used this https://icomoon.io/app/#/select as a generator.

Your CORS wildcard rule is obviously incorrect and therefore nothing is loading.

[2015-05-25 07:15] nnarhinen commented on #799
The double CORS rule was because of an issue with MaxCDN. The issue should now be resolved. Will think about font embedding to CSS later.

[2015-05-25 07:15] #799 closed

[2015-05-25 07:27] danrossi opened #800 "Acessing flowplayer internal libraries"
bean = require('bean'),

none of this is accessible out of the player and within global functions due to being wrapped within the file therefore not extensible ?

Is there an undocumented feature required ?

[2015-05-25 07:41] nnarhinen commented on #800
I'm not completely sure why you would need to access the eventing library from the outside, but for plugin developers (the plugin API not that well documented yet) we have exposed the possibility to use some of the internal libraries:

https://github.com/flowplayer/flowplayer/blob/2e757bfbd84af4ef8682a8e5a6179e27d323a1c6/lib/flowplayer.js#L134-L137

You can access them by `flowplayer.bean`, `flowp

[2015-05-25 15:16] #800 closed

[2015-05-26 10:01] blacktrash opened #801 "ipad: native_fullscreen does not work"
http://demos.flowplayer.org/basics/native_fullscreen.html

[2015-05-26 10:03] blacktrash opened #802 "Simulated fullscreen - players pinned to top of window"
Compare bottom player on page:
http://demos.flowplayer.org/basics/multiple.html (fp6 broken)
http://demos.flowplayer.org/v5/basics/multiple.html (fp5 works)

[2015-05-26 10:09] blacktrash opened #803 "splash option: works only if no container background-color is given"
Bug or feature - if the latter, it has to be documented.

Feels like a bug because:
- poster: "//myserver/splash.jpg" is not affected by CSS background-color for the container (surprising behavior)
-  a background-color is handy because images take longer to load

Could be worked around with wrapper element.

[2015-05-26 10:13] blacktrash opened #804 "responsive iframe embed code"
As the standard embed code is now responsive, try the same with the iframe embed code:

Offer the iframe embed code with wrapper around the iframe which replicates the container/ratio stanza and make the iframe fill it: http://flowplayer.blacktrash.org/fp6/iframe-responsive.html

Plus add `padding-bottom` to the wrapper: `3px` for slim timeline or controlbar height for `fixed-controls`.

Side effe

[2015-05-26 10:18] blacktrash opened #805 "add no-buffer modifier class"
A modifier class which:
1. does not display the buffer (skin)
2. does not recalc buffer every 0.25 secs

Rationale:
1. For "normal" viewing the buffer is an internal technical detail. Only the current viewing position is interesting (and the buffer animation to indicate buffering state). It's arguably a leftover from Flash progressive download. With HLS, HTML5 video byte-range requests, and even R

[2015-05-26 11:07] blacktrash opened #806 "iphone: does not resume after return from native fullscreen"
This is a behaviour change compared to fp5. Intentional?
https://flowplayer.org/forum/#!/setup:iphone-resume-playing-flo

It looks like bug because when you click again, then the skin appears intermittently with the playhead on the previous position.

[2015-05-26 11:10] blacktrash opened #807 "IE11: time and timeline do not update"
https://flowplayer.org/forum/#!/drive_discussion:60-timeline-doesnt-updat

[2015-05-26 12:33] nnarhinen commented on #807
@bbbo Can you test with real IE11 on http://demos.dev94.flowplayer.us

It works on browserstack now at least.

[2015-05-26 13:09] bbbo commented on #807
confirming the fix for IE9. 10 and 11 on Win 7.

[2015-05-26 13:29] bbbo commented on #807
confirmed for Win 8.1 as well

[2015-05-26 14:10] #807 closed

[2015-05-26 14:17] blacktrash opened #808 "functional + playful fixed-controls: disappear in fullscreen"
Only time and duration/remaining visible.
http://flowplayer.org/demos/

[2015-05-26 14:26] blacktrash commented on #808
This line is overridden somewhere later:
[code]
When I add it after loading the skin it works.

[2015-05-26 14:30] nnarhinen commented on #801
Should be fine now

[2015-05-26 14:36] nnarhinen commented on #806
@blacktrash see #530

[2015-05-26 14:42] blacktrash commented on #806
Can you differentiate between "done" and fullscreen exit? That would be ideal:
"Done": go into splash state (which should exclude the erroneous timeline display at restart)
"fs exit": as before.

Otherwise attempt to get a clean splash and unloaded state: when restarting the playhead which is shortly visible should be at 0 again.

Maybe hide all control elements completely where inline playback is

[2015-05-26 14:44] nnarhinen commented on #806
I'm not completely sure I understand (I'm no iPhone user). What is the difference between done and fullscreen exit?

[2015-05-26 14:45] nnarhinen commented on #806
At least in the iPhone simulator they do exactly the same thing with a plain video tag - exit from fullscreen and pause the player.

[2015-05-26 14:47] nnarhinen commented on #806
![image](https://cloud.githubusercontent.com/assets/265438/7815128/34fbbb0a-03cf-11e5-9432-484e943148bc.png)

If this (the red area) is what you mean with fullscreen exit.

[2015-05-26 14:50] blacktrash commented on #806
Yes.
In Flowplayer terms: "Done" corresponds to the close button `is-closeable` and the red area is the fullscreen exit button (looks suspiciosly similar ;-))
So if the inline Flowplayer behaviour can be mimicked ...

(personally I'd be fine or even would prefer a clean splash state for both, no fp controls appearing - you can't make it right for everyone)

[2015-05-26 14:52] blacktrash commented on #801
Looking good. @anssip should close after checking with a real device.

[2015-05-26 14:54] nnarhinen commented on #806
Yeah well event-wise they do just the same: fire `webkitendfullscreen`. So either we do nothing or we fire `unload` (and I have to fix unload to actually clean the buffer etc).

[2015-05-26 14:54] nnarhinen commented on #806
So either we revert the "fix" to #530 or fix it properly :)

[2015-05-26 14:57] blacktrash commented on #806
I'm not sure what the majority of users want.

My personal preference is:
- current behaviour
- no noop flowplayer widgets ever appearing - the only Flowplayer UI is the play button.

As they say: YMMV.

[2015-05-26 15:02] nnarhinen commented on #806
I'm not adding any new modifier classes for hiding the UI widgets for devices not capable of showing inline video, can be offered as a "FAQ entry" later if needed. I just made the timeline to reset to zero when `unload` triggered.

[2015-05-26 15:04] blacktrash commented on #806
:+1:

[2015-05-26 15:04] nnarhinen commented on #802
Should be fine now, also on IE9 etc

[2015-05-26 15:08] blacktrash commented on #802
Confirmed - @anssip + @bbbo should double check.

[2015-05-26 16:09] nnarhinen commented on #803
[code]

What is the desired result?

[2015-05-26 16:17] blacktrash commented on #803
I haven't considered mental setups yet ;-)
Misunderstanding: I wasn't talking about video loading, but page load.
I had a "normal" splash setup in mind, where it's often good to have both background-color and background-image set, so the player area is marked until the image is loaded. That was all.
Your example is unsupported because of conflicting instructions, I'd say.

[2015-05-26 16:20] blacktrash commented on #803
So: with background-color set via CSS + splash option either true or an img url, I would expect a splash setup like with both background-color and background-image + splash: true or is-splash.

[2015-05-26 16:22] nnarhinen commented on #803
Ok,
so: if splash explicitely set to string (`data-splash="img2.jpg"`)
 * ignore poster setup
 * always use img2.jpg as splash

[2015-05-26 16:27] blacktrash commented on #803
I don't understand? where's the poster setup in this rather reasonable install:
[code]
should behave like:
[code]
We can decide later what happens when there are conflicting explicit instructions. But if it says splash and not poster, then it's splash.

[2015-05-26 16:36] nnarhinen commented on #803
cool

[2015-05-26 17:00] nnarhinen commented on #808
Should be fine now: http://dev94.flowplayer.us/standalone/skins/functional-fixed-controls.html

[2015-05-26 17:00] nnarhinen commented on #806
Should be fixed now by setting timeline to zero.

[2015-05-26 17:06] blacktrash commented on #808
:+1:

[2015-05-26 17:14] blacktrash commented on #806
But this breaks `native_fullscreen` for iPad now or I did not test properly before.
On iPad native_fullscreen:
- full screen exit during playback: playback continues with play button overlayed
- done during playback: paused state, resume starts from beginning
- fullscreen exit _and_ done in paused state: resume starts from begining

[2015-05-26 17:21] bbbo commented on #802
fixed for IE9

[2015-05-26 17:22] nnarhinen commented on #806
Should behave better now with the iPad.

[2015-05-26 17:23] #791 closed

[2015-05-26 17:23] nnarhinen commented on #801
I tested this with a real device, works as supposed.

[2015-05-26 17:23] #801 closed

[2015-05-26 17:23] #802 closed

[2015-05-26 17:24] blacktrash commented on #806
https://github.com/flowplayer/flowplayer/commit/4202fb01334bfb04f83d791afc3982051759cf0e fixes that:
- full screen exit during playback: continues to play
- done during playback: paused state, resume works
- fullscreen exit _and_ done in paused state: paused state, resum works

Makes all sense to me :+1:

[2015-05-26 17:24] nnarhinen commented on #803
Should be fixed on dev branch

[2015-05-26 17:25] #808 closed

[2015-05-26 17:25] #806 closed

[2015-05-26 17:30] blacktrash commented on #803
Confirmed.

[2015-05-26 17:30] #803 closed

[2015-05-26 18:12] anssip commented on #808
The close X button disappears in fullscreen

[2015-05-26 18:17] blacktrash commented on #808
Because you cannot unload from fullscreen, only stop.

[2015-05-27 08:04] nnarhinen opened #809 "Playful close button looks inconsistent"
Does not have the background gradient

[2015-05-27 09:11] DrySs opened #810 "HLS : lag issue with Firefox"
Hi there,

Please take a look at this HLS stream (working on CloudFront with Signed Cookies):
http://dev.dryss.com/signedcookiesfp/

On desktop with Chrome/Opera/IE, I can play video fullscreen without any problem.

But with Firefox, while fullscreen is enabled, I have some kind of "lag-time", I mean the image is like freezing every second...

Any idea of why I have this behavior (only with Firefo

[2015-05-27 09:24] DrySs opened #811 "Muted option does not work"
While I try to setup FlowPlayer (after an ajax request) with "muted" option at true, I still have sound level enabled:

http://vod2.dryss.com/w/series/breaking-bad/video-player.html

[2015-05-27 09:32] DrySs opened #812 "HLS: stream does not work on Android 4.1"
Hi there,

I've noticed that on Samsung Galaxy S3 Mini (Android 4.1), HLS does not work with FlowPlayer: audio is playing but not video (infinite FlowPlayer loading screen).

Here is two test pages:

- simple HTML5 video tag: http://dev.dryss.com/signedcookies/
- FlowPlayer 6 : http://dev.dryss.com/signedcookiesfp/

This is the same m3u8 file in both examples, served by a CloudFront distribution w

[2015-05-27 10:30] blacktrash commented on #810
Please set `debug: true` in your configuration.

Firefox Flash performance is always a problem. Try `wmode: "opaque"`, or, at least for testing, `wmode: "direct"` to see whether this improves things.

We cannot diagnose the HLS streams themselves obviously.

[2015-05-27 12:14] thanpolas opened #814 "Any plans to publish as an NPM module"
I noticed with the new v6 release that flowplayer is now using CJS for dependency management.

Most of today's frontend applications are using CJS so it would be cool to be able to install and require Flowplayer as an NPM module.

Right now, I am having issues loading 6.0, in my bootstrap file i require the `flowplayer.js` file however browserify errors with:

[code]

[2015-05-28 06:43] anandrajana opened #815 "HTML5 Video not found"
I'm getting this issue on our live site when I click to play the video. This is reproducible sometimes on mobile devices and web browsers. Below is the live site link.

 http://press.kia.com/eu/videos/products/soul%202014/

[2015-05-28 07:16] blacktrash commented on #815
Please read the guidelines for submitting bugs: https://github.com/flowplayer/flowplayer/blob/master/CONTRIBUTING.md - first turn to our public forum https://flowplayer.org/forum/ (monitored by staff) to make sure this is actually a bug.

In any case you should:
- provide a *minimal* sample page
- study the various modal window demos which are on offer - http://flowplayer.org/demos/layout/#overlay

[2015-05-28 07:16] #815 closed

[2015-05-28 07:19] bbbo commented on #815
Please post usage problems in the forums unless your're 100% this is a bug. See https://github.com/flowplayer/flowplayer/blob/master/CONTRIBUTING.md

You're falsely configuring a single MP4 for both WebM and MP4 source types. If you configure a WebM source type, you must also offer a WebM _video_ . You're also delivering the MP4 with the wrong MIME type: application/octet-stream . ZThsi will fail

[2015-05-28 08:24] nnarhinen commented on #814
Yes, the next release will also be on NPM.

For now you can require the flowplayer.min.js file, it should be requirable directly from browserify.

[2015-05-28 08:27] nnarhinen commented on #812
Do you see the same behavior on http://demos.flowplayer.org/basics/hls.html ?

On my Samsung Galaxy S3 (Android 4.3) both your examples work just fine.

Because of Android fragmentation we can't have devices for  all possible vendor and android versions combinations to test with but we are happy to accept pull requests against the dev branch if you manage to debug and fix the issue you are seeing.

[2015-05-28 08:38] nnarhinen commented on #810
Doing wild guesses here.. Does your monitor have a 16:9 aspect ratio (as the video has)?

I mean, do you get the gray areas above and belove the video or does the video fill your whole screen?

If it does fill the whole screen, it might be the overlaid timeline updating on top of the flash object that makes it freeze every one second. You can try to add a CSS rule like:

[code]

to see if hiding t

[2015-05-28 09:04] DrySs commented on #812
I'm talking about Samsung Galaxy S3 Mini, which runs under Android 4.1 (and not 4.3).
Do you have any device runinng on Android 4.1?

Your example http://demos.flowplayer.org/basics/hls.html does not work on my 4.1 device.
I cannot (and I don't know) how to proceed to find and fix this issue as this is not my job :p

But what I can say is that jwPlayer works fine on my Android 4.1:
http://www.jwpl

[2015-05-28 09:14] nnarhinen commented on #812
No, I do not have any devices running 4.1. @bbbo do you possess any 4.1 devices?

I can't fix this for every single Android device out in the wild, the combinations are countless.

We will release a fix if we find a fix. Fixing something for a legacy Android version without a device for reproducing the chances of finding a fix are very thin. Not a high priority thing either as it's only one device

[2015-05-28 09:18] DrySs commented on #812
http://demos.flowplayer.org/basics/minimal.html works fine without any problem.

Notice that for HLS stream, I only have audio stream, but loading screen of FlowPlayer as video stream.

[2015-05-28 09:19] bbbo commented on #812
will try to find someone with an S3 mini. Samsung updated all my devices
to at least 4.2 by now.

[2015-05-28 09:19] DrySs commented on #812
How should I do to find the bug source with an Android device?

[2015-05-28 09:31] nnarhinen commented on #812
@DrySs can you test this page with your S3 Mini: http://jsfiddle.net/90Ld7t98/1/

You should see (or actually I guess you don't see) something like this. If you don't see the "loadeddata fired" text below the video player then the browser if your S3 mini does not send necessary events.

![2015-05-28 09 29 35](https://cloud.githubusercontent.com/assets/265438/7856917/4d53ac3c-0535-11e5-958d-4b522c4

[2015-05-28 14:02] foliovision opened #816 "License check pausing the video on http://localhost:8080"
I'm using the auto.php script from our Unlimited license ZIP file: https://foliovision.com/flowplayer-keygen/auto.php

When I run that on http://localhost:8080/auto.php, it works. But if I enter bad license key, the video won't play, it just pauses every time it should play. Same if I remove "data-key" attribute.

Occuring on Firefox and Chrome on OS X 10.9.5.

Thanks!
Martin

[2015-05-28 14:25] nnarhinen commented on #816
Please contact our support for a new unlimited build with the latest version.

[2015-05-28 19:46] DrySs commented on #811
Another strange behavior I got with muted option:

![image](https://cloud.githubusercontent.com/assets/230791/7869410/dd60fed6-0582-11e5-9586-4575bcc0cf49.png)

As you can see, sound icone is disabled, but sound volume is still 100%. And sound is not muted...
How is this possible?

Thanks,
Philippe

[2015-05-28 20:18] DrySs commented on #810
Thanks for your replies :)
@blacktrash

Just added "debug: true" config & wmode: "opaque" mode.

@nnarhinen

Yes, I'm in 16:9.

Added CSS rules, but it does not change anything.

I just noticed that it affects playing even if *not* in fullscreen.

[2015-05-28 20:27] DrySs commented on #812
@nnarhinen

Just tryed, I well have the message "loadedata fired" printed on my screen.

[2015-05-28 20:28] nnarhinen commented on #812
Ok, then I'm out of ideas why flowplayer doesn't fire the ready event..

[2015-05-28 20:30] DrySs commented on #812
Because when ready event is fired, then loading image is hidden? Video is playing as I can hear the audio. It's the video screen which seems hidden by loading image.

[2015-05-28 20:34] nnarhinen commented on #812
Yes, the symptoms seem like ready event would not be fired (video tag is hidden by CSS and loading dots appear)

[2015-05-28 20:42] DrySs opened #817 "CloudFront signed URL with urlencode"
Hi there,

If I try to urlencode my CloudFront signed URL (I need to do it if my filename has special chars, like blank space "my video.mp4"), then FlowPlayer won't play the stream.

Example here: http://vod.dryss.com/w/django/lecteur-video.html

I'm unable to start video on Firefox / Chrome.

Any idea how to make it works?

Thanks

[2015-05-29 02:08] kielstr commented on #797
Upgrading has resolved this issue. Should the older version be patched or does it make good business sense to upgrade all users pre 6v?

[2015-05-29 05:20] nnarhinen commented on #797
The change cannot be easily backported to 5.x codebase.

[2015-05-29 05:20] #797 closed

[2015-05-29 05:37] nnarhinen commented on #812
@DrySs  Can you give me a screenshot of your S3 Mini running this fiddle: http://jsfiddle.net/90Ld7t98/3/

[2015-05-29 08:46] foliovision commented on #816
Unfortunatelly the issue is still present there.

Looking at changes in flowplayer.js I can see the only thing that is different is the key validation.

[2015-05-29 09:06] DrySs commented on #812
Here you are @nnarhinen :

![screenshot_2015-05-29-10-58-53](https://cloud.githubusercontent.com/assets/230791/7879672/b996b7c8-05f2-11e5-9ca9-978ee6052019.png)

[2015-05-29 09:46] blacktrash commented on #817
Please consult our forum https://flowplayer.org/forum/ first uness you're certain it's a bug in the _player_. See: https://github.com/flowplayer/flowplayer/blob/master/CONTRIBUTING.md

Did you check this demo: http://demos.flowplayer.org/scripting/signed-ondemand.html ? And did you read the disclaimer, also re: signed urls in general? Is this worth the trouble of implementing and maintaining?

And

[2015-05-29 09:54] DrySs commented on #817
@blacktrash

1) Forums: No results for “signed space”
2) Your demo page does not talk about space in filename
3) I read the disclaimer, nothing about "signed URL"
4) I gave you a full demo page with the problem, why do you talk about minimal sample?
5) Space could be devil, I need to handle them for my customers, so I need a player which works with urlencode & space in filename
6) You can see my c

[2015-05-29 10:00] DrySs commented on #817
This is a VERY BIG problem in FlowPlayer cannot handle special characters in CloudFront signed URLs !

[2015-05-29 10:30] foliovision opened #818 "jQuery bind to load doesn't pass event data"
I'm using the following event hooks:

[code]

Check the output here:

**Flowplayer 5**: http://foliovision.com/html/fp5-events.html using /releases.flowplayer.org/5.5.2/flowplayer.min.js

* e Event data contains both currentTarget and target
* everything works in both events - api and video is present

**Flowplayer 6**: http://foliovision.com/html/fp6-events.html using /releases.flowplayer.org/6.0

[2015-05-29 11:02] blacktrash commented on #818
Yes, this is documented here: https://flowplayer.org/docs/api.html#attaching-to-manual-installation
That is the price of ditching the jQuery requirement so to speak: switch to a pure JavaScript installation (you can still load jQuery of course, but you have to bind the event to the API, not the container element) if you want to cater for this or similar scenarios.

[2015-05-29 11:02] #818 closed

[2015-05-29 11:22] blacktrash commented on #817
You can _ask_ at the forum too ;-)

With disclaimer I meant that signed URLs offer no real protection with HTML5 video in general because the expiry time must be so high.

For *debugging* a *minimal* sample is needed, in a full page one has to dig through the page code, and in you case even find the external script which installs the player, plus, there seems to be other stuff going on because in

[2015-05-29 11:24] blacktrash commented on #817
Same in Safari at http://vod.dryss.com/w/django/lecteur-video.html - only seeking works. So please boil the example down to Flowplayer relevant stuff. Thank you.

[2015-05-29 11:27] DrySs commented on #817
"With disclaimer I meant that signed URLs offer no real protection with HTML5 video in general because the expiry time must be so high."

I know but this is not the issue I'm talking about here, I am?

"Same in Safari at http://vod.dryss.com/w/django/lecteur-video.html - only seeking works."

That just the issue opened here: video playing while filename has a space does not work!!

[2015-05-29 11:37] blacktrash commented on #817
Works fine here: http://flowplayer.blacktrash.org/fp6/signed-with-space.html with
`encodeURIComponent("with space")` before signing.

[2015-05-29 11:43] blacktrash commented on #810
I'm afraid that is just Firefox' Flash performance. Even with a pure Flash player you will notice this (especially with other heavily loaded windows open), although admittedly _somewhat_ to a lesser extent.

[2015-05-29 11:54] DrySs commented on #817
Here is an example with a filename urlencoded before signed it:

http://dev.dryss.com/cf/

FlowPlayer does not work in Firefox, I get "flash: Video file not found"

[2015-05-29 11:58] DrySs commented on #817
Notice this not just a problem of withespace, second example without space:

http://dev.dryss.com/cf/v2.php

[2015-05-29 12:00] DrySs commented on #810
So... what should I do?

Forbid all Firefox users to play HLS stream ?? ô.O)

[2015-05-29 12:10] blacktrash commented on #817
I don't understand? Both examples work?

[2015-05-29 12:11] DrySs commented on #817
FlowPlayer does not work in Firefox, I get "flash: Video file not found"

[2015-05-29 12:11] DrySs commented on #817
If you prefer a screenshot:

![image](https://cloud.githubusercontent.com/assets/230791/7882318/a6e45f08-060c-11e5-8e32-5667f88b47db.png)

[2015-05-29 12:15] blacktrash commented on #817
Which Firefox version? No problem here with 38.0.1 (Mac).
![screen shot 2015-05-29 at 1 14 12 pm](https://cloud.githubusercontent.com/assets/168338/7882364/bc57a668-0604-11e5-839a-1c4d16e30946.png)

[2015-05-29 12:16] DrySs commented on #817
38.0.1 on Desktop Win 8.1 :

![image](https://cloud.githubusercontent.com/assets/230791/7882381/42b22154-060d-11e5-900e-f9d1192c690c.png)

[2015-05-29 12:17] DrySs commented on #817
Notice that Firebug returns a 403 error for FP request, while HTML5 video player has no problem with:

![image](https://cloud.githubusercontent.com/assets/230791/7882388/64c1eb30-060d-11e5-8fde-e0e368d335b6.png)

[2015-05-29 12:26] blacktrash commented on #817
Well, it shouldn't fail over to Flash in the first place. I can only recommend that you use a JavaScript configuration in such scenarios. Otherwise you add one more level to escape hell (the player must retrieve a src which is already subject to different way of expansion by the browsers, nevermind further processing).
Not that strictly speaking you must write e.g. the ampersands as `&amp;` in a s

[2015-05-29 12:28] DrySs commented on #817
I don't understand what do you mean by "javascript configuration"?

What sould I do? Decode URL returned by CloudFront?

[2015-05-29 12:29] DrySs commented on #817
FYI, here is the PHP code used with AWS PHP SDK:

[code]

[2015-05-29 12:30] blacktrash commented on #817
No, as in my example and as I said: `encodeURIComponent("filename")` _before_ feeding it to cloudfront, and do not use a VIDEO tag based installation to avoid html parsing by the browser.

[2015-05-29 12:30] DrySs commented on #817
Your example is a javascript encode, I need to encode using PHP SDK, so with PHP script.
So this is not possible for me.

How to make FlowPlayer works with urlencoded path?

[2015-05-29 12:32] nnarhinen commented on #812
And if you start playback, do you get a third row with durationchange fired, this time with duration something else than zero?

[2015-05-29 12:34] DrySs commented on #812
No, nothing happens: I click play (button transform to stop), then after 2/3sc, it displays back the play button.

durationchange stay at 0.

[2015-05-29 12:36] DrySs commented on #817
If I understand well, I cannot use VIDEO tag based installation with FlowPlayer if I have an URL encoded. What a pain!

[2015-05-29 12:40] nnarhinen commented on #817
Could you please _try_ the JavaScript based installation method so that we could see if it is the browser HTML parsing mechanism that messes things up. We are not saying you should convert all your setups at once.

[2015-05-29 12:44] DrySs commented on #817
@nnarhinen Done: http://dev.dryss.com/cf/

Still the same error.

[2015-05-29 12:48] nnarhinen commented on #817
Could you add `engine: 'flash'` and to the player level configuration for debugging purposes. All browsers I have are able to play mp4 with html5 video tag.

like this:

[code]

[2015-05-29 12:48] DrySs commented on #817
Done :)

[2015-05-29 12:54] nnarhinen commented on #817
Btw, why do you *need* to encode the urls beforehand? What happens if you don't do it?

[2015-05-29 12:56] DrySs commented on #817
Filename has a blank space: "free video.mp4".

Refresh page: http://dev.dryss.com/cf/

I have deleted urlencode call before signing.
Now, CloudFront returns a "Access Denied".

This is a recommande way to use special chars in filenames:

https://github.com/aws/aws-sdk-php/issues/597

[2015-05-29 12:56] nnarhinen commented on #812
So the HLS stream does not play at all in a plain video tag? Then there's not much flowplayer can do about it.

[2015-05-29 12:58] DrySs commented on #812
Yes it does, as I mentionned it in my first message, I have same HLS stream in HTML5 video tag:

http://dev.dryss.com/signedcookies/

It's working very fine on same device.
This IS a FP bug.

[2015-05-29 13:01] nnarhinen commented on #812
You just said nothing happens when you click play on my jsfiddle -> your browser does not support playing the HLS stream. Please replicate the jsfiddle setup with an HLS stream that plays on your device so that I get reliable test data. (I can't use your HLS streams as they seem to be doing some cookie magic)

[2015-05-29 13:02] DrySs commented on #812
I cannot replicate this HLS stream as it is CloudFront content protected, which need cookie domain to work. It will not works on jsfiddle.

[2015-05-29 13:03] nnarhinen commented on #812
You can copy the jsfiddle code to your server.

[2015-05-29 13:03] DrySs commented on #812
Only JS part?

[2015-05-29 13:04] nnarhinen commented on #812
So that the demo works like it does on jsfiddle.

[2015-05-29 13:08] DrySs commented on #812
Done here: http://dev.dryss.com/signedcookies/ with plain video tag.
But now, video won't play anymore.

Following code break the player:

[code]

[2015-05-29 13:10] DrySs commented on #812
Ok finally after waiting like 20sc, video is playing.
But logs stay at 0 for duration.

[2015-05-29 13:11] nnarhinen commented on #812
So no third row with "durationchange fired, duration: 139.76" ?

[2015-05-29 13:12] DrySs commented on #812
Nop, stays at 0 all video playing.

[2015-05-29 13:13] nnarhinen commented on #812
![2015-05-29 13 12 54](https://cloud.githubusercontent.com/assets/265438/7883239/a3ec231a-061d-11e5-83af-4b3db13adc9d.png)

[2015-05-29 13:14] DrySs commented on #812
No, I don't have the third log, only 2 first.

[2015-05-29 13:16] nnarhinen commented on #812
Please add this code:

[code]

Then after you start playback, does it start logging timeupdate events and do those events have the video duration?

[2015-05-29 13:23] nnarhinen commented on #817
Ok, can you change it back to urlencode the urls, I will try to debug further.

[2015-05-29 13:28] DrySs commented on #817
Ok done, notice that I have the same error message in Chrome now that's we've forced Flash engine.

[2015-05-29 13:32] blacktrash commented on #817
Yes, the Flash engine will open another can of worms, because Flash handles url escaping in a slightly different way and then it's handed back to the browser via the object tag ...

I am still interested what the _practical_ use case is? It doesn't give real protection because long expiry times are required. So why jump through all those hoops for an illusion of protection (which is somewhat worse

[2015-05-29 13:34] DrySs commented on #817
Protection here is not the problem, the problem is that Flash engine does not handle url encoded string.

I will be able to enhance the protection in the further with ajax request as you did in your demo.

[2015-05-29 13:37] DrySs commented on #812
Done.

I have "timeupdate fired, duration: 0" printed all over the video is playing.
Still not real video duration.

[2015-05-29 13:40] nnarhinen commented on #812
You said JWPlayer and plain video tag work, do they give the duration somewhere?

Flowplayer does not (yet) support durationless setups other than for live setups where you have to configure `live: true`.

[2015-05-29 13:43] DrySs commented on #812
I tested jwPlayer with their demo HLS stream, but I did not test with my-self integration (signed cookie HLS stream) because you have to pay for their HLS feature.

I don't know about their duration.

I'm not sure to understand what you said: is that a FP feature leak or a S3 mini bug?

[2015-05-29 13:45] nnarhinen commented on #812
Your browser is broken: it does not report duration for video. So there is no way for Flowplayer to know how long the video is and it will break the timeline and time displays.

You can workaround this with configuring flowplayer to think this is a live-video by configuring `live: true`, and then flowplayer will hide all the elements that do not make any sense in live videos (timeline, duration et

[2015-05-29 13:48] DrySs commented on #812
Yes but I'm not in live configuration, it's pure VOD service, and I need timeline, duration, etc.
What should I do? Force MP4 and disable HLS for Android 4.1?

[2015-05-29 13:49] nnarhinen commented on #812
It's not necessarily Android 4.1 that is broken, it might be just this specific samsung configuration. Android fragmentation is a PITA

[2015-05-29 13:50] blacktrash commented on #817
Re: protection: that doesn't change the fact that for html5 video the entire video must be buffered to be playable entirely -> long expiry time to ensure it's entirely buffered. The FP demo just delays that to handle splash setups. But the basic problem is the same.

[2015-05-29 13:50] DrySs commented on #812
Problem is that if device does have video duration, video does not work, and there is no fallback to MP4...

[2015-05-29 13:51] DrySs commented on #812
Could'nt you add a rule which say if there is no video duration, then fallback to other source (MP4)?

[2015-05-29 14:03] blacktrash commented on #817
Re: Flash + encoded chars: both
[code]
and
[code]
work. So we have to look how the signed url scenario affects this in the Flash engine.

[2015-05-29 14:05] DrySs commented on #817
Notice here encode is no the same:

[code]

%2 => /
+ => space

[2015-05-29 14:19] blacktrash commented on #817
You mean `%2F` for the directory separator. Again this is not a problem with the html5 engine: http://flowplayer.blacktrash.org/fp6/signed-with-space.html (updated).
But yes, escaping the directory separator is a problem for the Flash engine:
[code]
(of course you wouldn't do that normally)

[2015-05-29 15:28] blacktrash commented on #817
There is actually only a problem with RTMP signed urls and special chars.
I've changed http://flowplayer.blacktrash.org/fp6/signed-with-space.html?forceflash to use a Flash http url and to use `encodeURI` instead of `encodeURICompenent` (which makes sense anyway) and it works.

[2015-05-29 15:44] blacktrash commented on #817
@DrySs - can you confirm that both:
http://flowplayer.blacktrash.org/fp6/signed-with-space.html
and
http://flowplayer.blacktrash.org/fp6/signed-with-space.html?forceflash
work for you?

If yes, then:
1. we have indeed a problem with special characters in _RTMP_ urls in general: http://flowplayer.blacktrash.org/fp6/rtmp-with-space.html
2. cannot reproduce the problem with signed http urls if encode

[2015-05-29 15:46] DrySs commented on #817
Yes, both video works in Firefox.

[2015-05-29 15:47] DrySs commented on #817
http://flowplayer.blacktrash.org/fp6/rtmp-with-space.html

does not works (same error Video file not found)

[2015-05-29 15:48] blacktrash commented on #817
Yes. The problem with RTMP is undoubtedly there. But it's not related to signed urls.

[2015-05-29 15:57] blacktrash opened #821 "RTMP: breaks with special chars in URLS"
Example: http://flowplayer.blacktrash.org/fp6/rtmp-with-space.html

[2015-05-29 15:58] blacktrash commented on #817
The RTMP problem is now a separate issue: https://github.com/flowplayer/flowplayer/issues/821

[2015-05-29 16:10] DrySs commented on #817
"2. cannot reproduce the problem with signed http urls if encoded, neither in html5 or flash"

Your are URL encoding using Javascript.

Just implements AWS PHP SDK and call CloudFront this way:

[code]

[2015-05-29 16:14] blacktrash commented on #817
And did you let the php write as src into a JavaScript installation? Otherwise you have another round trip via the html parser, and Flowplayer retrieving the expanded value from the src attribute.

[2015-05-29 16:15] DrySs commented on #817
Here is complete code:

[code]

[2015-05-29 16:22] blacktrash commented on #817
So you are saying that the actual location of the video is at https://d2vyyxzcikcr0b.cloudfront.net/1source/free+video.mp4 - i.e. the "special char" is a plus sign?
(engine goes into clip object btw)

[2015-05-29 16:24] DrySs commented on #817
Exact location is:

https://d2vyyxzcikcr0b.cloudfront.net/1source/free video.mp4

Encoded location sent to Flash is:

https://d2vyyxzcikcr0b.cloudfront.net/1%2Fsource%2Ffree+video.mp4?Expires=1432909728&Signature=[...]

[2015-05-29 16:24] DrySs commented on #817
As I said before, space is replaced with a "+" chars and "/" with "%2F".

[2015-05-29 16:25] blacktrash commented on #817
Why would spaces be replaced with a plus sign? The proper escape is `%20`, looks like your php is doing something wonky.

[2015-05-29 16:27] DrySs commented on #817
This is what "urlencode()" method in PHP do.

[2015-05-29 16:30] DrySs commented on #817
I just replaced urlencode with rawurlencode, which replace space with %20:

1%2Fsource%2Ffree%20video.mp4

But problem still remains, Flash does not play video.

So we have for exact location:

https://d2vyyxzcikcr0b.cloudfront.net/1/source/free video.mp4

Encoded location sent to Flash is:

https://d2vyyxzcikcr0b.cloudfront.net/1%2Fsource%2Ffree%20video.mp4?Expires=1432920589&Signature=[...]

[2015-05-29 16:44] blacktrash commented on #817
Ah. It doesn't work if you set `engine: "flash"`, it will work if you specify `type: "video/flash"` as in the demo.
This should arguably work also with engine setting, but for the moment you should catch the failover by adding a (normally redundant) "video/flash" type in conjunction with `rawurlencode` for php.

[2015-05-29 16:47] DrySs commented on #817
I don't wan't to setup video/flash, I want to have video/mp4, to have something working on all devices.

If I remove "engine: flash", then it still won't work on Firefox (cf. my first screenshots when you said it was working on your side).

[2015-05-29 16:48] DrySs commented on #817
Tryed this for Firefox but it doesn't work anymore:

[code]

[2015-05-29 16:49] DrySs commented on #817
BTW, if I just use video/flash, it won't work too in Firefox.

[2015-05-29 16:52] blacktrash commented on #817
What you currently have at http://dev.dryss.com/cf/ at first glance is exactly what I have at http://flowplayer.blacktrash.org/fp6/signed-with-space.html?forceflash - so for the moment I am at a loss why yours does not work (I also tried without splash).

[2015-05-29 16:54] DrySs commented on #817
I don't agree with you: you have 100% pure javascript (with Ajax request to get signed URL).
I've only have PHP, using PHP SDK (I suppose you don't).

What is the signed URL returned by your PHP script?
It should have some differences between our two URL encode.

[2015-05-29 16:55] DrySs commented on #817
http://d2yz3vc7rxs49u.cloudfront.net/esc/with%20space.mp4?Expires=1432918520&Signature=

[2015-05-29 16:55] DrySs commented on #817
Yout "/" are not encoded like mine with "%2F".

[2015-05-29 16:59] DrySs commented on #817
Ok well this is the "/" encoded which made Flash to bug.

So, the trick is to no more encode this chars :

[code]

And now it's work :)

[2015-05-29 17:00] blacktrash commented on #817
That's right, so why don't you ditch the php encoding and use encodeURI().

[2015-05-29 17:00] blacktrash commented on #817
Or like that, yes ;-)

[2015-05-29 17:01] DrySs commented on #817
Ok, and seems to work too with other special chars like: "free [video].mp4".

Thanks for all your help @blacktrash & @nnarhinen!

[2015-05-29 17:04] DrySs commented on #817
To remember for other persons:

- do not use urlencode but **rawurlencode**
- do not encode "/"

[2015-05-29 17:04] nnarhinen commented on #817
@DrySs can you still leave an example online with the original PHP encode that was problematic and `engine: flash`

[2015-05-29 17:04] nnarhinen commented on #817
I'd still like to test something out.

[2015-05-29 17:05] DrySs commented on #817
Here it is:

http://dev.dryss.com/cf/

Tell me if you need anything else :)

[2015-05-29 17:06] blacktrash commented on #817
@nnarhinen - when you go via clip.engine flash it breaks, it only works via video/flash, so there is something not quite right there (regardless of what comes from php).

[2015-05-29 17:06] nnarhinen commented on #817
@blacktrash and you are sure it uses the flash engine?

[2015-05-29 17:13] blacktrash commented on #817
Actually I was wrong: properly setting clip.engine (not at player level) works: http://flowplayer.blacktrash.org/fp6/signed-with-space.html now uses clip.engine flash.

[2015-05-29 17:15] blacktrash commented on #817
We could consider converting the legit plus signs because JS doesn't deal with them.

[2015-05-29 17:19] blacktrash commented on #817
Not sure whether it's worth dealing with the Flash engine not handling encoded path separators.

[2015-05-29 17:20] nnarhinen commented on #817
This issue always comes back and back to haunt us. I want to try something out.

[2015-05-29 17:24] blacktrash commented on #817
ok, but don't forget #821 - especially as in the context of signed urls rtmp is the best way to actually protect the content as you can use short expiry times.

[2015-05-29 17:37] nnarhinen commented on #812
Can you try setting http://dev.dryss.com/signedcookiesfp/ to use

http://cdn.819f.flowplayer.me/adhoc/flowplayer.min.js and then try with your S3 device

[2015-05-29 17:52] nnarhinen commented on #817
@DrySs can you change the demo to use http://cdn.820f.flowplayer.me/adhoc/flowplayer.min.js thanks

[2015-05-29 19:03] DrySs commented on #812
Yes it works!!! :+1:

Very good news, how did you manage to do this?

[2015-05-29 19:09] DrySs commented on #817
Done, still broken on Firefox.

[2015-06-01 08:45] blacktrash commented on #810
You can try:
[code]
like at http://demos.flowplayer.org/basics/long.html

But also check thoroughly that your video is not bound to stutter even in html5 video, this one for instance is in danger of doing so: http://demos.flowplayer.org/lookandfeel/loading-custom.html even over fast connections.

[2015-06-01 09:18] foliovision commented on #818
Thanks, just wanted to make sure it's not a bug, but it's going to be that way in version 6.

[2015-06-01 09:46] blacktrash opened #823 "clip options in playlists are sticky, triggering trouble with picking order"
The following config errs with "Flash: Video file not found" when switching to the 2nd clip:
[code]
That is: Currently RTMP in a playlist works only if *all* clips are also available via RTMP.

It can make sense that clip options are sticky, i.e. they do not fall back to to values given on player level *if* they fall back to their flowplayer.default consistently - but this is not the case with `rt

[2015-06-01 09:52] blacktrash opened #824 "flashls: add debug option(s)"
Add dedicated debug option to as of yet undocumented `flashls` config object.

See: https://flowplayer.org/forum/#!/setup:get-current-hls-bitrate

[2015-06-01 10:56] blacktrash opened #825 "clip rtmp switches not reliable in playlists"
Example: http://demos.flowplayer.org/playlist/ratio.html
`rtmp` is set correctly for every clip.
- playthrough works
- clicking on playlist items or prev/next often (not always) results in "Flash: Video not found"

I believe this is not random, but happens when you click a trigger _before_ the current video is ready, i.e. clicking next in quick sucession. Probably all these triggers must be no-ops

[2015-06-01 11:43] blacktrash opened #826 "subtitle CORS: Chrome error w/o consequence"
At http://demos.flowplayer.org/basics/subtitle.html#vtt Chrome complains with an error:
"Text track from origin 'http://d12zt1n3pd4xhr.cloudfront.net' has been blocked from loading: Not at same origin as the document, and parent of track element does not have a 'crossorigin' attribute. Origin 'http://demos.flowplayer.org' is therefore not allowed access."
And then goes on to load the track anyway

[2015-06-01 12:04] blacktrash commented on #816
@foliovision - I cannot reproduce when I run e.g. http://flowplayer.blacktrash.org/fp6/unlimited.php on localhost (hard to verify or prove though ;-) - but I can create a screencast)
Are you sure you have set the `swf` and/or `swfHls` options correctly?

[2015-06-01 13:04] nnarhinen commented on #826
The error comes when the `<video>`-tag is being parsed. The reason why it works is that flowplayer will load it with Ajax and those headers most likely are sent correctly. To avoid this error you could just modify the html to be something like this:

[code]

[2015-06-01 13:06] DrySs commented on #810
@blacktrash

How could I try video in plain video HTML5 tag as Firefox does not handle HLS mimetype?
I cannot play video stream without any Flash player in Firefox.

On other browsers, not problem, as I said.

Is there a way to know if the problem is linked to video stream?

Thanks

[2015-06-01 13:26] blacktrash commented on #810
@DrySs - the point I was trying to make that some videos border on stuttering in html5 video in _any_ browser, so if you create a HLS stream with similar transcoding settings (and/or not enough resolutions) this will make the problem in Flash HLS even more noticeable in Firefox. Furthermore variant playlists often declare the wrong BANDWIDTH (instead of peak bit rate, they announce a roughly calcu

[2015-06-01 13:48] DrySs commented on #810
@blacktrash

Just updated my page with on manual installation and a dom ready waiting:

http://dev.dryss.com/signedcookiesfp/

But now, player is not working anymore on Firefox (OK on Chrome), any idea why?

FIY, here is the exact HLS used for this example:

- http://dev.dryss.com/signedcookiesfp/hls/manifest.m3u8
- http://dev.dryss.com/signedcookiesfp/hls/hls_400k.m3u8
- http://dev.dryss.com/sign

[2015-06-01 14:20] blacktrash commented on #826
After my first attempt at documenting this, it turns out to be tricky:
At http://flowplayer.org/standalone/basics/subtitles.html the VTT file is loaded from a _different_ domain, but only the sub domain differs: no error, _but_ it requires CORS headers.
Now, when I add the `crossorigin` attribute there "for safety" the video does not load at all! So the `crossorigin` attribute must only be applied

[2015-06-01 14:37] blacktrash commented on #826
Re-opening for documentation. Not clear what the requirements for setting the `crossorigin` attribute are exactly.

[2015-06-01 14:46] blacktrash commented on #810
Can you please use the current 6.0.1 release?

And the TS files are cannot be found:
[code]

[2015-06-01 14:50] blacktrash commented on #810
Your sample works now (maybe crossdomain policy was missing before), but I sometimes get artifacts which point to some encoding glitch imho.

[2015-06-01 16:40] DrySs commented on #810
@blacktrash

I put first & last TS file readable here:

http://dev.dryss.com/signedcookiesfp/hls/video00000.ts
http://dev.dryss.com/signedcookiesfp/hls/video00252.ts

I reverted FP to 6.0.1.

About HLS encoding, we are using AWS Elastic Transcoder, what should we do more to no get artifacts?

[2015-06-01 16:42] DrySs commented on #810
Notice that this implementation is not working Firefox:

[code]

I have a black screen.

[2015-06-01 18:13] blacktrash commented on #810
2 TS files will not help for diagnosis, you have to make the whole kaboodle available.

I really can't say, there's a reason we are offering Flowplayer Drive ;-)

Highly speculative answer: some overoptimization in the segmenter - even Apple's segmenter (as long as they shipped it) sacrificed precision for lowering muxing overhead, for instance in some cases it got the duration wrong, quite notice

[2015-06-01 18:13] blacktrash commented on #810
Not here. Looks like an improvement. Which Firefox version? What platform? Do you have any addons enabled?

Do you experience that at http://demos.flowplayer.org/basics/long.html as well?

[2015-06-01 21:50] blacktrash opened #827 "playlist embed: should embed _configured_ playlist"
And not start for instance autoplaying the last video. Imho that is pretty surprising behaviour.
Why are all those values from the current video object propagated? What are they good for? I would expect as much as possible of the origin _configuration_ embedded so the viewing experience is as similar as possible to that on my own page.

See also: https://flowplayer.org/forum/#!/setup:embedding-iss

[2015-06-02 05:51] nnarhinen commented on #827
Is it better with the assets from http://demos.828f.flowplayer.me/ ?

[2015-06-02 05:55] nnarhinen commented on #826
Flowplayer-wise the crossorigin attribute is not needed. In a plain HTML5 video tag setup it is needed to load cross-domain subtitles.

With the video-tag based setup the browser first parses the html, raises this error and refuses to load the track to the native html5-player. Then flowplayer takes over and loads the subtitle file with ajax (which succeedes) and then empties the video tag from tra

[2015-06-02 07:01] nnarhinen commented on #812
There's some magic applied to situations where durationchange event never fires but playback starts. Then I make flowplayer believe it's in a live setup and it hides duration elements and timeline. It of course discards some of the functionality but at least the video plays.

[2015-06-02 08:01] bbbo opened #829 "seeking broken in IE8"
You cannot seek back or forth in IE8, with neither progressive download / HLS nor rtmp.

see https://flowplayer.org/forum/#!/setup:flowplayer6-ie8

[2015-06-02 08:51] blacktrash commented on #826
Understood. The problem is that the server and client side conditions differ.

- Flowplayer's ajax request requires CORS policy on the server if the domain differs, even if its only a subdomain: releases.flowplayer.org needs to have CORS already if VTT is loaded from flowplayer.org
- The VIDEO tag requires the crossorigin attribute if the _main_ domain differs only. flowplayer.org loads VTT from r

[2015-06-02 08:57] foliovision commented on #816
@blacktrash here's how you can reproduce the bug -  try our version of flowplayer.min.js from https://foliovision.com/flowplayer-keygen/auto.php

When I use the Flowplayer 6 library which you used in your example it works. I can see that there are code differences between what you used and what we got in our unlimied license.

[2015-06-02 09:15] DrySs commented on #810
Firefox 38.0.1 Win 8.1 (addons: Firebug, ColorZilla, MeasureIt, Page Speed, Web Devloper, YSlow...)

http://demos.flowplayer.org/basics/long.html is working on Firefox.

[2015-06-02 09:16] DrySs commented on #810
![image](https://cloud.githubusercontent.com/assets/230791/7932472/cfd1840e-0918-11e5-87a0-c033e51abe32.png)

[2015-06-02 09:18] DrySs commented on #810
Ok it's finally working after 10-15sc loading with black screen.
But I don't have fullscreen button anymore to reproduce the lag.

BUT, with this settings, playing seems **really** more fluid, no more big lags...

[2015-06-02 09:26] blacktrash commented on #827
First assessment:
- improvement for single clips: protocol is not expanded as well (not even with VIDEO tag install): solves problem when embedding from http site into a https site
- playlist: no autoplay (good)
- playlist VIDEO tag: muddles up the order of the clips, while keeping the order of e.g. `title`: http://flowplayer.blacktrash.org/fp6/embed-playlist.html embedded from http://flowplayer.b

[2015-06-02 09:37] blacktrash commented on #816
Looks like you managed to somehow get a broken build, duh.
I'll run some checks, and add a tested good one to your account if needed. Hang on.

[2015-06-02 09:55] blacktrash commented on #816
@foliovision - I think you downloaded your first broken build again. I'll email you the link to the correct one which I tested successfully.

[2015-06-02 09:55] #816 closed

[2015-06-02 10:08] blacktrash commented on #816
@foliovision - email sent to your Flowplayer account email address.

[2015-06-02 10:43] blacktrash commented on #810
You have to thoroughly purge the browser caches when (re)testing Flash stuff.
I see the fullscreen button at http://dev.dryss.com/signedcookiesfp/ (although it still loads the adhoc build) - but you can also hit "f" while hovering over the player area.

[2015-06-02 10:43] #810 closed

[2015-06-02 10:50] DrySs commented on #810
Even after purge the browser cache (note that my cache browser is disabled by default for dev env), is still not have any buttons displayed:

![image](https://cloud.githubusercontent.com/assets/230791/7934241/deee536a-0925-11e5-8766-529da4f55e37.png)

Notice that press "f" key does not work too.
Indeed, it works for fullscreen before I play video, and then when video starts to play, fullscreen aut

[2015-06-02 10:54] blacktrash commented on #810
- please load the 6.0.1 release, also the skin, make that clear by loading them from //releases.flowplayer.org/6.0.1/
- which Firefox version? which platform?
- did you really disable all addons?
- same problem at  http://demos.flowplayer.org/basics/long.html ?
- to purge cache you sometimes have to close the page, purge cache, quit browser, restart, revisit page with modern browsers

[2015-06-02 11:42] DrySs commented on #810
- 6.0.1 is already loaded and cleared
- Firefox 38.0.1 on Windows 8.1
- Disabled all addons, no change
- Yes, same issue on http://demos.flowplayer.org/basics/long.html
- cache purged, page closed, restarted browser and refreshed pages, no change

[2015-06-02 11:53] blacktrash commented on #810
A colleague with Windows FF will check.
Not http://dev.dryss.com/signedcookiesfp/ though, which still uses the adhoc assets, but http://demos.flowplayer.org/basics/long.html

[2015-06-02 11:54] blacktrash commented on #810
Please also give your Flash version (there is the odd buggy one) in FF.

[2015-06-02 11:55] danrossi commented on #800
You've taken out one library and replaced with another. It would be natural to move to that instead.

This is what I needed

common = flowplayer.common,

[2015-06-02 12:11] DrySs commented on #810
Shockwave Flash 17.0.0.169

[2015-06-02 12:47] nnarhinen commented on #817
Is the mp4 stream still accessible?

[2015-06-02 13:04] DrySs commented on #817
You mean if the file is still available on CloudFront?
Yes it is :)

[2015-06-02 13:05] nnarhinen commented on #817
But does not work on the plain video tag either, it seems. Or does it work for you?

[2015-06-02 13:06] DrySs commented on #817
Ok was not the correct filename, can you try again?

[2015-06-02 13:06] nnarhinen commented on #817
http://dev.dryss.com/cf/ even the download link does not work.

[2015-06-02 13:07] DrySs commented on #817
Should work, sorry just refresh :)

[2015-06-02 13:11] nnarhinen commented on #817
Can you make it use the flowplayer.min.js I linked earlier in this thread: http://cdn.820f.flowplayer.me/adhoc/flowplayer.min.js

[2015-06-02 13:12] nnarhinen commented on #817
(it is using the ones built from pull request 819, should be 820)

[2015-06-02 13:12] DrySs commented on #817
Done :)

[2015-06-02 13:14] nnarhinen commented on #817
Are you sure, my browser after cache-refresh still tries to load http://cdn.819f.flowplayer.me/adhoc/flowplayer.min.js and it should be http://cdn.820f.flowplayer.me/adhoc/flowplayer.min.js

[2015-06-02 13:15] DrySs commented on #817
You'r right, please refresh?

[2015-06-02 13:16] nnarhinen commented on #817
cool thanks, will dig a little deeper

[2015-06-02 13:43] nnarhinen commented on #817
@DrySs @blacktrash Can you see what is the difference between the two urls now?

Are the cloudfront urls disposable, I mean do they prevent loading same url multiple times?

![image](https://cloud.githubusercontent.com/assets/265438/7937092/76e74e4a-0946-11e5-9651-c08e66d4761a.png)

[2015-06-02 13:47] nnarhinen commented on #817
(maybe try removing the plain video tag just to be sure)

[2015-06-02 13:54] blacktrash commented on #810
Yes. Confirmed by a Windows colleague. Bummer :-(
wmode opaque is the best you'll get then - at least with that browser and Flash version; works fine in Mac FF.

[2015-06-02 14:15] blacktrash commented on #817
Does flowplayer.js handle the plus sign for space?

[2015-06-02 14:17] nnarhinen commented on #817
From my screenshot, the first one is the video tag request, the second one the flash object requesting. @blacktrash if you could open the site and check the console if you see what the difference in the two requests are, that would be much appreciated..

[2015-06-02 14:18] nnarhinen commented on #817
flowplayer.js does nothing to the url in this adhoc build, it offloads everything to flowplayer.swf and the request is made by flash.

[2015-06-02 14:20] blacktrash commented on #817
So does the swf handle the plus sign? Or is it like JS only aware of %20?

[2015-06-02 14:21] nnarhinen commented on #817
I don't know anything else than what I see in the browser network console. I see two identical requests from which another fails with 403 and the other not. Can you spot some differences between the two requests?

[2015-06-02 14:21] blacktrash commented on #817
As a reminder: this works here: http://flowplayer.blacktrash.org/fp6/signed-with-space.html?forceflash

[2015-06-02 14:22] nnarhinen commented on #817
Are cloudfront signed urls one-time-only, as in do they expire on first load?

[2015-06-02 14:22] blacktrash commented on #817
No they expire when expiry time is over.

[2015-06-02 14:23] blacktrash commented on #817
But the browser might be able to deal with + for space, whereas JS and Flash may not be prepared for that.

[2015-06-02 14:23] nnarhinen commented on #817
Can you please take a look in the network console of your browser to spot any differences in the requests.

[2015-06-02 14:32] blacktrash commented on #817
The "malformed" signature *as presented by the console* is the same as the good one, I diffed them.

[2015-06-02 16:04] blacktrash commented on #817
It's only the Flash engine that has the problem:
http://flowplayer.blacktrash.org/fp6/signed-with-space.php works
http://flowplayer.blacktrash.org/fp6/signed-with-space.php fails

Same url in both cases. Same problem over rtmp. Only happens with "special chars" in filenames.
It has to do with how Flash processes the filenames, writes them back to the page into the object.

[2015-06-02 23:07] blacktrash commented on #826
Native subtitles do not work even if `crossdomain` is added: http://flowplayer.blacktrash.org/fp6/subtitles.html

[2015-06-02 23:54] blacktrash commented on #817
To make the confusion complete: Unsigned all of the following work with Flash HTTP progressive download:
[code]
[code]
and(!):
[code]
Similarly UTF chars.
(they all do _not_ work over RTMP - https://github.com/flowplayer/flowplayer/issues/821)

[2015-06-03 07:12] nnarhinen commented on #826
The attribute is called `crossorigin`

[2015-06-03 07:43] blacktrash commented on #826
Too much testing typo lapse, sorry. But the diagnosis is the same.

http://flowplayer.blacktrash.org/fp6/subtitles.html corrected.

[2015-06-03 07:44] nnarhinen commented on #826
from MDN

This enumerated attribute indicates if the fetching of the related image must be done using CORS or not. CORS-enabled resources can be reused in the <canvas> element without being tainted. The allowed values are:
anonymous
A cross-origin request (i.e. with Origin: HTTP header) is performed. But no credential is sent (i.e. no cookie, no X.509 certificate and no HTTP Basic authentication i

[2015-06-03 07:45] nnarhinen commented on #826
So I guess it has to be `crossorigin="anonymous"`

[2015-06-03 07:49] nnarhinen commented on #826
Also: http://releases.flowplayer.org/fp5/subtitles-en.vtt is not accessible

[2015-06-03 08:00] blacktrash commented on #826
Tried that as well: nope.
Now trying in plain VIDEO tag:
- with crossorigin attribute: video does not even play
- without crossorigin attribute: subtitles shown in e.g. Firefox, but not in Chrome

Demo http://flowplayer.blacktrash.org/fp6/subtitles.html updated and hopefully purged of all typos.

[2015-06-03 08:09] nnarhinen commented on #826
Yeah, I have no clue why on http://jsfiddle.net/kyk71s38/ the first video does not play, not on firefox, not on chrome. On firefox it complains about no suitable mime-type..

[2015-06-03 08:12] nnarhinen commented on #826
http://jsfiddle.net/kyk71s38/

Chrome:
 * Only second video plays, no subtitles
Firefox:
 * Only second video plays, subtitles shown
Safari:
 * Both videos play, subtitles shown for second player

So by spec, Safari seems to be the only one handling this as it should..

[2015-06-03 08:16] nnarhinen commented on #826
So I guess what we actually have to do here, is to
 * remove `crossorigin` attribute from the video tag in first-frame setups (where the video tag is re-used) if `native_subtitles` is not in set
 * Add a disclaimer to the `native_subtitles` documentation that browsers are broken

[2015-06-03 09:29] joseluismg opened #830 "ID3 events for HLS"
It would be nice to be able to read meta events ID3  (or any other instream events)

Currently the flash player can be trigger when events happens using the onMetaData, but this is not implemented in the flowplayer HTML5. It will be awesome to have a similar feature,

[2015-06-03 09:41] blacktrash commented on #830
This is planned. No exact time frame yet though - should be consistent also in generic HLS.

[2015-06-03 09:45] blacktrash commented on #826
I see the subtitles in second video in Firefox Mac 38.0.5.
Other than that I agree. Will add warning (bordering on deprecation) to option docs.

[2015-06-03 10:42] blacktrash commented on #826
@nnarhinen - doc part is done.

[2015-06-03 11:25] blacktrash commented on #817
Demo updated with an UTF8 filename: http://flowplayer.dev/fp6/signed-with-space.php?flash
As long as
1. the filenames are url encoded _before_ signing
2. the + for space encoding is avoided and %20 is used

it works in Flash (except for RTMP - different bug) and HTML5.

[2015-06-03 14:02] nnarhinen commented on #826
Github messed up the formatting of the comment, edited :)

[2015-06-03 14:29] foliovision opened #831 "iPhone playback crashes when you exit twice"
Just stumbled upon a playback glitch on iPhone 6.1.1 and 7.0.3 (I used X code simulator for this one):

1) Open flowplayer.org/player
2) Play the video, the internal video player takes over the playback
3) Exit the playback after couple of seconds
4) Click to resume the video
5) Exit the playback again
6) Click to resume the video again - it won't ever load. Instead the error event gets triggered

[2015-06-03 15:11] blacktrash commented on #715
Done in Flowplayer 6.

[2015-06-03 15:11] #715 closed

[2015-06-03 18:27] nnarhinen commented on #817
It's good we have found a *workaround* for this. But for consistency our flash engine _should_ work just like the html5 one. And I'm close to the solution.

[2015-06-03 18:49] blacktrash commented on #817
Encoding before signing must be done for HTML5 video as well. I don't see what's to change there.
The only difference I see (over HTTP) is that Flash can't deal with the plus sign returned by the AWS SDK (I speculate that the Flash engine does not write + in the object but 20% and that breaks the sig) - so afaics the only question is whether we want/can support the AWS SDK without breaking other s

[2015-06-03 18:58] DrySs commented on #817
@blacktrash

The + sign is not returned by Amazon SDK, but when you use "urlencode".
When using "rawurlencode", there is no more + sign.

[2015-06-03 18:59] DrySs commented on #817
http://stackoverflow.com/questions/996139/urlencode-vs-rawurlencode

[2015-06-04 05:54] nnarhinen commented on #831
I cannot reproduce this with the 8.3 iPhone simulator.

[2015-06-04 06:02] anssip commented on #831
I cannot reproduce on my iPhone 5s. @foliovision, how do you exit the playback? Using the "Done" button?

[2015-06-04 07:36] nnarhinen commented on #829
@bbbo please test here: http://demos.832f.flowplayer.me/

[2015-06-04 07:44] nnarhinen commented on #827
On during which video did you hit the embed button?

The sources expanded and intended show that the clip is night4 (taken from embed-playlist.html)

[code]

I will have to check why the title is wrong though.

[2015-06-04 07:46] nnarhinen commented on #827
Yeah night4 does not have a title. Was there an independent issue for clip properties sticking while looping a playlist through?

[2015-06-04 07:49] bbbo commented on #829
yup. fixed.

[2015-06-04 07:49] #829 closed

[2015-06-04 07:54] nnarhinen commented on #812
This fix will be available in 6.0.3

[2015-06-04 07:54] #812 closed

[2015-06-04 10:05] zhjyii opened #833 "Cuepoint not working on fullscreen."
I am loading a HTML page on cuepoints, it works on non-fullscreen state, but the HTML page won't shown on fullscreen mode. I tried it with the new v6 release on IE, Chrome and Friefox, neither works.

In my code I am catching the cuepoint event and then lower the player's z-index to show the html page, which has higher z-index as below:
/* on entering  cuepoints, lower player's z-index */
flowplay

[2015-06-04 10:21] nnarhinen commented on #833
As per our [contribution guidelines](https://github.com/flowplayer/flowplayer/blob/master/CONTRIBUTING.md), please move this discussion to our [forums](https://flowplayer.org/forum/)

Remember to
 * Link to a minimal live example that exposes this problem
 * Use code formatting when showing code

If this really boils down to a bug within the player, you or we can re-open this issue with more speci

[2015-06-04 10:21] #833 closed

[2015-06-04 10:32] zhjyii commented on #833
Sorry, will do.

Jian

[2015-06-04 12:48] nnarhinen commented on #823
This should be fixed with assets from http://demos.834f.flowplayer.me/

Even though I did test #834 locally to some extent, it would be awesome if you could test various configurations to see if it did break something regarding playlist clip changes.

[2015-06-05 00:06] blacktrash commented on #827
The problem is 2-fold:
1. The embedded playlist should start playing with index 0 (that's not the case - look at http://stream.flowplayer.org/night1.mp4), not the the index when the viewer decides to embed. That is like if an embedded single clip always starts at the point when the viewer decided to embed it. Or as if someone decides to buy my record, and it always starts at track 4, because that'

[2015-06-05 07:32] nnarhinen commented on #827
1) The current behavior is by design --- the user clicks on the embed button when she sees a video and embeds it to her own site. *I* would be very surprised if it would embed something that would not be the video she was seeing.  So at least this would have to be communicated clearly in the embed dialog (see the youtube screenshot below)

2) Yeah that is definitely a bug

![image](https://cloud.g

[2015-06-05 08:44] nnarhinen commented on #830
@joseluismg Do you have any (semi-)public HLS stream I could use for developing purposes to add support for meta events?

[2015-06-05 09:25] nnarhinen commented on #826
Now flowplayer should handle crossorigin so that it does not break. Assets from http://demos.835f.flowplayer.me/ can be used to verify

[2015-06-05 09:25] joseluismg commented on #830
please check you inbox,

[2015-06-05 10:57] blacktrash commented on #827
1) From a content provider's and site owner's view I strongly disagree with YouTube's behavior - we also do not autoplay by default, so we don't have to mimic everything YouTube does (Apples vs Oranges). It would maybe make optional sense if the playlist loops. But otherwise the moment of embedding is stuck on other sites forever (especially annoying if it starts with the last video). If I compile

[2015-06-05 18:50] bbbo opened #836 "subtiltes do not work in IE8 for Fp6"
did not check other Flash only devices yet

compare

http://demos.flowplayer.org/basics/subtitle.html ( no subs)
to
http://demos.flowplayer.org/v5/basics/subtitle.html
(strangely, only the srt subs work there)

[2015-06-05 22:20] blacktrash commented on #826
Hm, I don't see a difference, I may be missing something.
Demo with all scenarios: http://flowplayer.blacktrash.org/fp6/subtitles.html
(It's not that big a problem, can be solved with advice).

[2015-06-05 22:33] blacktrash commented on #823
hm, the scenario in https://github.com/flowplayer/flowplayer/issues/823#issue-83411367 still gives "Flash not found": http://flowplayer.blacktrash.org/fp6/rtmp-vflash.html

[2015-06-05 22:42] blacktrash commented on #827
If we say that 1) is not a bug, but a feature, maybe consider an option (like, ermh, in YouTube). As per aforementioned https://flowplayer.org/forum/#!/setup:embedding-issues I'm not the only one to find the YouTube default behavior surprising: "Is it possible to make the embedded playlist always start at the beginning?"

[2015-06-05 22:48] blacktrash commented on #823
`title` property is not sticky anymore.

[2015-06-06 14:40] danrossi commented on #800
ClassList is missing. How to access ?

flowplayer.common and flowplayer.bean both accessible.

[2015-06-07 18:19] nnarhinen commented on #826
You had a demo where flowplayer errored out with HTML5: video not found when crossorigin was set but subtitles not loaded cross-domain. Now the only failing player is the one with `nativesubtitles: true`, because the code does not remove the attribute when `nativesubtitles` is used.

[2015-06-08 06:14] nnarhinen commented on #836
Well the first ones cannot work, because of no CORS in IE8. I don't know why the second video does not load. @blacktrash can you make a standalone page of the SRT example alone.

[2015-06-08 06:27] nnarhinen commented on #823
@blacktrash maybe because you used the assets from #835 and not #834

[2015-06-08 06:50] nnarhinen commented on #827
@blacktrash http://demos.828f.flowplayer.me/

Using the assets from that site, now if you embed a playlist that has `conf.embed.playlist: true`, it will embed the playlist but not the clip, which means that the initialization of flowplayer will pick the first playlist item as the clip. Should resolve 1)

[2015-06-08 07:06] blacktrash commented on #827
:+1: - we can still add the "current" thing as an option if demand arises.

[2015-06-08 07:06] #827 closed

[2015-06-08 07:24] blacktrash commented on #823
Ah, right. :+1:
@nnarhinen - doc-wise: can you confirm somthing like:
"`rtmp` *must* be set on clip level for *all* clips if the option does not apply to one clip in a playlist."
?
i.e.
1. you cannot expect a global rtmp setting to be unset for a "video/flash" clip which is served over http (this scenario)
2. you cannot expect `rtmp` to default to the global rtmp value if rtmp differs for one clip

[2015-06-08 07:49] blacktrash commented on #826
Yes. You're right. Confirming fix for non-native subtitles.

[2015-06-08 07:49] #826 closed

[2015-06-08 08:12] blacktrash commented on #836
http://flowplayer.blacktrash.org/fp6/srt.html (currently uses 6.0.1)

[2015-06-08 08:41] nnarhinen commented on #836
Ok, those seem to work on IE8 on browserstack. So the problem is the lack of CORS support. I guess this has always been the case on IE8.

[2015-06-08 08:41] #836 closed

[2015-06-08 08:45] nnarhinen commented on #823
the code goes something like

[code]

so now saying
[code]

would make it use `<rtmpurl>`.

I could make special logic with `rtmp: false` to completely disable rtmp for current clip but I don't know if that is easier at all to document.

So the easiest to document I guess is to advice setting rtmp on clip level for playlists if *any* of the rtmp urls differ.

[2015-06-08 08:47] nnarhinen commented on #827
(Did you try it actually works as should? Just to confirm..)

[2015-06-08 09:10] blacktrash commented on #823
Thanks for clarifying. Fine with documenting it the way it is.

[2015-06-08 09:10] #823 closed

[2015-06-08 09:28] blacktrash commented on #825
This seems to be solved by https://github.com/flowplayer/flowplayer/commit/bc22032e54ae09972cdbc3c61d2ea69d96115954
@nnarhinen - you can check at http://flowplayer.blacktrash.org/fp6/ratio.html - uses assets from //cdn.834f.flowplayer.me

[2015-06-08 09:34] blacktrash commented on #836
But didn't @bbbo - say that there's a difference between http://demos.flowplayer.org/basics/subtitle.html and http://demos.flowplayer.org/v5/basics/subtitle.html ? If there's indeed a difference then that would mean that the srt subtitles do not work on http://demos.flowplayer.org/basics/subtitle.html ?
@bbbo - do you think it's better to switch back to local loading of vtt at https://flowplayer.o

[2015-06-08 09:36] blacktrash commented on #827
Yes, I can confirm that it works.

[2015-06-08 09:47] blacktrash opened #837 "analytics: use clip.title?"
Currently analytics uses the `title` container attribute - which has no Flowplayer-related effect otherwise.
1. Make it use clip.title?
2. But 1. would mean that analytics also work on clip level, i.e. for each clip of a playlist - afaik this is not the case

See also: https://flowplayer.org/forum/#!/setup:analytics-not-using-clip-le

[2015-06-08 16:12] nnarhinen commented on #836
@blacktrash Yeah @bbbo said only the SRT subtitles work on the fp5 demo (because they are not loaded over CORS). And on the fp6 demo site the second example does not work at all on IE8 (no player loaded). But that has to be a different problem.

[2015-06-08 16:18] nnarhinen commented on #825
I managed to break that demo when clicking randomly at the switches very fast. So there is a timing problem still. But it is such a corner case that I'm not completely sure if it makes sense to start making it 100% reliable.

The reason why it is not 100% reliable with the current code:

 * When `engine.load()` is called, the flash engine checks what rtmp is used currently by the swf object
 * If

[2015-06-08 17:19] nnarhinen commented on #837
http://demos.838f.flowplayer.me/ (And the assets from there) now should use `player.video.title` when reporting.

[2015-06-08 17:20] nnarhinen commented on #837
Does someone want to check&confirm or should I just merge to dev?

[2015-06-08 17:25] bbbo commented on #837
just merge to dev; I'll try with a test setup tomorrow

[2015-06-08 17:31] nnarhinen commented on #837
Ok merged to dev.

[2015-06-08 17:31] #837 closed

[2015-06-08 17:31] nnarhinen commented on #831
Closing this issue as it cannot be reproduced on our current devices and simulators.

[2015-06-08 17:32] nnarhinen commented on #824
@blacktrash You mean that stating `debug: true` should enable flashls debuggin options or?

[2015-06-08 18:07] nnarhinen commented on #811
http://demos.dev94.flowplayer.us/ and the assets there have this issue fixed and it will be available in the next release

[2015-06-08 22:24] blacktrash commented on #824
No, that would be too verbose.
[code]
should have the appropriate effect.

[2015-06-09 04:15] #811 closed

[2015-06-09 05:06] nnarhinen commented on #824
http://demos.839f.flowplayer.me/ and the assets from there should enable this

[2015-06-09 05:07] #824 closed

[2015-06-09 05:24] nnarhinen opened #840 "jQuery plugin init - config precedence wrong"
Our documentation states overriding rules (lowest number wins)

 1. HTML configuration
 2. local JavaScript configuration
 3. global JavaScript configuration

However the current order in jQuery is

 1. local js conf
 2. container data attributes
 3. parsed video tag configuration
 4. global js conf

It makes much more sense to do this as per the documentation:

 * You can init multiple players by

[2015-06-09 05:51] nnarhinen commented on #840
@blacktrash http://demos.841f.flowplayer.me/ and assets from there

[2015-06-09 06:10] nnarhinen commented on #782
FP6 is released.

[2015-06-09 06:10] #782 closed

[2015-06-09 06:10] nnarhinen commented on #775
Is this issue still present / relevant with FP6?

[2015-06-09 06:24] nnarhinen commented on #443
http://demos.842f.flowplayer.me/ and the assets from there

[2015-06-09 06:26] #429 closed

[2015-06-09 06:27] #46 closed

[2015-06-09 06:29] nnarhinen commented on #233
The designer will get a rewrite.

[2015-06-09 06:29] #233 closed

[2015-06-09 06:29] #182 closed

[2015-06-09 06:32] #809 closed

[2015-06-09 06:34] nnarhinen commented on #752
@blacktrash This is fixed by FP6, right?

[2015-06-09 06:34] #752 closed

[2015-06-09 06:37] nnarhinen commented on #750
This seems not to be a problem with FP6 anymore

[2015-06-09 06:37] #750 closed

[2015-06-09 06:45] #395 closed

[2015-06-09 06:46] #788 closed

[2015-06-09 06:49] nnarhinen commented on #748
@blacktrash Is this still a problem with FP6?

[2015-06-09 08:49] Aybee commented on #443
This is not enough. Only chance to have playlist outside of container is to create playlist manually and map the playlist items to the player. It's really important to have an option to have the playlist outside of the container.

[2015-06-09 09:18] bbbo commented on #748
Apparently yes. I never get a pure rtmp connection with Chrome.

Additionally, http://demos.flowplayer.org/basics/rtmp.html always
preloads the first 2 MB of the WebM source as well...

[2015-06-09 09:20] Aybee commented on #443
e.g. here http://demos.842f.flowplayer.me/playlist/grid.html the demo says

But playlist is inside the container even though in this design you can handle it with CSS showing the playlist outside the player. This is done by assigning a fixed `bottom: -440px;` to the `.fp-playlist`. But it is not possible handling a fluid playlist on different screens.
[code]
To handle a real fluid playlist it has

[2015-06-09 09:30] nnarhinen commented on #443
With the changes I made for #842 you are able to do:

[code]

Which makes flowplayer automatically use the playlist.

[2015-06-09 09:31] nnarhinen commented on #748
The preloading cannot be helped without changin it to a pure javascript install (the browser starts preloading the webm source before flowplayer takes over)

[2015-06-09 09:39] blacktrash commented on #443
@nnarhinen :+1: - does this require jQuery?

[2015-06-09 09:40] nnarhinen commented on #748
What are the possible values?

[2015-06-09 09:42] blacktrash commented on #752
Yes, `rtmp` or `rtmp.url` is mandatory with Flowplayer 6.

[2015-06-09 09:45] nnarhinen commented on #443
Flowplayer will not generate the playlist outside of the container still. So if your `conf.query` does not find the elements _or_ you specify playlist in the passed configuration to `flowplayer()`, the playlist will be generated inside the container and will not work. So specifying `conf.query` also implies that the playlist have to be found from the HTML markup. So in a way it mostly makes sense

[2015-06-09 09:51] blacktrash commented on #443
Understood. The very nature of the thing appeals to VIDEO tag based installs.

[2015-06-09 10:12] blacktrash commented on #748
@nnarhinen - the `proxy` option exists already since recent 5.x (making the `rtmpt` option somewhat redundant): https://flowplayer.org/docs/setup.html#rtmp-options
Values: http://help.adobe.com/en_US/FlashPlatform/reference/actionscript/3/flash/net/NetConnection.html#proxyType

And, yes, it still happens. Compare network console at
http://demos.flowplayer.org/basics/rtmp.html
with
http://flash.flo

[2015-06-09 10:15] blacktrash commented on #825
Confirming that it still can happen with some "nasty" clicking.

[2015-06-09 10:22] blacktrash commented on #750
Confirming it's fixed.

[2015-06-09 10:24] blacktrash commented on #46
Yes. See: http://demos.flowplayer.org/scripting/recover.html

[2015-06-09 10:45] blacktrash opened #843 "swfHls = false triggers error with live streams"
http://flowplayer.blacktrash.org/fp6/live.html
Workarounds: list `video/flash` first or `engine: "html5"` for the HLS source.

[2015-06-09 11:02] blacktrash commented on #840
Tested `rtmp` sucessfully.
But `autoplay` is not overridden: http://flowplayer.blacktrash.org/fp6/minimal.html should not autoplay imho (same if autoplay is set globally).

[2015-06-09 11:18] blacktrash commented on #824
First of all: the options are (hls_)debug and (hls_)debug2 - *not* (hls_)debug1 - https://github.com/mangui/flashls#configuration - sorry, my bad.

In spite of that: both `flashls.debug` and `flashls.debug2` work as expected. :+1:

[2015-06-09 11:36] blacktrash commented on #775
Confirming: Haven't found a way to reproduce.

[2015-06-09 11:41] blacktrash opened #844 "rtmp live: error(s) on initialization and later"
http://flowplayer.blacktrash.org/fp6/live-rtmp.html
Firefox console:
Error: Error calling method on NPObject!    flowplayer.js (line 617, col 17)

Chrome:
flowplayer.js:625 Uncaught Error: Error: An invalid exception was thrown.
flowplayer.js:525 Uncaught Error: Error: An invalid exception was thrown.(anonymous function)

Chrome also:
Failed to load resource: the server responded with a status of

[2015-06-09 11:44] blacktrash commented on #844
#843 is maybe related.

[2015-06-09 11:54] #443 closed

[2015-06-09 12:35] nnarhinen commented on #843
You can try with assets from http://demos.845f.flowplayer.me/

[2015-06-09 12:45] nnarhinen commented on #844
Does it autoplay for you too? I *guess* it has something to do with that. It's the initial volume setting on ready event that does it, maybe the stream provider is not ready yet or something like that.

Can you try make it a splash setup? (IMHO first frame setups with live streams do not make that much sense anyway..)

[2015-06-09 12:55] nnarhinen commented on #840
Can you make that page load flowplayer.js only once?

[2015-06-09 16:01] blacktrash commented on #840
Sorry, done. Still does autoplay though.

[2015-06-09 16:10] blacktrash commented on #775
I completely missed the RTMP thing, sorry. Yes, the problem is still there: http://flowplayer.blacktrash.org/fp6/live-rtmp.html

[2015-06-09 16:12] blacktrash commented on #844
Right, splash works, it's in fact #755 - feel free to close one ;-)

[2015-06-09 16:14] blacktrash commented on #844
The only argument for non-splash would be that the stream (maybe) comes on quicker on click ...

[2015-06-09 16:19] blacktrash commented on #843
That fixes the problem.

[2015-06-09 18:29] nnarhinen commented on #840
opening javascript console on that page and writing `flowplayer(0).conf.autoplay` states `false`

there has to be something in the flash engine or somewhere that reads the data-attributes directly or smth..

[2015-06-09 19:23] blacktrash commented on #840
Rather something which prevents the data attribute from being evaluated: it's `data-autoplay="false"`
But indeed only the Flash engine is affected, I just tested with RTMP video/flash first.

[2015-06-09 20:52] Aybee commented on #443
@nnarhinen Thank you for your reply. I will test it on next need.

[2015-06-10 12:39] nnarhinen commented on #840
The configuration evaluates just fine -- as I said `flowplayer(0).conf.autoplay` is `false` (of type `boolean`)

[2015-06-10 12:50] nnarhinen commented on #840
Should be fine now.

[2015-06-10 13:06] blacktrash commented on #840
That's sorta what I meant ;-)
Confirming that this fixes the problem.

[2015-06-10 13:13] #844 closed

[2015-06-10 13:16] nnarhinen commented on #775
Enabling debug on http://flowplayer.blacktrash.org/fp6/live-rtmp.html (`window.localStorage.flowplayerDebug = true`) I can see that it connects with rtmp and stops on first frame.

After a while it also connects with rtmpt and starts playing that.

[2015-06-10 13:18] nnarhinen commented on #775
@anssip please take a look, this rtmp/rtmpt (also #748 even though it's a different problem) causes some confusion now it seems.

[2015-06-10 13:19] nnarhinen commented on #775
@blacktrash can you make another demo (leave that for @anssip to debug) with rtmpt disabled to see if my initial guess is right.

[2015-06-10 13:23] #843 closed

[2015-06-10 13:23] #840 closed

[2015-06-10 13:25] nnarhinen commented on #745
@blacktrash / @bbbo what are the safe `wmode` values for which IE versions?

[2015-06-10 13:29] nnarhinen commented on #741
I guess we don't need this issue anymore as full rtmp urls are not supported anymore.

[2015-06-10 13:29] #741 closed

[2015-06-10 13:31] nnarhinen commented on #785
Not reproducable anymore.

[2015-06-10 13:31] #785 closed

[2015-06-10 13:33] blacktrash commented on #745
After @bbbo ran some tests in Windows (@bbbo, remind me: Chrome on Win couldn't handle "direct" either, right?), I'm currently experimenting with:
[code]
So it would be great if you ran some tests on Linux: http://flowplayer.blacktrash.org/fp6/independent.html?wmode=direct and http://flowplayer.blacktrash.org/fp6/independent.html?wmode=window

So far there are no problems with "opaque", so it woul

[2015-06-10 13:35] blacktrash commented on #741
Correct.

[2015-06-10 13:42] blacktrash commented on #775
@nnarhinen - your initial guess is indeed correct: http://flowplayer.blacktrash.org/fp6/live-rtmp-nortmpt.html
@anssip - http://flowplayer.blacktrash.org/fp6/live-rtmp.html no has debug enabled, I left it out initially to make the error easier to spot.

[2015-06-12 12:16] foliovision commented on #831
@anssip yes, I use the "Done" button of the iPhone internal video player. What iOS is in your iPhone 52?

@nnarhinen does iPhone 8.3 support inline playback or not?

I'm still getting this behavior on: http://flowplayer.org/player

* iPhone with iOS 7.0.3 (Xcode simulator)
* iPod with iOS 6.1.6

[2015-06-12 12:40] danrossi commented on #260
@robinboening

The engine has been updated for Version 6 as it as a pretty huge refactoring.  check it out.

https://github.com/danrossi/audio-engine

http://flowplayer.electroteque.org/audio/fp5

[2015-06-12 15:42] bbbo opened #847 "IE8: muted on start despite volume showing, chsanngin volume does not work"
see https://flowplayer.org/forum/#!/setup:supported-browsers/the-first-error-that-i-am-g .

HLS starts with sound, but I cannot change the volume there either.

[2015-06-12 16:50] nnarhinen commented on #831
@foliovision no, it uses the fullscreen player

[2015-06-12 18:16] nnarhinen commented on #847
Do you get this also on http://demos.dev94.flowplayer.us ?

Because I already fixed most likely at least parts of this for #811

[2015-06-12 18:37] blacktrash opened #848 "Optionally start with subtitles present, but disabled"
`disableSubtitles()` has no effect on load or on ready. Eearliest oportunity is something like:
[code]
And if there's a subtitle at pos 0, it will still appear, unless one hides it with a CSS rule.
This should be easier to acchieve.
See:
https://flowplayer.org/forum/#!/setup:how-to-no-subtitles-on-th

[2015-06-13 08:26] bbbo commented on #847
will check

[2015-06-13 09:10] nnarhinen commented on #848
@blacktrash I don't know about the current HTML5 video tag implementations amongst browsers, but looking at the documentation of `<track>` the `default` property should be used for this.

So I propose that if no subtitles are defined with `default: true` then no subtitles are shown by default.

And the first one with `default: true` will be picked as the initial subtitle.

[2015-06-13 12:04] blacktrash commented on #848
Makes absolute sense :+1:
Just to avoid any misunderstanding: the menu will be displayed, but subtitles only upon manual selection from the menu.

[2015-06-13 13:50] bbbo commented on #847
nope, the clips start muted. Clicking on the volume button twice (off/on) enables sound.
BTW, would it make sense to build the demos with unminified scripts, and debug enabled? Or have a separate branch for debug purposes?

[2015-06-13 14:54] nnarhinen commented on #847
We could make the dev- and adhoc demo pages use the unminified script. Debug can be enabled on any player with FP6 with following steps:

 * open javascript console
 * write `window.localStorage.flowplayerDebug = true;`
 * refresh page

When done debugging, it can be disabled with `delete window.localStorage.flowplayerDebug`

[2015-06-13 17:34] nnarhinen commented on #848
Yes, that's exactly how I thought it should behave.

[2015-06-13 17:50] blacktrash commented on #848
Go for it then ;-)

[2015-06-13 20:00] nnarhinen commented on #847
Please try with http://demos.851f.flowplayer.me/

[2015-06-14 11:01] blacktrash opened #852 "analytics: use long hearbeat interval"
Current implementation - see: #644 - uses progress event. The progress interval is too short:
- will stop tracking after 500 hits
- most probably entails a performance hit

Use GA tracker functionality directly, up the interval.
See: http://stackoverflow.com/questions/19059919/google-analytics-real-time-active-page-keep-alive

[2015-06-14 12:15] bbbo commented on #847
seems to be fixed; I do get errors n the console, but volume is there from the beginning

[2015-06-14 12:27] #847 closed

[2015-06-14 15:59] anssip commented on #775
@blacktrash should be fixed in this http://demos.853f.flowplayer.me

[2015-06-14 16:14] anssip commented on #748
It uses proxyType 'best' by default nowadays.

It always starts two connection attempts by default: RTMPT and RTMP. The first one that succeeds gets used and the second one is closed and discarded. The same logic is used in FP Flash.

My Chrome (with PepperFlash) ends up using RTMP in here: https://github.com/flowplayer/flowplayer/issues/775

Is this issue really valid?

[2015-06-14 21:40] blacktrash commented on #748
Chrome network console. Same stream.

http://flowplayer.blacktrash.org/fp6/live-rtmp.html
![screen shot 2015-06-14 at 10 35 57 pm](https://cloud.githubusercontent.com/assets/168338/8150547/d7111d34-12e5-11e5-8ade-bb3b8ad62e78.png)

http://flowplayer.blacktrash.org/test/live.html (fp flash):
![screen shot 2015-06-14 at 10 34 28 pm](https://cloud.githubusercontent.com/assets/168338/8150540/9286150c-

[2015-06-14 21:47] blacktrash commented on #775
Behaviour fix confirmed :+1: - not 100% sure about tunneling.

[2015-06-14 21:55] blacktrash commented on #748
With Flowplayer Flash you do not get all these x-fcs requests either, in Chrome.

[2015-06-15 04:35] #775 closed

[2015-06-15 05:19] anssip commented on #748
@blacktrash should be fixed in this http://demos.854f.flowplayer.me/

[2015-06-15 07:15] nnarhinen commented on #852
http://demos.855f.flowplayer.me/ should implement heartbeat every 10 minutes. I have no idea how to test this, @bbbo @blacktrash do you have any test setups?

[2015-06-15 07:50] blacktrash commented on #852
Nope, I don't.

[2015-06-15 07:53] blacktrash commented on #748
Confirming fix :+1:

[2015-06-15 08:07] bbbo commented on #852
I created an analytics account for fp; will try to dive into the details...

[2015-06-15 10:51] #748 closed

[2015-06-15 12:15] nnarhinen commented on #848
http://demos.856f.flowplayer.me/basics/subtitle.html -- seems to work as supposed, right?

[2015-06-15 12:36] blacktrash commented on #848
Right - on to updating demos with default attribute :+1:

[2015-06-15 12:52] blacktrash commented on #848
Hang on, there's a problem at least with poster setups if the first sub is at position 0: it disappears when playback starts. Same goes for the default attribute.
http://flowplayer.blacktrash.org/fp6/minimal.html

I encounterd the same problem with the workaround, see my answers at:
https://flowplayer.org/forum/#!/setup:how-to-no-subtitles-on-th

[2015-06-15 12:55] nnarhinen commented on #848
[code]

Wouldn't you expect it to dissapear when you start playback?

[2015-06-15 13:11] nnarhinen commented on #848
If I open the console in first frame mode and say `flowplayer(0).off('progress.nosub');` the subtitles stay as supposed.

[2015-06-15 13:19] blacktrash commented on #848
arrgh - I used that demo as example in the forum and forgot to remove the workaround before testing - no problem in player, but PEPKAC.

[2015-06-15 13:19] #848 closed

[2015-06-15 21:48] blacktrash opened #857 "splash setup does not unload while embed code is shown"
1. go to http://demos.flowplayer.org/basics/splash.html
2. start a player
3. show embed code (do not close embed code field)
4. start a different player
5. first player does not unload

Already present in version 5.

[2015-06-16 00:13] blacktrash opened #858 "fullscreen disabled leads to empty widget space"
The top right widgets are not re-arranged when fullscreen is disabled:
![screen shot 2015-06-16 at 1 10 38 am](https://cloud.githubusercontent.com/assets/168338/8173408/e27aaa7a-13c4-11e5-8724-f885c89e77ca.png)

[2015-06-16 04:19] nnarhinen commented on #857
Git history does not tell, but I guess the original reason is to not unload when esc key is hit when embed dialog is open.

[2015-06-16 04:24] nnarhinen commented on #857
No, that cannot be the case, esc does not unload.

[2015-06-16 08:16] blacktrash commented on #857
I think esc did at some point, and I only allowed q because esc is builtin fullscreen exit in most (not all: Safari) browsers.

[2015-06-16 11:58] thanpolas opened #859 "Video file not found with -480p.avi extension"
Hello,

We've been converting all our videos from their raw form to mp4 using ffmpeg, and save the new encoded files as `[filename]-480p.avi`.

Apparently FlowPlayer doesn't like that producing an error of:

[code]

The problem persists if `_480p.avi` extension is used.

Both the raw file and the newly encoded files are in the same folder.

I am using FP 6.0.1 and I initialize FP through the JS AP

[2015-06-16 12:02] bbbo commented on #859
as per https://github.com/flowplayer/flowplayer/blob/master/CONTRIBUTING.md , please post problems in the forums first, along with a public example page. AVI is not really the container of choice for MPEG-4, it should be MP4. Please have a look at the [encoding docs](https://flowplayer.org/docs/encoding.html) as well.
Also make sure the videos are served with the correct MIME type: video/mp4 .

[2015-06-16 12:02] #859 closed

[2015-06-16 15:48] bbbo commented on #825
I think this is good enough for now. People doing nasty clicks are probably not interested in the video content anyway. Can be closed IMO and reviewed for FP7.

[2015-06-16 16:08] bbbo commented on #745
http://flowplayer.blacktrash.org/fp6/independent.html?wmode=direct :
- seems to work quite OK in my Chrome 43 on Windows 7
- does not show the controlbar (at least not consistent) in IE11

http://flowplayer.blacktrash.org/fp6/independent.html?wmode=opaque
- is a bit jumpy in IE11
- a bit jumpy in FF 38, especially in fullscreen

http://flowplayer.blacktrash.org/fp6/independent.html?wmode=transpare

[2015-06-16 16:13] blacktrash commented on #825
Agree (famous last words).

[2015-06-16 16:15] bbbo commented on #745
in IE8, opaque and transparent are the only settings to work anyway

[2015-06-16 16:18] blacktrash commented on #745
Let's go for opaque as default.
direct would be the best playback performance wise.

[2015-06-17 05:23] nnarhinen commented on #745
Conclusion:
 * Default to `opaque`
 * Disallow `direct `and `window` on all IE's?

[2015-06-17 05:24] #825 closed

[2015-06-17 08:26] DrySs commented on #821
Hi,

Any idea when this bug will be fixed?

[2015-06-17 08:55] blacktrash commented on #745
1. default to opaque: yes
2. disallowing: no, and IE would not be enought, e.g. FF on Win also problematic

Re: 2.: needs further testing, but also might change after browser upgrades. Main goal: find out where "direct" works because it gives noticeably better performance. @nnarhinen - did you test "direct" on Linux?

[2015-06-17 09:01] foliovision commented on #831
I still suspect that while this works for you on iOS 8, there might be a problem in iOS 7 and 6. Could you please check these iOS version at least in Xcode?

[2015-06-17 09:40] blacktrash commented on #831
I can confirm problems, but no crashing, with simulated iOS 7.1: for me the "player" is stuck in loading state after the second exit (quick test).

[2015-06-17 09:48] blacktrash commented on #831
It basically does not unload cleanly.

[2015-06-17 09:52] blacktrash commented on #831
I can also repro the stuck in loading state with iOS 8 after exit, albeit more rarely.

[2015-06-17 10:01] blacktrash commented on #831
After starting and exiting a few times (also with different videos) I end up with this for iOS 8.3 - with 7.1 immediately after the 2nd exit:
![screen shot 2015-06-17 at 10 59 24 am](https://cloud.githubusercontent.com/assets/168338/8204368/fb7fdeb6-14df-11e5-9242-4d7b886f5ca9.png)

[2015-06-17 11:59] zwerfkat opened #860 "iphone/ipad ios 6.1 problem: player does not run anymore after second time playing"
Used demo page: http://demos.dev94.flowplayer.us/basics/native_fullscreen.html
Find in: Flowplayer version 6.0.0 and 6.0.1 (older version do work ok)
Client: Safari iphone/ipad ios 6.1

steps to reproduce:
-open the demo page in Safari (the splash screen isn't showed for one reason or the other)
-click on the play button: it starts buffering for a few seconds and then the native player start to pl

[2015-06-17 12:32] zwerfkat commented on #860
Seems to be closely related to the fix of issue #530 "Trigger player unload when 'done' pressed on iOS"
Because when I comment out:
//webkitendfullscreen: 'unload'
it is working again!

[2015-06-17 13:34] nnarhinen commented on #745
So is 2. a documentation thing then?

[2015-06-17 14:28] nnarhinen commented on #860
Duplicate of #831

[2015-06-17 14:28] #860 closed

[2015-06-17 14:52] blacktrash commented on #745
It's _always_ a documentation thing ;-)
According to our _current_ tests: (with default opaque):
- IE (not sure about IE9 and IE10) and FF on Win (Linux?): override "direct" and "window" with default

Do you want to implement fine-grained client detection? With the risk of a different Flash version changing the behavior yet again? I guess not, or do you?
So I assume it's _realistic_ to unfortunate

[2015-06-17 14:55] nnarhinen commented on #745
It would be very nice to offer clever defaults. But this is such a case where I would have to match user agents and do educated guesses. And then have adobe or a browser vendor do something funny that would break everything. Just feels too brittle to me.

So maybe add a documentation blurb

[2015-06-17 14:57] blacktrash commented on #745
Agree. Make "opaque" default, and leave the rest to me ;-)

[2015-06-17 15:30] #745 closed

[2015-06-17 15:53] nnarhinen commented on #821
http://demos.861f.flowplayer.me/ and the assets there.

@blacktrash do you still have the unicode filename video available via RTMP? I'd like to check this did not break that. Basic RTMP seems not affected: http://demos.861f.flowplayer.me/basics/rtmp.html

[2015-06-17 17:30] nnarhinen commented on #831
Fixed here, please conrifm: http://demos.862f.flowplayer.me/

[2015-06-17 18:21] blacktrash commented on #831
Confirming fix in iOS 7.1, 8.2, 8.3 simulators :+1:

[2015-06-17 18:41] blacktrash commented on #821
First off:
I've tested all variations of `with space`, `with%20space`, `with+space`, and they work _both_ in a JS and a VIDEO tag based install, i.e. even the illegal HTML `with space` in a src attribute.

[2015-06-17 18:45] blacktrash commented on #821
Here's with UTF-8 filename: http://flowplayer.blacktrash.org/fp6/rtmp-utf.html - looking good.

[2015-06-17 18:50] blacktrash commented on #821
FWIW, both `mp4:fp/test/Древние` and `mp4:fp/test/%D0%94%D1%80%D0%B5%D0%B2%D0%BD%D0%B8%D0%B5` work in both a JS install and VIDEO tag install.

[2015-06-17 19:06] blacktrash opened #863 "RTMP does not play until end"
http://flowplayer.blacktrash.org/fp6/art.html

Reincarnation of #309 ?

[2015-06-17 21:30] dvLden opened #864 "CSS issue on touch devices"
I am not sure if you guys noticed this, but there is one really ugly CSS issue for touch devices if using an framework or if you are applying border-box to all your elements in your CSS.

So when this is applied to all elements or when Bootstrap is used for example...
[code]

You will get following look on player control / seek bar:
![Flowplayer Default](http://i.imgur.com/aF28Qvs.png)
![Flowplaye

[2015-06-18 07:01] anssip commented on #863
@blacktrash fixed in this, please verify: http://demos.865f.flowplayer.me

[2015-06-18 08:45] blacktrash commented on #863
Looking good :+1:

[2015-06-18 09:09] blacktrash opened #866 "Flash: keep aspect ratio in the swf code, like swfHls does"
For Flash RTMP and progressive download the aspect ratio when going fullscreen is still calculated in JS. This falls short in scenarios like our video art demo:
http://flowplayer.blacktrash.org/fp6/art.html - simulates fallback to RTMP, go fullscreen
swfHls does this:
http://flowplayer.blacktrash.org/fp6/art-hls.html - different video because we currently don't have the art video available in HLS

[2015-06-19 06:04] nnarhinen commented on #864
Fixed at http://demos.867f.flowplayer.me/

[2015-06-19 06:04] #821 closed

[2015-06-19 06:05] #831 closed

[2015-06-19 06:16] #863 closed

[2015-06-19 07:04] nnarhinen commented on #866
http://demos.868f.flowplayer.me/

[2015-06-19 07:04] nnarhinen commented on #866
Also #868

[2015-06-19 07:06] #864 closed

[2015-06-19 07:06] #852 closed

[2015-06-19 07:52] blacktrash commented on #866
Hm, doesn't do the trick yet: http://demos.868f.flowplayer.me/playlist/ratio.html - also tested without `flashfit` locally.

[2015-06-19 08:01] nnarhinen commented on #866
Works for the fullscreen-toggle. Didn't check your playlist example.

[2015-06-19 08:27] nnarhinen commented on #866
http://demos.868f.flowplayer.me/playlist/ratio.html now seems to work. This also removes the `flashfit` configuration completely.

[2015-06-19 09:08] blacktrash commented on #866
YES! this is the best thing since sliced bread!

[2015-06-19 09:23] blacktrash commented on #866
Tested successfully in conjunction with `adaptiveratio` as well.

[2015-06-19 10:35] zwerfkat opened #869 "Fullscreen toggle not available on touch devices when player is in iframe"
When using the player inside an iframe or frameset, the fullscreen toggle isn't always available. This is desired behavior on a desktop, but not for touch devices like Android/IOS phone or tablet. These devices can perfectly play full screen using their native html5 player.

As a workaround I have changed the following lines:

   // no fullscreen in IFRAME
   try {
      if (!conf.fullscreen) comm

[2015-06-19 11:05] blacktrash commented on #869
Not sure I understand: imho that will make the player fill the iframe - and not go fullscreen - on touch devices which support inline video (iPad), and on devices which do not support inline video you are in the native "fullscreen" player anyway?
Why not just set `native_fullscreen: true`, like in our demo which embeds using an iframe: https://flowplayer.org/demos/qsel/#drive-iframe-js ?

[2015-06-19 11:49] blacktrash opened #870 "IE: load(clip) and setPlaylist() not reliable"
Our demo https://flowplayer.org/standalone/playlist/javascript.html fails _sometimes_ (unfortunately w/o error) in IE when the playlist is replaced: white screen, and sometimes video not found.

See: https://flowplayer.org/forum/#!/setup:issues-when-reloading-vid - you have to dig into the thread. Problem confirmed by @bbbo.

[2015-06-19 11:56] zwerfkat commented on #869
Option `native_fullscreen` is already set to true. I simply made the following test file (without allowfullscreen):

`<html><body>`
`<iframe src="https://flowplayer.org/standalone/skins/functional.html" frameBorder="0" width="1000" height="500"></iframe>`
`</body></html>`

As expected no fullscreen button in the right upper corner on desktop browsers because the player is in an iframe, but also no

[2015-06-19 12:01] blacktrash commented on #869
??? that demo in your iframe hasn't set `native_fullscreen: true`, so it would just fill the iframe and not go fullscreen - at least that's what happens on iPad.

[2015-06-19 12:04] blacktrash commented on #870
Maybe the `play(0)` call comes to early (although it's even bound to the return of a conditional), I could try it in a `one("ready")`, but there we're entering workaround territory.

[2015-06-19 12:10] zwerfkat commented on #869
The problem is that (at least on Android) there is no full screen button at all... So there is simply no possibility to fill up the iframe (or going fullscreen when native_fullscreen has been set). When I use https://flowplayer.org/demos/qsel/#drive-iframe-js as the src of the iframe I do get exactly the same results. Maybe it is an Android thing?

[2015-06-19 12:13] blacktrash commented on #869
Even when you set `fullscreen: true`?

[2015-06-19 12:16] blacktrash commented on #869
iow, you cannot go fullscreen at http://demos.flowplayer.org/basics/embedded-iframe.html ? (that's the result page)

[2015-06-19 12:19] zwerfkat commented on #869
Yes I can. But I am talking about the situation where fullscreen is NOT possible on a desktop browser because of an iframe (without iframe property `allowfullscreen`).

[2015-06-19 12:21] blacktrash commented on #869
That is consistent behaviour though, isn't it?

[2015-06-19 12:24] blacktrash commented on #869
If you decide to offer the iframe not allowing fullscreen, or the embedding party removes the attribute, then that's exactly what happens, and an inline playback capable touch device behaves the same.

[2015-06-19 12:30] blacktrash commented on #869
You want `native_fullscreen: true` to override `fullscreen: false`, do I understand correctly?
Personally I think this would be inconsistent.

[2015-06-19 12:39] blacktrash commented on #870
@bbbo - can you test http://flowplayer.blacktrash.org/fp6/javascript.html wether you can still repro?
@nnarhinen - something interesting:
What I do on that page is, after `setPlaylist()`:
[code]
Now, if I do the same in the "load" event, it will play the first clip of the **previously** compiled playlist, and only reset itself to the new playlist e.g. on replay.

[2015-06-19 12:42] blacktrash commented on #870
So it looks like `setPlaylist()` goes into action only after the first "ready" which is encountered, and maybe IE's handling of `play(0)` gets into some kind of race condition.

[2015-06-21 11:09] zwerfkat commented on #869
I think I have mixed up iframe with frameset, sorry about that. For an iframe this would probably the best way indeed, but I use a frameset. And a frame within a frameset does not have peoperty `allowfullscreen`. With the following code:

`<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"`
`"http://www.w3.org/TR/html4/frameset.dtd">`
`<html>`
`<frameset rows="100%">`
`<frame src="https://flowplaye

[2015-06-21 20:20] blacktrash commented on #869
You should probably rethink your setup. The `frameset` tag is not supported in HTML5, and you _must_ set the HTML5 DOCTYPE for Flowplayer (or video tags for that matter) to work properly in all browsers, especially IE: https://flowplayer.org/docs/setup.html#doctype

[2015-06-22 06:43] #866 closed

[2015-06-22 06:43] nnarhinen opened #871 "Context-menu broken in fullscreen"

[2015-06-22 06:45] nnarhinen commented on #869
Please continue this discussion on [Flowplayer Forums](https://flowplayer.org/forum/).

If there really is an issue with the player that can be fixed, please re-open with links to minimal live pages that represent this issue.

[2015-06-22 06:45] #869 closed

[2015-06-22 08:55] blacktrash commented on #870
@bbbo tested a looping playlist http://flowplayer.blacktrash.org/fp6/playlist-loop.html and could repro the problem as well after some time - so there the problem is actually deeper: with `load(clip)`.

[2015-06-24 11:05] danrossi opened #874 "Events not able to be prevented"
As you could with Flowplayer 5 events cannot be fully prevented unless I missed something ?.

The documentation states preventDefault and stopPropogation will stop the internal events but it doesn't seem to do anything.

I've noticed I can block events if I set them up within jquery ie $(timeline).on . but player.on or bean.on cannot prevent defaults.

The error screen is not customisable if at al

[2015-06-24 17:31] nnarhinen commented on #874
Please show (in code or live pages) what you would like to accomplish.

[2015-06-25 17:17] danrossi commented on #874
Pretty straight forward. any "preventDefault" on events.

ie
[code]

That does not work. I found these elsewhere on element events that use "bean" unless I used jquery then it wouldn't fire the internal ones ? ie if I tried

[code]

Does not work however

[code]
Does.

The error screen is too prohibitive and not customisable and it disables the player. Resetting the message is fine in another erro

[2015-06-25 18:03] danrossi commented on #874
Ive got this partially working. on error screens, clicking is broken because it detects "fp-message" as the target. So I have to setup a seperate root click and reload the video

[code]

Also remove all these flags, well quite a bit of flags including the engine as the flash externalinterface object is broken and throws errors.

[code]

Still preventing default on the error event or any other even

[2015-06-26 02:04] Tankzor opened #875 "Speed change highlight broken in Firefox"
Just noticed that speed highlights are broken in Firefox since v6 (removal of jQuery).

The issue comes from jQuery's `.text()` being replaced with `.innerText`. Which is a non-standard IE property (supported by others for compatibility), except Firefox.. Not sure if the standard's compliant `.textContent` is the best idea (not supported in IE8 down). Perhaps best to use `.innerHTML` and some smal

[2015-06-26 07:36] nnarhinen commented on #814
https://www.npmjs.com/package/browserify-derequire most likely this is needed to make the bundle requireable

[2015-06-26 09:13] blacktrash opened #876 "playlist: is-active not applied to playlists outside container"
Functionality is there. But the `active` class is not applied: http://flowplayer.blacktrash.org/fp6/playlist-outside.html

See also: https://flowplayer.org/forum/#!/setup:jquery-selector-for-trigger

[2015-06-28 23:21] blacktrash opened #877 "jQuery JS install triggers error (regression in 6.0.2)"
EDIT: Narrowed down the issue, see [below](https://github.com/flowplayer/flowplayer/issues/877#issuecomment-116600102).

http://flowplayer.blacktrash.org/fp6/speed-601.html version 6.0.1 (works, although there is an error when leaving or reloading the page).
http://flowplayer.blacktrash.org/fp6/speed.html version 6.0.2 (error)

Will use `swfHls: false` as temporary work around at http://demos.flow

[2015-06-28 23:33] blacktrash commented on #877
This is actually caused by the jQuery install incantation, not source picking related - see https://github.com/flowplayer/demos/commit/b783993c8f7d07096bbbfbdc56e2d5972ae89786

[2015-06-29 10:43] blacktrash commented on #877
This can be narrowed down to a manual jQuery install with a JS clip configuration:

[code]
The above works in version 6.0.1, but not in 6.0.2.

This is already discouraged in the docs: https://flowplayer.org/docs/setup.html#javascript-install :

------

If the jQuery library is loaded, flowplayer() can also be invoked as jQuery extension like in the VIDEO tag based installation methods with the pl

[2015-06-29 13:57] blacktrash opened #878 "ipad: duration/remaining inside timeline for videos longer than 1hr"
Can be observed at
http://demos.flowplayer.org/basics/long.html
http://demos.flowplayer.org/basics/splash.html
etc.

[2015-06-30 18:12] nnarhinen commented on #874
Did `preventDefault()` really work on FP5 error event?

I have always used on FP6 something like this:

[code]

also: http://demos.flowplayer.org/scripting/recover.html

[2015-07-02 04:27] danrossi opened #880 "Native subtitles need crossOrigin flag to work properly."
Trying to configure this option falls into CORS issues. See this error

"Text track from origin 'https://static.electroteque.org' has been blocked from loading: Not at same origin as the document, and parent of track element does not have a 'crossorigin' attribute. Origin 'http://localhost:8000' is therefore not allowed access."

The only problem is the general inconsistent support for "crossorigi

[2015-07-02 07:20] blacktrash commented on #880
It's pretty clear from the docs that we discourage the use of this option:
https://flowplayer.org/docs/subtitles.html#player-options

------

*Warning* Support for loading VTT files from a different domain for native subtitle display is broken in most browsers.

------

Plus the option is marked in red.

Furthermore it is explained that we disable embedding in our demo for that reason: https://flo

[2015-07-02 07:20] #880 closed

[2015-07-02 12:48] blacktrash opened #881 "Implement fullscreen events with native_fullscreen"
At least on iPad something like this works:
[code]
`api.isFullscreen` then also gives the correct answer.
In action: http://flowplayer.blacktrash.org/fp6/ipad-nativefullscreenevents.html
Obviously not thoroughly tested, especially with other touch devices, and listening to the "click" on .fp-fullscreen feels, ermh, dubious. But still ...

See also: https://flowplayer.org/forum/#!/setup:ipad-and-is

[2015-07-06 08:03] nnarhinen opened #882 "Flash engine reports invalid volume for zero"
While playing a video with the flash engine (flashls, rtmp or mp4, does not matter) sliding the volume switch to zero or pushing mute button volume in `volume` event is reported as `undefined` instead of `0` which causes `api.volumeLevel` to ultimately become `NaN` which causes invalid behavior for subsequent `load()` calls, for instance in the quality selection plugin.

[2015-07-06 08:37] blacktrash commented on #882
Can be obvserved with simple load call here: http://demos.flowplayer.org/api/load.html

[2015-07-10 09:33] blacktrash opened #883 "data-autoplay and player.autoplay have no effect with html5 engine in VIDEO tag installs"
E.g.
[code]
does not autoplay, and playback cannot be started. Configuring `autoplay: true` on player level does not help either, only video tag attribute works.

No problem with Flash engine, or in a JS install.

[2015-07-10 10:22] slavafomin opened #884 "play() is not working on iOS"
Hello!

We've stumbled on an issue with Flowplayer in one of our projects. We are using API's `play()` function to trigger video playback. It works flawlessly on almost any platform, except iOS.

The issue is confirmed at least on iOS 8.3/8.4.

I've isolated the problem in a Plunk:
http://plnkr.co/edit/QlVh2AAaEvkJcQ6tOTFC?p=preview

What could be the issue? Thanks.

[2015-07-10 10:30] blacktrash commented on #884
You are trying to circumvent that iOS prevents autoplay. See http://flowplayer.org/docs/known-issues.html
On most mobile devices playback can only be started by user interaction.

`play()` (without argument the synonym for `load()`) or `play(index)` work otherwise, also on iOS.

[2015-07-10 10:30] #884 closed

[2015-07-10 10:35] slavafomin commented on #884
Oh, I see. Is this a programmatic or political limitation? We're developing a page where pre-recorded videos should start on a specific time schedule and it would be highly unusable for our clients to start each video manually.

[2015-07-10 10:55] blacktrash commented on #884
It's a device limitation, which cannot be worked around. It's not Flowplayer related, you verify that yourself with a plain video tag:
[code]
The reason for this is most likely "political" in the sense that a lot of users would complain if video playback started without being asked for over an expensive mobile connection.
But if there was a way to work around it, we would have implemented it by no

[2015-07-10 11:01] slavafomin commented on #884
Thank you Christian, you are most helpful, as always = )

By the way, if I trigger `play(0)` from the click on a button event, will it play?

Also, it looks like player is broken after I try to play it on iOS. The video loads, buffers, I can seek it manually, but there is no way to play it, no play button and such.

The interesting aspect of it is if video is fully buffered (i.e. downloaded), what

[2015-07-10 11:24] blacktrash commented on #884
Flowplayer is tested heavily on iOS, so if you encounter the problem at one of our demos, please provide the link. Otherwise please turn to our forum with a link to a *minimal* sample page demonstrating the problem.

[2015-07-13 11:49] nnarhinen opened #885 "Timeline unnecessary hidden for certain Android devices"
The fix for #812 is a bit greedy.

[2015-07-13 12:27] #885 closed

[2015-07-13 12:28] nnarhinen commented on #882
http://demos.dev94.flowplayer.us/ should have this fixed, can you confirm?

[2015-07-13 13:01] nnarhinen commented on #883
@blacktrash Please test with assets from http://demos.887f.flowplayer.me/

[2015-07-13 13:26] nnarhinen commented on #878
Actually can be generalized to `.no-long.no-volume` which breaks the positioning.

[2015-07-13 13:32] bbbo commented on #882
the behavior seems better, but a minor problem remains: when muting in the Flash engine (qsel demo), the muted icon disappears when switching to manual selection (html5 engine) and you need to drag the volume slider to get sound 8which then shows the muted
![flowplayer quality selection plugin for drive_2015-07-13_15-30-54](https://cloud.githubusercontent.com/assets/1395672/8650637/6bbdab6a-2974-1

[2015-07-13 14:00] blacktrash commented on #883
works :+1:

[2015-07-14 07:13] #883 closed

[2015-07-14 13:03] nnarhinen commented on #878
http://demos.889f.flowplayer.me/basics/long.html should be fixed, my ipad battery is dead atm, please confirm :)

[2015-07-14 13:10] nnarhinen commented on #878
Found life to the iPad, fix confirmed by me.

[2015-07-14 13:10] #878 closed

[2015-07-15 04:10] #875 closed

[2015-07-15 11:29] nnarhinen commented on #882
Should be fine now.

[2015-07-15 11:29] #882 closed

[2015-07-15 13:39] nnarhinen commented on #876
http://codepen.io/anon/pen/ZGRmpQ is using the assets from #890 and seems to work

[2015-07-15 18:13] mandatoryprogrammer opened #891 "Way to Privately Report Security Issue in FlowPlayer"
Hello,

I'd like to report a few security vulnerabilities in the Flash version of FlowPlayer - is there a private email I can contact with the details? I'd rather not post them here.

[2015-07-16 05:57] bbbo commented on #891
email to support@flowplayer.org (I guess you already contacted us, please see my reply email)

[2015-07-16 05:57] #891 closed

[2015-07-16 07:21] nnarhinen commented on #870
On which IE version do you encounter this? Can't reproduce on IE9 at least.

[2015-07-16 07:27] bbbo commented on #870
confirmed this in IE11 at least, and I think IE10 as well. I'll check again

[2015-07-17 08:15] nnarhinen commented on #870
@bbbo can you try http://codepen.io/anon/pen/zGLNPN

it is using the assets from #892

[2015-07-17 08:38] bbbo commented on #870
this seems to behave well; changed the playlist a dozen of times and switched the clips even more, so far without an error.

[2015-07-17 08:39] nnarhinen commented on #870
Yeah. I removed some old timer hack for some safari scenario / version. Unfortunately the commit was not bound to any issue so I can't be 100% this does not introduce a regression for some safari version / setup combinations.

[2015-07-17 08:41] nnarhinen commented on #877
http://codepen.io/anon/pen/LVBxJQ is using the assets from #893, please confirm fix

[2015-07-17 12:35] #871 closed

[2015-07-17 13:08] #870 closed

[2015-07-17 16:01] blacktrash commented on #877
Fix confirmed: http://flowplayer.blacktrash.org/fp6/speed.html :+1:

[2015-07-18 08:49] danrossi commented on #874
prevent defaults work when using jquery yes. If I still setup an event using jquery not the bean events it prevents the internal events but not when trying to use the bean events ?

It seems you have to specify the prevent default check and it's only on a few event callback methods not all of them ?

I have now just run into another problem when unbinding "local" player events turns off the intern

[2015-07-18 10:06] #877 closed

[2015-07-18 10:29] nnarhinen commented on #874
http://codepen.io/anon/pen/LVBdQz

The `error` event wasn't cancelable on FP5 either.

Only the `load` and and `beforeseek` events have currently the mechanism of canceling the action. I'm not really sure what is the 'default' action that should be canceled if `ev.preventDefault()` is called on error. On `load` and `beforeseek` it's clear: loading and seeking should be canceled.

On `error` the UI

[2015-07-18 10:30] nnarhinen commented on #874
Please open individual minimal issues with *links*  to example *minimal* setups that misbehave with clear descrption what you would like to accomplish.

Now you have reported multiple issues in this same thread and I at least have lost track.

[2015-07-18 10:30] #874 closed

[2015-07-19 06:00] pwntoken commented on #381
Thanks for the updates. It would only take notable skilled experts to exploit this - which is otherwise all vain.

[2015-07-19 22:47] SteveAATW opened #894 "fp-next playlist overlayed control not visible in full screen mode"
When using the player with playlist functionality where the fp-next and fp-prev controls are overlayed on top of the player itself, when the player is sent full screen, the fp-next control disappears.

This is visible on the demo of the functionality: http://demos.flowplayer.org/playlist/prev-next-overlayed.html

![screen shot 2015-07-19 at 23 45 19](https://cloud.githubusercontent.com/assets/8937

[2015-07-19 22:53] blacktrash commented on #894
@SteveAATW, well spotted, thank you. I somehow managed to forget to report this when reworking the demos.

[2015-07-21 11:51] foliovision commented on #817
Any update on this? Thanks!

[2015-07-21 12:03] DrySs commented on #817
@foliovision do you use rawurlencode?

[2015-07-21 15:38] liquidleaf opened #895 "Enable Sourcegraph"
I want to use [Sourcegraph](https://sourcegraph.com) for flowplayer code search, browsing, and usage examples. Can an admin enable Sourcegraph for this repository? Just go to https://sourcegraph.com/github.com/flowplayer/flowplayer. (It should only take 30 seconds.)

Thank you!

[2015-07-21 15:42] bbbo commented on #895
@nnarhinen please review

[2015-07-22 13:01] nnarhinen commented on #876
@blacktrash assigning this to you for testing

[2015-07-22 13:02] nnarhinen commented on #894
http://demos.896f.flowplayer.me/playlist/prev-next-overlayed.html

Seems to fix the problem. (Icons not working on the adhoc site, but that's not related)

[2015-07-22 13:04] blacktrash commented on #894
Confirming that this fixes the problem. `.fp-prev` and `.fp-next` both inside `.fp-player` wrapper.

[2015-07-22 13:04] #894 closed

[2015-07-22 13:08] blacktrash commented on #876
Confirming fix and closing. Thank you.

[2015-07-22 13:08] #876 closed

[2015-07-24 13:14] blacktrash opened #898 "6.0.3: live option not recognized on clip level with generic HLS"
View http://demos.flowplayer.org/playlist/vodpreroll-livefeature.html in a HLS capable client.
Also fails if it's only one clip.

[2015-07-24 13:17] blacktrash commented on #898
Regression from 6.0.2.

[2015-07-24 17:47] blacktrash commented on #898
It might be that this only affects the skin (duration display). At least while the live stream is playing I get `true` for `flowplayer(0).video.live`.

[2015-07-24 21:44] blacktrash commented on #898
@nnarhinen - something removes the `is-live` class right after (or on) ready, it is still there when checked exactly on ready.

[2015-07-25 09:49] blacktrash commented on #898
May be confined to Mac OS Safari - does not happen on iOS.
@nnarhinen - I think I have a fix.

[2015-07-26 12:01] blacktrash commented on #898
@bbbo - fix can be tested on Android here: http://demos.899f.flowplayer.me/playlist/vodpreroll-livefeature.html

[2015-07-26 12:43] blacktrash opened #900 "Android: live stream only audio if not 1st item of playlist"
@bbbo - for testing:
http://demos.flowplayer.org/playlist/vodpreroll-livefeature.html

See: https://flowplayer.org/forum/#!/setup_configuration:hls-audio-no-video - further down in thread.

[2015-07-26 16:16] bbbo commented on #900
http://demos.flowplayer.org/playlist/vodpreroll-livefeature.html worsk for me, plays pre-roll and the live stream, it just does not switch to is-live but shows "Infinity: NaN" for the running time

[2015-07-26 16:31] bbbo commented on #900
the fix in https://github.com/flowplayer/flowplayer/issues/898#issuecomment-124975810 solves this for me on the Nexus 5 and the Galaxy Tab 2. http://demos.899f.flowplayer.me/playlist/vodpreroll-livefeature.html plays fine on both.

[2015-07-26 17:00] blacktrash commented on #900
Ah, so the demo work around is also needed for Android - will revert the additional condition.

[2015-07-26 17:02] bbbo commented on #900
at least is fixed the Infinity: NaNaN problem in http://demos.flowplayer.org/playlist/vodpreroll-livefeature.html (see #900 )

[2015-07-26 17:03] blacktrash commented on #900
Yeah, the inifity thing is not specific to this issue. This one is just about playback.

[2015-07-26 17:05] blacktrash commented on #900
@bbbo - so the live stream plays OK on all _your_ devices?

[2015-07-26 17:12] bbbo commented on #900
with the fix, it plays in all devices I own, including the Moto G (where the original demo doesn't work, it shows the symptoms (loading dots and audio in the background).

[2015-07-26 17:28] blacktrash commented on #900
You are saying the fix for #898 also fixes this one? iow
http://demos.flowplayer.org/playlist/vodpreroll-livefeature.html does not play
but
http://demos.899f.flowplayer.me/playlist/vodpreroll-livefeature.html does play
?

[2015-07-26 17:30] blacktrash commented on #898
@bbbo - this fix should be tested with VOD as well: http://demos.899f.flowplayer.me/basics/hls.html

[2015-07-26 17:37] bbbo commented on #900
yes, for the Moto G where the symptoms in https://flowplayer.org/forum/#!/setup_configuration:hls-audio-no-video were visible.

I'll test in more depth tomorror.

[2015-07-26 17:50] blacktrash commented on #898
In view of #900 both demos must be tested on both devices which do not need enforcing of live and those which do.
This fix must not break the live enforcement, if it fixes the playback problem of #900 on other devices which do not need the live enforcement, that's of course a nice extra.

[2015-07-27 18:38] geniuswebsk commented on #900
I can confirm that it works also on Honor 3c - android with chrome, previously, it wasn't working. But, buttons disappeared, only transparent areas where buttons should be placed remain visible (play button, embed button, full screen button).

[2015-07-27 19:41] blacktrash commented on #900
@geniuswebsk - the button thing is to be expected because dev assets are served w/o the required CORS needed for the skin fonts, nothing to worry about in this context.

[2015-07-27 21:04] blacktrash opened #901 "RTMP: src location w/o prefix considered as HTTP"
Regression from 6.0.1:
http://flowplayer.blacktrash.org/fp6/rtmp.html
rtmp://s3b78u0kbtx79q.cloudfront.net/cfx/st/flowplayer-700 is a valid rtmp location, but only works if the url part is prefixed with `flv:` (or `mp4:` or similar). Without prefix the player thinks it's a local http path.
In some cases - live streams - prefixing the url part might not work.

[2015-07-28 09:05] geniuswebsk commented on #900
Hello Christian, do you know app. time when new version with fix will be
available to download?

2015-07-27 21:41 GMT+02:00 Christian Ebert <notifications@github.com>:

[2015-07-28 09:31] blacktrash commented on #900
@geniuswebsk - for the moment you can grab http://cdn.899f.flowplayer.me/adhoc/flowplayer.min.js and deploy it yourself.

[2015-07-28 09:36] geniuswebsk commented on #900
Perfect, and what about button showing "issue" which I mentioned
previously? Is it coded somewhere else? Or it is  included in css file?

Many thanks Christian.

2015-07-28 11:31 GMT+02:00 Christian Ebert <notifications@github.com>:

[2015-07-28 09:39] blacktrash commented on #900
Just use the 6.0.3 skins you are currently using. There is no change there.
Just to be clear: do not load this from http://cdn.899f.flowplayer.me but download and deploy yourself - until the next release is out.

[2015-08-01 05:22] danrossi commented on #874
var playBtn = common.find(".fp-toggle, .fp-play", root)[0];

    playBtn.addEventListener("click", function(event) {

            event.preventDefault();
            event.stopPropagation();

    });

I have to do this to overriding the play button toggling also. So some of the ui is ok like

[code]

But then others are not.

 It seems there is various issues with the "bean" api. So Jquery and raw

[2015-08-01 08:13] blacktrash commented on #874
See: http://demos.flowplayer.org/lookandfeel/controls-only.html

[2015-08-02 13:11] blacktrash opened #902 "Wowza rtmp: lag on replay of short clips"
http://flowplayer.blacktrash.org/fp6/wowza-rtmplag.html
- replay 1st example: notice incremental lag
- replay 2nd example (fms): works
- replay 3rd example (wowza, slightly longer clip): no lag

Regression from version 5.x:
http://flowplayer.blacktrash.org/fp5/wowza.html (no lag on replay)

See:
https://flowplayer.org/forum/#!/setup:flowplayer-6-rtmp-lagging

[2015-08-07 05:10] hkostia opened #903 "RTMP in playlist with javascript install not working"
RTMP source works with swf from 5.5.2 but not from 6.0.x when playlist used.

Can be reproduced with:

[code]

[2015-08-07 11:42] blacktrash commented on #903
Can't repro here: http://flowplayer.blacktrash.org/fp6/playlist-basic-rtmp.html

Are you aware that you are setting `live` for a VOD clip?

[2015-08-07 11:46] blacktrash commented on #903
Can be re-opened if link to an actual failing *minimal* sample page is provided.

[2015-08-07 11:46] #903 closed

[2015-08-07 13:19] hkostia commented on #903
Thanks! It was indeed the ```live``` setting which we need on production, but not with those test clips.

[2015-08-07 15:14] blacktrash commented on #903
np - also note that you don't need `playlist` for single clips anymore, there's now the `clip` option.

[2015-08-11 18:52] blacktrash opened #904 "flashdisabled message does not make sense when Flash is in fact enabled"
"Adobe Flash is disabled for this page, click player area to enable" only makes sense if `!flowplayer.support.flashVideo`.
From a cursory glance at the code it probably must be more specific depending on the cirucumstances when `flashdisabled` is triggered.

[2015-08-12 06:37] bbbo opened #905 "Android: HLS requires three taps to start HLS stream"
this concerns the stock Internet browser shipped with various Samsung devices, for example the Note 2 and Tab 2.

Symptom: After tapping play on the splash, a generic media player icon appears, tapping this brings back the Flowplayer play button, which will start the stream when tapped again.

See https://flowplayer.org/forum/#!/setup:need-to-click-third-to-pla

[2015-08-14 08:51] foliovision commented on #817
I realized our isssue is related to using playlists in Flash engine.

Our playlist has 2 videos, both have ?Signature= in URL.

When using Flash the first one plays, but the second one does not. When I disable escapeURL() in Flash Engine (flashEngine()) it works.

So I guess the Flash engine must be doing something wrong when loading playlist videos. It looks like it doesn't require escapeURL() wh

[2015-08-17 05:40] nnarhinen commented on #874
@danrossi As I said - open new individual simple issues with links to an issue or sample code. One problem per issue. If you just need help with scripting you can turn to our forums.

[2015-08-17 05:43] nnarhinen commented on #900
@blacktrash So is there an actual issue left for this one?

[2015-08-17 08:08] blacktrash commented on #900
http://demos.899f.flowplayer.me/playlist/vodpreroll-livefeature.html
I can't vouch for Android, but according @bbbo yes, only for the Mac OS Safari part concerning https://github.com/flowplayer/flowplayer/issues/898.

[2015-08-17 15:46] blacktrash opened #906 "bgcolor: does not override .flowplayer.is-splash background-color"
Demo: https://blacktrash-org.prossl.de/fpssl/hls-crypt.php in a browser which does not play generic HLS.
- ideally bgcolor should not be derived from a `.flowplayer.is-splash` directive (might be too complicated)
- the `bgcolor` option should take precedence over any CSS `background-color` directive (I think)

[2015-08-19 07:38] nnarhinen commented on #738
Seems to not be an issue anymore.

[2015-08-19 07:38] #738 closed

[2015-08-19 09:53] blacktrash opened #908 "ipad: tooltip appears empty, or is stuck at first position when scrubbing"
I first thought it's only the simulator, but encountered the problem also on a real device.

[2015-08-25 12:27] bbbo commented on #905
see also https://flowplayer.org/forum/#!/flowplayer/setup%23flowplayer-603-and-androi

[2015-08-26 09:10] ipernet opened #910 "MPEG-DASH support - Android playback issue + fix"
Hi

The official demo for MPEG-DASH http://demos.flowplayer.org/api/dash.html does not play correctly on  Android Lollipop (5.1.1) with latest Chrome version or Chrome Beta version.

The issue is that the player gets loaded but the video is unable to play, even when the user tries to interact with it (the player is stuck in playing mode without playing).

The issue is related to ```autoplay``` bee

[2015-08-26 11:42] blacktrash commented on #910
Thanks.
I was just about to remove the or condition because a splash setup sets autoplay to true.
I don't have an Android device for testing here right now, but I can check whether the excplicit play() call breaks other stuff (poster setups etc.).

[2015-08-26 11:44] blacktrash commented on #910
Hm, your demo does not work in desktop Chrome here. Can you make it use our mpd?

[2015-08-26 12:33] ipernet commented on #910
hi @blacktrash, my mistake, I have updated the MPD!

[2015-08-26 12:34] blacktrash opened #911 "flash hls: seeking beyond end of video causes undefined player state"
To repro:
1. http://demos.flowplayer.org/basics/hls.html in a browser needing flash hls
2. start playback
3. hit "9" to seek to 90% of duration
4. hit right arrow to seek to over 100% (by now)
5. play/pause has no effect anymore, a seek to a different position is required before the player becomes workable again

Beforeseek: If seek pos > duration; seek pos = duration
?

[2015-08-26 12:58] blacktrash commented on #910
@ipernet - thanks. Could you do me a favour and try this where you have the conditional `play()` on your android:
[code]

[2015-08-26 13:03] blacktrash commented on #910
And, on the slight off-chance that it is related to dash.js, could you use http://flowplayer-releases.s3.amazonaws.com/mpegdash/dash.all.js for testing? I've just updated it with the fix for end of video handling in Safari, I doubt that it matters here, but you never know.
Thanks.

[2015-08-26 13:18] ipernet commented on #910
@blacktrash

Test page updated with your snippet and with latest ```dash.js``` but this cause a JS error because ```api``` is undefined.

For testing I have changed your snippet to get a reference to ```api.conf``` from ```engineImpl.canPlay```, this is not very clean but does not require ```flowplayer.js``` change https://github.com/ipernet/ipernet.github.io/commit/86dc0e5e9fd6dfaa3c339e37725cc51

[2015-08-26 13:20] blacktrash commented on #910
@ipernet - sorry, not enough coffee, should have been:
[code]
The plugin uses `player` as variable name (I should know ;-))

[2015-08-26 13:26] ipernet commented on #910
@blacktrash

Change reverted and snipped fixed https://github.com/ipernet/ipernet.github.io/commit/462933ff00d3d8ce18909bc79efaf70fbe0b5087

The playback works as expected on Android ("touch to play")

FYI on my Android ```flowplayer.support.zeropreload === false``` and ```player.conf.autoplay === true```, as expected

Thanks!

[2015-08-26 13:27] blacktrash commented on #910
@ipernet - thank _you_ for pointing this out with a way to fix.
Plugin will be updated shortly.

[2015-08-26 13:41] ipernet commented on #910
@blacktrash great!

FYI I have implemented a flowplayer plugin using Google Shaka player as engine provider to work around some issues. It's very similar to the Dash.js provider plugin, so I'll release it in the afternoon in case you might want to have a look (I'll test it on more devices when I can)

[2015-08-26 15:01] blacktrash commented on #910
@ipernet - you can verify at http://demos.flowplayer.org/api/dash.html
Closing.

[2015-08-26 15:01] #910 closed

[2015-08-26 16:08] ipernet commented on #910
@blacktrash

Something is wrong on the link: it (still) does not play on touch (Chrome Android latest). Cache is clear and I can see the latest changes in the plugin script using a debug session on my mobile.

On my test link (http://ipernet.github.io/flowplayer/flowplayer-mpegdash.html) where I use ```//flowplayer-releases.s3.amazonaws.com/mpegdash/dash.all.js``` and now ```//releases.flowplayer.

[2015-08-26 16:33] ipernet commented on #910
Note fore Firefox (Desktop, latest):

Works as expected ("play on click") with ```splash``` = ```false``` or unset.

[2015-08-26 17:19] blacktrash commented on #910
Better wait with final diagnosis on the demo. You'd be surprised how persistent caches are.
@ipernet - which platform is that? Firefox 40 on Mac doesn't work for me, never did.

[2015-08-26 17:21] ipernet commented on #910
@blacktrash Firefox 40.0.2, Windows 10.

[2015-08-26 17:43] blacktrash commented on #910
@ipernet - FYI, I probably have to downgrade dash.all.js again, because while the very latest fixes end of video handling to a certain extent in Safari, it breaks playlist transitions both in Chrome and Safari (also related to end of video).

[2015-08-26 17:54] ipernet commented on #910
@blacktrash I can't remember if the mpeg-dash demo was working on Firefox before, however after a few tests it looks like it is not an issue of the (1) dash engine and not an issue of the plugin code.

The following trick makes the playback working on Firefox 40+Win10+splash:true

[code]

Demo: http://ipernet.github.io/flowplayer/flowplayer-mpegdash.html

Other than that, regarding ```dash.js```,

[2015-08-26 18:11] blacktrash commented on #910
@ipernet - thanks, maybe I'll just simplify to:
[code]
It does not really hurt 'false' positives, there's also no extra event fired.

[2015-08-26 18:16] blacktrash commented on #910
Thanks for the link to your work btw.

[2015-08-26 18:40] blacktrash commented on #910
@ipernet - FYI, quite some problems with your shaka implementation in Mac OS Safari when seeking, even crashed.

[2015-08-26 18:49] ipernet commented on #910
@blacktrash Let me do more tests on Firefox/win10, because as of *now* http://demos.flowplayer.org/api/dash.html works fine("click to play", splash:true, no cache).

Regarding shaka, I'll try to get some Mac handy to work on it!

[2015-08-26 18:51] ipernet commented on #910
@blacktrash In fact it works because it has been updated ;) thanks!

[2015-08-27 06:10] nnarhinen opened #912 "Crossorigin subtitles do not work on iPhone"
(Or on iPad with native_subtitles etc)

This is because crossorigin attribute needs to be set.

[2015-08-27 06:29] #912 closed

[2015-08-27 08:04] blacktrash commented on #912
@nnarhinen - I'll add a note to the warning here: https://flowplayer.org/docs/subtitles.html#player-options - according to my tests setting the attribute does by no means always help, on iOS it depends on OS version and device.

[2015-08-27 08:08] nnarhinen commented on #912
Yeah and if `crossorigin` is set but subtitles are in fact loaded from same origin it might prevent video loading on some browsers. I guess we had an issue about this somewhere with test cases.

But the fix from #913 was needed to make http://demos.flowplayer.org/basics/subtitle.html show subtitles on iPhones.

[2015-08-27 08:13] blacktrash commented on #901
https://flowplayer.org/forum/#!/setup:flowplayer-603-doesnt-pl

[2015-08-27 08:15] nnarhinen commented on #905
Only HLS? or VOD too?

[2015-08-28 10:26] vvelar opened #914 "Flowplayer blocks gif, even css animations during loading video stream."
FlowPlayer 6.0.3 version. Chrome 44 version.
Steps to reproduce:
Create infinite css animation for some div, place a gif image on a page, and flowplayer block with some stream. Press start video - animation freezes for some time.

[2015-08-28 10:38] bbbo commented on #914
do you have a link to a minimal example?

[2015-08-28 12:20] blacktrash commented on #914
Indeed, especially as http://demos.flowplayer.org/lookandfeel/loading-custom.html works using an animated gif as loading indicator in Chrome 44.

[2015-08-28 13:10] rabauss opened #915 "Fullscreen events wont work in another instance"
after shutting down one instance of flowplayer commercial 6.0.2 and opening a new instance the fullscreen events wont work anymore. in chrome developer tools i can see that the event listeners *fullscreenshange are missing.

our users can then only leave fullscreen by esc-button and not with the fullscreen-close button (which wont change from open fullscreen to minimize) also the css-classes fulls

[2015-08-28 13:42] ipernet opened #916 "Microsoft Edge DASH support fix"
Hi

Edge (Win10) has **native** [experimental support for MPEG-DASH and HLS streaming](http://blogs.msdn.com/b/ie/archive/2015/01/29/simplified-adaptive-video-streaming-announcing-support-for-hls-and-dash-in-windows-10.aspx). DASH support is however still in development and requires [Edge experimental features enabled](http://blogs.msdn.com/b/ie/archive/2015/01/29/simplified-adaptive-video-streami

[2015-08-28 13:50] blacktrash commented on #915
`shutdown()` also removes the events which must be bound to the container element, as per the docs for the method. You have to replace the container. We do not remove the container element automatically, as this might interfere with other scenarios, but that's what usually should/would happen (as per docs).
So: either *replace* the container element or double-check whether you can actually make do

[2015-08-28 13:50] #915 closed

[2015-08-28 13:54] blacktrash commented on #916
@ipernet - thanks for this, always welcome. Will look into it later.
Just out of curiosity: Would it work already if you specify:
[code]
?

[2015-08-28 14:39] ipernet commented on #916
Hi @blacktrash

With this code the result is that Edge (experimental feature off or on) plays my video using Flowplayer **html5 engine** and the **HLS stream**  of the video (so a fallback stream)

![image](https://cloud.githubusercontent.com/assets/1324566/9548721/5991fea8-4da2-11e5-892e-aa086060946d.png)

So it *doesn't work* per say since expectation is to play the DASH stream.

Ref: http://ipe

[2015-08-28 16:46] blacktrash commented on #916
@ipernet - this is now in and deployed.
Thank you very much!

[2015-08-28 16:46] #916 closed

[2015-08-28 18:13] ipernet commented on #916
@blacktrash Confirmed woking on the official demo page but beware of a JS error related to the MPEG-DASH JS detection code on the page (wrong reference to ```flowplayer.engines[2]```) (should be [0])

[code]

[2015-08-28 18:16] blacktrash commented on #916
Yes, that's what I meant, the 'imaginary' mime type was just absentmindedness, sorry.

I had actually intended to implement your proposal since quite a while, but then got side-tracked by other stuff, so thanks again for the reminder.

[2015-08-28 18:19] blacktrash commented on #916
* Guillaume Simon on Friday, August 28, 2015 at 11:13:54 -0700

I did update the demo page, but the site builder has a problem. So you currently have the latest plugin, but not the latest demo page version.

[2015-08-29 13:14] blacktrash commented on #916
@ipernet - FYI, https://github.com/flowplayer/flowplayer-mpegdash/ is now public. Your input is welcome there.

[2015-09-01 10:58] philipp90 opened #917 "js error if ghostery blocks analytics"
Steps to reproduce
* install the [Ghostery](https://www.ghostery.com/) plugin/extension in your Browser (Chrome, Firefox)
* enable the tracking analytics filter
* start the video and then load another one

_Uncaught TypeError: e._setAllowLinker is not a function - flowplayer.min.js:7_

Furthermore on Chrome (Version 44.0.2403.157, OSX Yosemite) the newly loaded video isn't visible. The player stay

[2015-09-01 15:03] blacktrash commented on #917
Normally we can't cater for browser addons, but as it looks simple in this case we'll have a look.