[2018-02-14 12:22] bbbo opened #1346 "add autoLevelCapping option"
as in https://flowplayer.com/docs/player/plugins#hlsjs-options

Seems to be settable through the ABR controller API:
https://github.com/video-dev/hls.js/blob/v0.8.4/doc/API.md#hlsautolevelcapping

[2018-02-15 09:32] bbbo opened #1347 "GA: no views tracked with audio-only players"
It seems GA data is recorded if we play audio files inside a "normal" player container, but not with audioOnly: true

http://stylebites.de/fp7/hadynamic1.html

[2018-02-15 15:40] fvilpoix opened #1348 "Cuepoints marker are not removed when deleting cuepoint"
Hi here,

If I'm using `generate_cuepoints` option to add cuepoints' markers on timeline, they are not removed when I use `removeCuepoint` function, but the internal list of cuepoints is well updated.

I manually remove it from DOM, but it would be nice if it was automaticaly done

[2018-02-17 20:05] nnarhinen commented on #1347
You need to configure `analytics` in your players.

[2018-02-17 21:11] #1345 closed

[2018-02-17 21:11] nnarhinen commented on #1345
I imported the code from flowplayer-hlsjs

[2018-02-17 21:13] nnarhinen commented on #1346
Already supported as the options are passed.

[2018-02-17 21:13] #1346 closed

[2018-02-18 10:14] bbbo commented on #1347
It is configured. The same setup apparently works with tracking if it's a on audio-only player.

![view-source_stylebites de_fp7_hadynamic1 html_2018-02-18_11-13-24](https://user-images.githubusercontent.com/1395672/36350703-ce9eca3c-149c-11e8-90e6-39902ecb418f.png)

[2018-02-18 10:15] nnarhinen commented on #1347
You don't have any player with id `fp-audio` on that site. You have `player3` and `player4`.

[2018-02-18 19:58] nnarhinen commented on #1331
This landed yesterday in the dev branch. (There was a duplicate issue #1345 )

[2018-02-18 19:58] #1331 closed

[2018-02-18 20:17] #1337 closed

[2018-02-18 20:50] #1329 closed

[2018-02-18 21:52] #1335 closed

[2018-02-19 08:01] robov opened #1349 "Encrypted HLS fails on safari"
I tried playing this file on safari, but it fails to play : https://flowplayer.blacktrash.org/hls-crypt/
on chrome it works like a charm

Any idea ?

[2018-02-19 08:03] nnarhinen commented on #1349
First of all, it seems that demo is way outdated, uses an old version of flowplayer. We need to upate that.

It does however work on my mac safari. So without further details and an url to a more recent setup we can't really do anything to help you.

[2018-02-19 08:03] #1349 closed

[2018-02-19 09:39] #1348 closed

[2018-02-19 09:41] nnarhinen commented on #1348
This is now fixed in the dev branch, will be part of next release.

The fix however comes with a change that might not be backwards compatible:

`api.removeCuepoint()` now  expects the whole cue object (from `api.cuepoints`) or the **internal** `index`.

`api.addCuepoint()` now generates an `index` for every cuepoint which can then be used to identify cuepoints generated dynamically.

[2018-02-19 12:13] Amin52J opened #1350 "Latest npm version is 7.2.1"
Why is the latest version on npm still 7.2.1? I really need to use 7.2.2 and have to only use npm packages in order to use flowplayer. I think it'd be best to publish to npm every time a new version tag is added on github.

[2018-02-19 12:56] nnarhinen commented on #1350
I pushed 7.2.4 now.

[2018-02-19 12:56] #1350 closed

[2018-02-19 13:02] robov commented on #1349
Interesting... now I have no clue how to debug... on my windows safari it breaks. Maybe if you update it... so I can check if it works with the new version on my safari ?

[2018-02-19 13:06] nnarhinen commented on #1349
Safari on Windows is from 2012. We cannot support abandoned browsers.

[2018-02-19 14:54] robov commented on #1349
Aha... I did not know that (I am a windows guy, so I installed safari only after hearing problems)

[2018-02-19 15:22] bbbo commented on #1349
better remove it ;) it's basically one big security hole.
https://www.pcper.com/news/General-Tech/Apple-No-Longer-Updating-Safari-Windows-Users-Should-Switch-More-Secure-Browser

[2018-02-19 15:55] #1300 closed

[2018-02-19 15:56] nnarhinen commented on #1300
I could not reproduce this in other browsers than safari. https://github.com/flowplayer/flowplayer/commit/8bac0b7ab33766b9b5f07ead3c6f335eaea2d6a1 fixed it for safari and I couldn't spot any differences in behavior in chrome.

[2018-02-19 16:16] robov commented on #1349
Good tip... although I never used it... just to test the player once I got a response that it did not work

[2018-02-19 21:00] #1343 closed

[2018-02-19 21:11] #1336 closed

[2018-02-19 21:19] #1327 closed

[2018-02-20 06:15] nnarhinen opened #1351 "Player resumes on seek after finish on IE11"
And UI is left in inconsistent state

[2018-02-20 06:16] #1351 closed

[2018-02-20 06:46] bbbo commented on #1317
@nnarhinen   https://github.com/flowplayer/flowplayer/commit/086987b89284f6fe116ee763d86e76fffe244ac5 makes this a true/false player config option?

[2018-02-20 06:56] nnarhinen commented on #1317
No it does not.

[2018-02-20 10:01] codener commented on #1327
:clap: Thanks!

[2018-02-21 14:36] colmaengus opened #1353 "rtmp stream without metadata"
We have a live stream source that doesn't trigger the flash onMetaData callback.
As a result in Chrome we don't get any video controls and in Firefox we don't get any video playback at all.

Firing the Flowplayer.READY event on NetStream.Play.Start solves the problem but I'm wondering if this is the best solution and if it should be behind a configuration option.

As a reference jwplayer plays the

[2018-02-22 18:39] bbbo opened #1354 "hlsjs-lite does not honor hlsjs: false"
sample: http://web-0.radioradicale.it/prova/fp/testie.html
uses hls.js instead of FlashHLS

while this might not be crucial,  it shoudl be fixed

[2018-02-22 23:34] zerom1nd opened #1355 "not show fullscreen button in ipad (ios 8.1 (12B410))"
i have problems: in chrome (47.02526.107) on ipad (ios 8.1 (12B410)) not show fullscreen button.
![photo_2018-02-23_02-23-01](https://user-images.githubusercontent.com/7798572/36569936-e942ef7e-1840-11e8-94c3-4b5c0fd4c41c.jpg)
in player settings:
[code]

how check support fullscreen button ? flowplayer.support.fullscreen ?

and we have problems with smartos on different version, 7.0.4 its work, bu

[2018-02-23 06:30] nnarhinen commented on #1355
We need a link to a minimal (no authentication, no extra css & javascript) page where the problem occurs. We can't debug screenshots. Also - one issue in github per problem, not multiple problems in same issue. Feel free to re-open with more information.

[2018-02-23 06:30] #1355 closed

[2018-02-23 06:31] nnarhinen commented on #1355
Also a good habit is to check our demo area if the problem can be seen there. If not, you have to find the difference between your own setup and our demos.

[2018-02-26 10:32] fdambrosio commented on #1340
I have the same problem. On the flowplayer forum I had this answer :
forum thread:  https://flowplayer.com/forum#!/scripting_api:playlist-play-and-seek

[2018-02-26 12:17] codener commented on #1331
Dear @nnarhinen, could you give another estimate on the release date? Thanks :)

[2018-02-26 12:29] YaroslavShapoval opened #1356 "Mac OS Browsers – green artifacts"
Hi. We are using commercial verstion of Flowplayer (v 7.2.1) with HLS plugin (hls light, v1.1.1).

When user changes between HLS sources then periodically appear green artifacts on video player.

I recorded my screen to show you the problem – https://drive.google.com/file/d/1fIk8oVZrY2XP0eioC8R4_AcHbOciwxpT/view.

Artifacts that can be seen in the video:

1. Small artifacts at the top of the video

[2018-02-26 20:01] zerom1nd commented on #1316
awakenedguy, iam tested u script - work fine, but if i use CC (subtitle) and choose subtitle (one click of list) - work pause ((( and subtitle switch. How remove pause on click subtitle list menu ?

[2018-02-28 21:26] xnejp03 opened #1357 "unload() throws exception on iOS"
It seems that MediaSource is not supported on IOS 9 (not sure about 10 and 11). the unload() method fails due to it.
This makes this workaround (#1334) impossible on IOS devices.
Please prioritize for 7.2.5

[2018-03-04 17:54] Dalesjo opened #1358 "buffered is undefined if seek on ready"
Demo [Flowplayer · Start time](https://demos.flowplayer.com/commercial/starttime.html#t=60)  has an error. seeking then ready event is fired returns error below.

parameter buffered seams to be undefined first time .on('buffer') is called.
https://github.com/flowplayer/flowplayer/blob/5b39ce8091e4f1127190bee67dd0c748121d59f2/lib/flowplayer.js#L659

on IOS 10 the player gui stops working after this

[2018-03-04 18:07] nnarhinen commented on #1331
This is now releases as 7.2.5. Sorry for the problems in communication.

[2018-03-04 18:09] nnarhinen commented on #1358
This is a problem in the `flowplayer-hlsjs` plugin, fixed by switching to the internal `hlsjs-lite` engine: https://flowplayer.com/docs/player/setup#hlsjs-lite

[2018-03-04 18:09] #1358 closed

[2018-03-04 18:10] nnarhinen commented on #1357
Where can you see this happening?

[2018-03-04 18:15] nnarhinen commented on #1356
If you can't see this while using the native HTML5 video tag, then this should be reported in the hls.js issue tracker.

In order for us to debug this, we need a link to a page where this behaviour can be seen. Please re-open if you think this is something we can fix in the core code.

[2018-03-04 18:15] #1356 closed

[2018-03-04 18:18] nnarhinen commented on #1340
Yeah you need to either call pause/stop in the `load()` callback or then use a splash setup and use `shutdown()` and re-initialize the player.

I can't really think of any use-case where you actually want to load a new video to the player without playing it. If you can reason enough, we can make this happen to 7.3.

[2018-03-04 18:18] #1340 closed

[2018-03-04 20:31] Dalesjo commented on #1358
Ok but switching also means you loose all error recovery/event listening that the old flowplayer-hlsjs had.

However i see you did commit https://github.com/flowplayer/flowplayer/commit/3a65dc0d83f39ac15d5fcc31de1f09ac36635372 for 7.2.5 that includes the old error recovery. so its coming in next release?

[2018-03-04 21:26] xnejp03 commented on #1357
Ok, I think it might be only happening with the hack you proposed for #1334 (see clearing up the player container after unload() / shutdown())

https://codepen.io/xnejp03/pen/GQaqXM

This actually shows error in the console for iOS, but a different one than what I'm seeing in my app - possibly due to timing and how/when the container is cleared.

So perhaps that hack is not 100% and it breaks the

[2018-03-05 04:07] nnarhinen commented on #1358
7.2.5 is already released to the CDN.

[2018-03-05 12:10] colmaengus commented on #1353
I appreciate that RTMP is on the way out but our use case is interactive video so we can't work with the latency of HLS. We are planning investigating WebRTC but in the meantime RTMP is what we are using.
I'll see if I'm able to provide an example stream.

[2018-03-05 12:42] codener commented on #1331
Ok. Thanks for the hint though.

[2018-03-05 20:41] nnarhinen commented on #1357
7.2.5 is out and testable.

[2018-03-06 13:16] fdambrosio commented on #1340
@nnarhinen because it doesn't work with 'autoplay: false'

[2018-03-06 13:53] nnarhinen commented on #1340
Why do you need that feature?

[2018-03-06 13:57] elbasan commented on #1340
@nnarhinen The main reason for this feature would be on mobile devices, where autoplay is disabled and flowplayer throws the Autoplay without userinput Promise rejection.

I want users to select a video they want to play, load the url with player.load() and then wait for user to play.

[2018-03-06 22:14] nnarhinen commented on #1340
https://codepen.io/anon/pen/KQOaGo this works just fine on mobiles too? Could you link to a setup where this is actually a problem.

[2018-03-13 09:35] Katarn opened #1360 "Unnecessary DOM searches in loop"
In ```requestAnimationFrame``` function an continuously interaction with DOM: https://github.com/flowplayer/flowplayer/blob/dev/lib/ext/ui.js#L532

Just open this page in Chrome http://demos.flowplayer.org/basics/bad-url.html, press Shift+Esc and see CPU usage in this tab.

[2018-03-13 11:47] fdambrosio commented on #1331
when will be available 7.2.5 commercial version ? thanks

[2018-03-13 18:01] bbbo commented on #1331
it's already there, just not linked in the site while we're still updating the docs. Just replace the version number in the url...

[2018-03-14 14:05] nnarhinen opened #1361 "Impossible to mute player on iOS on autoplay"
This is because the click to unmute setup is too greedy.

Workaround: configure `clickToUnMute: false`.

[2018-03-14 14:07] #1361 closed

[2018-03-16 15:55] bbbo commented on #1360
Hm, while it goes up a bit for the first seconds, CPU and memory usage are quickly cleaned up. It never goes beyond a certain threshold for me...

[2018-03-16 16:02] bbbo opened #1362 "option to show / not show bitrate"
currently the HLS quality selector shows resolutionp(bitratek) in the menu.

Add an option either in player config (hlsQualities : {bitrate: true/false) to turn this off. See also discussion in
#1080

[2018-03-19 21:58] jamin84 opened #1363 "Subtitle endtime not respected, remain on screen until next subtitle"
Hi there,

Using 7.2.4, splash, playlist and pure Javascript configuration I'm encountering an error where the subtitles remain on screen until the next subtitle replaces them. I tried a custom parser found here `https://github.com/flowplayer/flowplayer/wiki/3.4-Subtitles` but to no avail. The cuepoint and subtitle arrays are generated and appear correct, the endTime is just not being respected.

[2018-03-19 23:39] metsehaf commented on #554
@nnarhinen you are a genius works perfectly on chrome, now I am able to remove annoying cursor on video.

[2018-03-19 23:40] metsehaf commented on #554
can't believe I am posting this in 2018, just know that your solution is still valuable.

[2018-03-20 03:37] dejardine opened #1364 "Rough transitions between playlist videos (HTML5 player)"
At the moment the transitions are very rough with a split second black screen between videos. Is there any way to achieve a smoother transition between videos?

A class to hook into or something like that?

[2018-03-20 06:48] bbbo commented on #1363
Please provide a link to a minimal sample page (just the player setup with subtitles).

[2018-03-20 15:49] jamin84 commented on #1363
Here ya go!

http://real34.com/flowplayer/

[2018-03-22 21:14] nnarhinen opened #1365 "Unloading the player does not stop manifest loading"
A call to `stop()` should call `stopLoad()` on the HLS.js instance.

[2018-03-22 21:16] nnarhinen commented on #1365
As a workaround something like
[code]

 should do the trick.

[2018-03-22 22:22] Les4 opened #1366 "Empty VAST issue"
In order to help you with this issue, I copy and paste what I wrote on the Flowplayer forum. ;)

Good luck with the dev ! ;)

[2018-03-23 11:12] bbbo commented on #1366
Please don't use the player bugtracker for plugin issues ;)
The problem is mainly caused by recent changes in the IMA3 SDK; our upcoming flowplayer.ads plugin as successor to the VAST plugin will solve this. Please email us at support@flowplayer.com and we'll build a beta for your site.

[2018-03-23 11:12] #1366 closed

[2018-03-24 11:33] philwareham commented on #1350
Should be 7.2.5 now, but NPM still shows 7.2.4?

[2018-03-26 09:24] nnarhinen commented on #1350
pushed

[2018-03-27 22:49] xnejp03 commented on #1357
@nnarhinen

updated the codepen with 7.2.5

Same error.

[code]
Caused by https://github.com/flowplayer/flowplayer/blob/5b39ce8091e4f1127190bee67dd0c748121d59f2/lib/engine/html5-factory.js#L198

What I found out is that if I don't use the hls plugin (or setting hlsjs to `true` or safari to `true` .. maybe combination), is passes because the MediaSource is not in `window`. With the hls plugin it is

[2018-03-29 11:59] kawakibi opened #1367 "Autoplay (JS Setup) not working in Chrome Canary"
Browser : Version 67.0.3382.0 (Official Build) canary (64-bit)

Open : http://demos.flowplayer.org/basics/js-setup-autoplay.html , autoplay is not working, it stuck and cannot be play by clicking the play button, same issue like https://github.com/flowplayer/flowplayer/issues/1260.

maybe related to https://developers.google.com/web/updates/2017/09/autoplay-policy-changes?

we are preparing to use

[2018-03-29 12:37] nnarhinen commented on #1367
This is because the external `flowplayer-hlsjs` plugin is not updated in a while and is to be deprecated by the internal `hlsjs-lite` plugin introduced in Flowplayer 7.2.

Please refer to https://flowplayer.com/docs/player/setup#hlsjs-lite for instructions on how to enable that.

[2018-03-29 12:37] #1367 closed

[2018-03-29 12:40] nnarhinen commented on #1367
We need to go through the demos it seems and remove the usage of the hlsjs engine ourself.. :)

[2018-03-29 13:18] kawakibi commented on #1367
well noted! we will try hlsjs-lite... thanks @nnarhinen

[2018-03-29 18:27] bbbo commented on #1367
@nnarhinen yes that's on my todo.

[2018-04-02 23:27] irakpro commented on #1014
http://irakpro.com/video%20format=m3u8-aapl.html
Convert online
MPEG-DASH & HLS Player Test
Select your format (DASH – .mpd, HLS – .M3U8 or Progressive, then enter the link to your video file.Convert online,HTTP Live Streaming (HLS.

[2018-04-03 14:44] fdambrosio commented on #995
can you add the aria-label attribute?
https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-label_attribute

[2018-04-03 17:04] maximivanov opened #1368 "Commercial version via npm?"
Hey guys,

after a switch from loading `<script src="//releases.flowplayer.org/7.2.4/commercial/flowplayer.min.js"></script>` in page source  to including flowplayer via npm's `"flowplayer": "^7.2.4",` package I started seeing flowplayer logo over the video. Is it because version in npm is not "commercial" as in url?

[2018-04-03 17:41] bbbo commented on #1368
The commercial player is not available through npm, sorry.

[2018-04-03 18:54] nnarhinen commented on #1368
You can however use the commercial package with npm using [napa](https://www.npmjs.com/package/napa).

Then you just have to do something like `var flowplayer = require('flowplayer-commercial/flowplayer.min.js');`

[2018-04-03 18:54] #1368 closed

[2018-04-03 20:34] maximivanov commented on #1368
Thanks for suggestion Niklas, it worked perfectly. In case someone stumbles upon this issue, full use case:

Install napa
[code]

Add to package.json so that flowplayer is installed on `npm install`
[code]

Use in code
[code]

[2018-04-04 08:35] fvilpoix opened #1369 "HLS Vertical video resolutions are sorted by width instead of height."
Hello,

I have a vertical video in HLS, which manifest is

[code]

But the quality switch shows 270p, 360p, 480p and 720p, while it should be the vertical size : 540p, 720p, 960p, 1440p.

Here is the sample link : http://recette4.streamlike.com/hosting/test/flo/flow/vertical-hls.html

Flow 7.2.5 and hlsjs-lite engine.

Thanks !

[2018-04-06 08:37] nnarhinen opened #1370 "White `fp-color` not working well in menus"
![image](https://user-images.githubusercontent.com/265438/38411037-d54a3e18-398e-11e8-9974-a554bf3ae7de.png)

[2018-04-06 08:40] nnarhinen commented on #1370
Maybe we'll add a shadow for the text or such.

[2018-04-06 09:03] tipiirai commented on #1370
Turning the active color to black is good. I think no shadows needed.

[2018-04-06 11:04] dearkaran opened #1371 "Can't Remove rel=1 in Iframe"
I set Iframe videos in My Website But issues are When video complete then set 3 Related Videos. So, i can't remove its.

https://www.ridersonvideo.com/rov/test-flow-iframe.php

Please Help me.

Best Regards

[2018-04-09 11:07] nnarhinen opened #1372 "Enable autoplay on Android Firefox"
Has to be investigated whether it can be reliably done. Ideally should fallback to paused first frame state when autoplay cannot be done.

[2018-04-10 11:44] xnejp03 commented on #1357
Can this be added to 7.2.6 at all?

[2018-04-17 08:56] nnarhinen opened #1373 "Autoplay broken on (some) mobile devices"
It seems the false-positive handling of the play promise catching is now ignoring some of the real positives.

[2018-04-17 09:27] #1373 closed

[2018-04-18 19:55] jrbasso opened #1374 "Autoplay on Android Chrome freezes the player"
When a video is set with autoplay, the Android Chrome browser shows the player, but doesn't start the video and even clicking you can't make the video to play.

I wrote a sample here: https://jsfiddle.net/0ovexrLs/5/ (using latest 7.2.5 flowplayer)
The same issue happen on some videos from the demos, such as https://demos.flowplayer.com/lookandfeel/scroll-float.html

I tested using Pixel 2, Androi

[2018-04-18 20:00] jrbasso commented on #1374
It may be related with #1372, but not sure because it's a different browser.

[2018-04-18 20:03] jrbasso commented on #1374
There is also a case on the forum: https://flowplayer.com/forum#!/flowplayer/setup:not-able-to-play-video-on-a

[2018-04-19 03:50] nnarhinen commented on #1374
Please try with 7.2.6

[2018-04-19 04:08] jrbasso commented on #1374
Same issue. I updated the jsfiddle to https://jsfiddle.net/0ovexrLs/7/

It shows the play button in the middle and the pause button on the control bar, see https://photos.app.goo.gl/WHDNDUYwl2DWwAxK2

[2018-04-19 05:11] nnarhinen commented on #1374
Sorry didn't notice earlier - you should update your setup to use the internal hlsjs engine: https://flowplayer.com/docs/player/setup#hlsjs-lite

[2018-04-19 07:28] blacktrash opened #1375 "7.2.6 splash Android Chrome DOM Exception"
https://flowplayer.blacktrash.org/fp7/playlist-basic-js.html
[code]
Could be https://github.com/video-dev/hls.js/issues/971, but demo uses hls.js 0.9.1 already, and it does not happen with flowplayer 7.2.5

[2018-04-19 07:34] blacktrash opened #1376 "Android Chrome playlist DOM exception on playlist transition"
https://flowplayer.blacktrash.org/fp7/playlist.html
Using 7.2.5 to safely discard https://github.com/flowplayer/flowplayer/issues/1375
Click prev or next or playlist item.
Could be because hls.js instance not destroyed for next clip.

[2018-04-19 12:41] jrbasso commented on #1374
Moving the hls to load before flowplayer solved the loading problem, but it starts muted. Clicking on the video enables the sound.

[2018-04-19 12:55] bbbo commented on #1374
That's how it should work. You cannót autoplay with sound on mobile devices.

[2018-04-19 14:30] jrbasso commented on #1374
@bbbo Interesting. I saw some docs on other players explaining that Chrome is changing it. However, we currently use Wistia player and it works fine, even on my Android/Chrome that I can't autoplay with audio from Flowplayer. Do you know if there is any workaround making it possible?

[2018-04-19 15:03] jrbasso commented on #1374
Never mind. I guess that's the new standard we will have to adapt to that. So I guess this issue is resolved by moving the hls load to before the player.

PS: Not sure if you guys want to leave it open since the flowplayer demos needs to be updated as well.

[2018-04-19 15:03] #1374 closed

[2018-04-23 11:42] SCkath opened #1377 "Uncaught TypeError: Cannot read property 'siteGroupId' of undefined"
Using the JS embed code.

On a simple page - nothing but flowplayer embed-code being loaded:

https://biites.com/dear-mom-and-dad/?embedded=true

Operating system:
Mac OSX 10.13.4

Firefox 59.0.2
TypeError: l.metadata is undefined

Google Chrome 65.0.3325.181 (Official Build)
Uncaught TypeError: Cannot read property 'siteGroupId' of undefined
    at s (flowplayer.js:12)
    at Function.i.ovp (flow

[2018-04-24 16:08] MarcinRabczynski commented on #1365
On commercial flowplayer v7.2.4 provided workaround not working.
On hlsjs engine, "fpInstance.engine.hlsjs.stopLoad();" worked. But hlsjs engine sometimes throws type error for "buffered" when running and "hlsjs-lite" not.

Any solution?

[2018-04-27 01:14] mattsummers commented on #1357
Same issue here

[2018-05-02 10:56] blacktrash commented on #1376
FYI, with 7.2.5 I am able avoid  with this ugly hack:
[code]

[2018-05-03 08:25] nnarhinen commented on #1365
Can you point to a setup where the workaround does not work (when using `hlsjs-lite`)?

[2018-05-03 08:27] SilverStone2104 commented on #1365
@MarcinRabczynski Hello, if I understand right, you are using flowplayer.hlsjs.min.js from here. I am creating live streaming service, and  to avoid “buffer” error using this:
[code]

[2018-05-03 08:43] SilverStone2104 commented on #1365
@nnarhinen Hello again in right discussion. I still want to know the way to get access to hlsjs-lite engine for some specific flowplayer. In one web page, I have 4 flowplayers, but `flowplayer.engine('hlsjs-lite').hls` give me access to the last initialized player hls engine. With flowplayer.hlsjs.min.js everething working fine, I can just use `flowplayer([0-3]).engine.hlsjs ` and get hls object.

[2018-05-03 08:49] nnarhinen commented on #1365
I think this is a separate bug. I think the player falsely stores the hls instance globally.

I have not tested this, but something like this workaround could work:

[code]

[2018-05-03 09:38] SilverStone2104 commented on #1365
@nnarhinen So, the answer is “No, we can’t”. Sorry, but your example does not working with one flowplayer and with two or more. I’ll continue using flowplayer.hlsjs.min.js. The main problem is that in the [flowplayer docs setup](https://flowplayer.com/docs/player/setup) says, that hlsjs-lite engine is good instrument, but all it API just broken.

[2018-05-05 16:40] fdambrosio commented on #1151
I'm using flowplayer 7.2.5 with hls m4a audio files and .vtt subtitles.
It doesn't works on iOS 8 and iOS 9 (Safari) and the player thrown error. It play audio without the subtitles.
demo page  http://web-0.radioradicale.it/prova/fp/error-ios.html

[2018-05-06 15:26] strarsis opened #1378 "Google Chrome has autoplay disabled now"
Google Chrome got autoplay disabled for videos now. In WordPress flowplayer plugin flowplayer crashes when attempting to start the playback using JavaScript (autoplay) because Chrome now throws an exception so flowplayer crashed. Because of the crash the user is also unable to start the playback manually. Flowplayer should catch this exception and continue functioning for manually initiated plabya

[2018-05-06 15:27] nnarhinen commented on #1378
Flowplayer handles this just fine. As per the contribution guidelines, please ask questions on our forums first and then open issues with proper reproduce steps & links to a misbehaving setup.

[2018-05-06 15:27] #1378 closed

[2018-05-06 15:38] strarsis commented on #1378
@nnarhinen: Thanks. Then this is probably due to an older version of flowplayer used in the flowplayer WordPress plugin or by a script of the plugin itself.

[2018-05-06 16:38] bbbo commented on #1378
Just tested with the current version of the WP plugin (which bundles FP 7.2.5) and autoplay works fine.

[2018-05-06 17:52] strarsis commented on #1378
@bbo: I had this issue with `Flowplayer HTML5 for WordPress` Version `3.0.2`.

[2018-05-08 13:01] codener opened #1379 "Muted Autoplay not working in Chrome 66"
I have an issue where Flowplayer refuses to use muted autoplay. Digging through the code, I have found the culprit:

https://github.com/flowplayer/flowplayer/blob/bad434c8801be8f8523b0ef3a0545133303593f7/lib/engine/html5-factory.js#L121-L138

The code tries to autoplay first. If that fails, it mutes the player and retries autoplaying. While `play()` is called right after the `mute()` in line 130,

[2018-05-08 14:15] codener commented on #1379
As far as I can say by now, the issue is not `mute()` being async or so.

However, I'm getting a `DOMException: The play() request was interrupted by a new load request` on the `play()` in line 131. I have no clue on why yet.

[2018-05-08 15:11] codener commented on #1379
I blame the `api.play()` in line 131 for the error – but I have no idea what's wrong. Although it is invoked from the promise rejection, the `api` (aka video element) doesn't seem to be ready for another `play()` invocation.

I should mention that about 1 in 10 times, it works as expected. So there is a non-deterministic aspect :disappointed:

Working around by injecting this code before the first

[2018-05-10 13:40] danrossi commented on #1379
Hi this is working. I am also trying to get some work arounds in my streaming features.  However you only need to mute on first playback.

The browser determines and dictates this. Perhaps there is some bad ratio thing. But on second visit on that domain playback can begin unmuted.

I don't think the autoplay work around is controlled on the api but for the html5 engine. But this is sadly the basi

[2018-05-10 15:34] ondreian commented on #1379
The ability to autoplay in Google Chrome 66+ is driven by MEI (Media Engagement Index) and this is determined by much more than just visiting a website.

1. Size of the `HTMLVideoElement` that is playing the video (if it's a small video it does not increase MEI)
2. amount of time spent watching a video
3. the ratio of visits versus Media element engagements
4. Several other factors play a role in

[2018-05-11 09:06] codener commented on #1379
@danrossi I hardly understand your message, I'm sorry. I believe muting the player before the first `play()` when "mute" and "mutedAutoplay" are configured/requested is always right, and might even fulfill the expectations of a user better than the current behaviour. Still, the current implementation *should* be working.

@ondreian Thanks for your reply. I should've mentioned that I'm aware of the

[2018-05-11 09:11] nnarhinen commented on #1379
@codener and your problems exist with FP 7.2.6? Could you point to a setup where this does happen for you? In my local tests I don't have this problem with any chrome versions tested. Of course we will fix this if we manage to get a reproducable test case.

[2018-05-16 15:01] codener commented on #1379
I can confirm the issue persists with 7.2.6. Will provide a reproduction if I can.

[2018-05-16 19:26] strarsis commented on #1379
+1! The video doesn't require audio so it would be great if it is autoplayed.

https://developers.google.com/web/updates/2017/09/autoplay-policy-changes

[2018-05-16 20:15] nnarhinen commented on #1379
We still need an example setup and instructions on how to reproduce this consistently to fix this.

[2018-05-17 11:45] majamee opened #1380 "Video Preview Thumbnails seem to be broken for DASH/ HLS"
Hi,
I was testing to get video previews working following your guide at https://docs.fluidplayer.com/preview_configuration/, but so far without success.

I have also hosted here a demo that you can check it out:
https://majamee.000webhostapp.com/player/fluid-player.html

The WebVTT is included in the player code as shown in your documentation and the WebVTT file itself can be found here view-sourc

[2018-05-17 12:13] nnarhinen commented on #1380
We are not associated with fluidplayer.

[2018-05-17 12:13] #1380 closed

[2018-05-17 13:32] codener commented on #1379
Updating HLS.js from 0.8.1 to 0.9.1 seems to have fixed most issues, including missing/incomplete error handling.
I consider this issue resolved. Will reopen if trouble returns. Thanks!

[2018-05-17 13:32] #1379 closed

[2018-05-17 13:45] strarsis commented on #1379
@codener: So I just have to update flowplayer in order to also update HLS.js for fixing this issue?

[2018-05-17 13:51] codener commented on #1379
@strarsis I believe your issue is different from mine, as I was experiencing a real edgy edge case.

I think the best would be to [open a new issue](/flowplayer/flowplayer/issues/new) and describe your issue as detailed as possible, following the [contribution guide](https://github.com/flowplayer/flowplayer/blob/dev/CONTRIBUTING.md).

[2018-05-24 15:04] bbbo opened #1381 "strange buffering in MS Edge"
steps to reproduce:

open http://www.eroprofile.com/flowplayer_test2.html

start clip

seek to the middle

seek back

The buffer indicator will bounce back and fort and short artefacts

<img src="https://frontapp.com/assets/img/icons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_7rkq)

[2018-05-24 15:06] bbbo commented on #1381
![microsoft edge_2018-05-24_17-05-42](https://user-images.githubusercontent.com/1395672/40494269-bdc7397e-5f74-11e8-820d-5d0a2a560944.png)

[2018-05-25 12:57] codener commented on #1379
As a quick follow-up: I could not apply the upgrade (FP + HLS) because of `DOMException`s thrown during stream (media source) changes. I'm sticking with the aforementioned workaround (see my 3rd post).

[2018-05-31 19:28] stantale commented on #1363
Hi All,

great it was added to 7.2.7 milestone. Can any timing be provided around a release date? Even an estimate would be appreciated.

[2018-05-31 19:37] JoeDuncko commented on #1365
Agreed, really wish that I could stop hlsjs-lite from loading on the current instance of flowplayer, as opposed to globally, without weird workarounds. Thanks for offering some solutions though @nnarhinen

[2018-06-01 20:25] zerom1nd opened #1382 "microsoft edge 7.2.6"
Hello, my friend say me flowplayer 7.2.6 not work on last version win 10 microsoft edge, but i not have this issue, for me work fine.

<img width="602" alt="1" src="https://user-images.githubusercontent.com/7798572/40861787-0622e8a6-65f3-11e8-9613-3b4e4ada24e6.png">
<img width="556" alt="2" src="https://user-images.githubusercontent.com/7798572/40861788-0647c7a2-65f3-11e8-9190-a1b3a6a0a17a.png">

[2018-06-02 07:33] bbbo commented on #1382
Sorry, a report like "my friend says it not work" and some random screenshots is pretty useless.

What does not work? Which exact Edge version? Which exact Windows 10 version? Link to a minimal sample page? Exact and detailed steps to reproduce?

[2018-06-03 14:15] zerom1nd commented on #1382
last version Win 10 and Microsoft Edge 42.17134.1.0
we already replace on 7.2.5

[2018-06-04 08:13] nnarhinen commented on #1382
Without better reproduce steps or example setup there's nothing we can do.

[2018-06-04 08:13] #1382 closed

[2018-06-04 08:37] nnarhinen commented on #1381
That is expected. The video can be partly buffered from many places

[2018-06-04 08:37] #1381 closed

[2018-06-04 10:56] bbbo commented on #1381
but this is only visual in Edge, and it not only shows  the light artefacts, the buffer indicator also flickers which looks pretty ugly...

[2018-06-04 16:53] bbbo commented on #1218
@nnarhinen this doesn't seem to be fixed (or a regression) in 7.2.6.:

http://www.manicmovies.com/watch.php?id=347#.WxVuNJ_7SiN

shows loading animation only when hovering

[2018-06-05 09:40] bbbo commented on #1377
Please do not use the player tracker for platform issues. Send an email to support.

[2018-06-05 09:40] #1377 closed

[2018-06-05 10:02] bbbo commented on #1381
@nnarhinen can we disable the visibility of those buffer elements? It looks really bad and I received more complaints about this...

[2018-06-05 11:26] bbbo commented on #1381
see also  https://app.frontapp.com/open/cnv_st9zya

[2018-06-05 11:35] nnarhinen commented on #1381
No, the timeline represents buffered parts. We should disable the buffer completely if we don't want to show what's buffered.

[2018-06-05 14:06] CharlesLuis commented on #1308
this is really important! Please, update milestone. Thanks.

[2018-06-05 15:41] mmccook commented on #1306
@blacktrash Is this roadmapped and when can support be expected for html5.

[2018-06-06 09:02] SamGoody commented on #19
I need the opposite - to preload without playing.

How can I load without having autoplay?

[2018-06-07 06:32] nnarhinen opened #1383 "Configured ABR quality ignored"
Configuring automatic quality does not have any effect (menu item not shown).

<img src="https://frontapp.com/assets/img/icons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_84m2)

[2018-06-07 06:33] #1383 closed

[2018-06-08 11:47] foliovision opened #1385 "Bad playlist behavior on repeated playback when using splash setup"
Here is the demo page: http://foliovision.com/html/fp-playlist-bug.html

It's the copy of https://demos.flowplayer.com/playlist/minimal.html where `is-spash` class has been added to the `.flowplayer` element.

It's using the latest Flowplayer JS from the dev branch.

### How to reproduce the issue

1) run `flowplayer(0).play(1);` on console, second item starts to play
2) Focus the player and hit `

[2018-06-11 09:31] bbbo opened #1388 "add bufferWhilePaused: true/false option"
which in turn calls hls.StopLoad() when a stream is paused

[2018-06-13 08:08] nnarhinen opened #1389 "Unloading the player might result in a media error"
If `recoverMediaError: true` is configured, hlsjs engine will restart the playback.

If not, then the unloading will result into error state with a message with `Video not properly encoded`.

We have to check if we can stop source buffering etc properly in `unload()`

[2018-06-15 08:57] fvilpoix commented on #1375
v0.10.0 of hls.js seems to fix this issue

https://github.com/video-dev/hls.js/releases/tag/v0.10.0

[2018-06-15 13:10] foliovision opened #1391 "Flowplayer 7.2.6 HLS.js lite engine doesn't expose the HLS.js library"
In the Flowplayer HLS.js documentation is says we can use `flowpalyer(0).engine.hls` to access the HLS.js engine: https://flowplayer.com/docs/player/setup#hls.js-api

That seems to work on https://demos.flowplayer.com/plugins/hlsjs.html where running this gives you a list of video qualities: `flowplayer(0).engine.hlsjs.levels`

However when using Flowplayer 7.2.6 with its HLS.js-lite engine it doe

[2018-06-15 13:25] KevinEady opened #1392 "Flowplayer receives invalid buffering event with hlsjs"
Flowplayer version: 7.2.4 (example page), 7.2.6 (my page)

Sometimes when clicking "play" and the video starts, Flowplayer receives a buffering event but with no ranges:

This area here: https://github.com/flowplayer/flowplayer/blob/dev/lib/flowplayer.js#L659

Gives an error saying "cannot read property length of undefined" because `buffer` comes in as `undefined`.

The root cause is from this par

[2018-06-15 13:29] blacktrash commented on #1375
https://flowplayer.blacktrash.org/fp7/playlist-basic-js.html now uses hls.js v0.10.0

[2018-06-15 13:32] nnarhinen commented on #1392
We are not actively developing the external hlsjs plugin. You should migrate your setup to [hlsjs-lite](https://flowplayer.com/docs/player/setup#hlsjs-lite)

[2018-06-15 13:48] KevinEady commented on #1392
Hi @nnarhinen ,

That did resolve my problem. Closing issue. Thanks!

[2018-06-15 13:48] #1392 closed

[2018-06-18 07:41] nnarhinen opened #1393 "HLS.js instance is globally shared between all players in the page"
This will be problematic when multiple players per page is desired.

[2018-06-18 07:48] nnarhinen commented on #1360
I can't seem to reproduce this problem in any basic flowplayer setup.

[2018-06-18 07:50] nnarhinen commented on #1391
If you need to access the hls instance you should write an HLS.js extension with:

[code]

[2018-06-18 07:50] #1391 closed

[2018-06-18 08:37] #1218 closed

[2018-06-18 08:37] nnarhinen commented on #1218
Please don't re-open issues. It messes up the milestoning.

[2018-06-18 08:39] nnarhinen opened #1394 "Loading animation not visible when buffering in playing state"
An corner case of #1218

The rule for mouseout in playing state sets opacity of all `.fp-ui` descendants to zero. We need to explicitely set the opacity to 1 for `.fp-waiting` when waiting for buffer.

[2018-06-18 10:43] Katarn commented on #1360
![image](https://user-images.githubusercontent.com/6339978/41531436-026e0b8a-72fc-11e8-8f59-f6a0ee9208c0.png)

I press F8 many times and debugger always stopped on this line:

![image](https://user-images.githubusercontent.com/6339978/41531505-2ed2337c-72fc-11e8-9b04-e72ec7d0ff99.png)

Next press on F11:

![image](https://user-images.githubusercontent.com/6339978/41531599-814a2ac4-72fc-11e8-8dc6-a

[2018-06-18 15:47] KevinEady commented on #1392
Hi @nnarhinen ,

Not sure if this is the right place to ask, but we're migrating to the hlsjs-lite setup as you suggested. However, we no longer get the HLS-specific events, such as `hlsManifestLoaded` or `hlsLevelLoaded`. Before, we would pass to the flowplayer configuration an `hls : { listeners: ['hlsManifestLoaded', ...] }` type object that would forward those events from the engine, a la http

[2018-06-20 08:03] KevinEady commented on #1392
Figured it out: We were able to create an engine extension using `flowplayer.engine('hlsjs-light').plugin( o => .... )` and attach our Hls events there off of `o.hls` via https://github.com/flowplayer/flowplayer/blob/dev/lib/engine/hlsjs.js#L29

[2018-06-20 14:26] nnarhinen opened #1395 "HLS instance not correctly cleared on load"
Symptoms: loading a new clip results into loading fragments from old clip.

Workaround of a kind (untested):

[code]

[2018-06-21 09:36] nnarhinen commented on #1392
Good that you found this hidden feature! We'll have to document it in the future as the API has now stabilized.

[2018-06-21 09:37] nnarhinen commented on #1360
I will store the player element in the future so that we don't need to do DOM lookups in the loop.

[2018-06-21 12:11] fdambrosio commented on #1354
hi,  it will be fixed?

[2018-06-21 13:13] nrk commented on #1357
While waiting for a proper fix, is there any way to work around this issue?

[2018-06-25 08:12] nnarhinen opened #1396 "Weird buffer display on DVR streams"
![image](https://user-images.githubusercontent.com/265438/41838230-847ad5b0-7868-11e8-92d8-a11fe659d1ed.png)

And when inspecting the element it's putting the buffer element starting from `left: 80+%` and be of `width: `80+%` which explains why it displays like that.

[2018-06-25 12:44] MarcinRabczynski commented on #1365
I was doing other things but just want to notice, that updating to latest version and the last workaraound from @nnarhinen worked for me.
Would be good to make it working in the future without that workaround. :)

[2018-06-25 19:34] lykathe opened #1397 "is-paused triggering always, tried multiple implementations"
Hey so I'm using a WP implementation in the form of a plugin, and suddenly "is-paused" is injected to all Flowplayers on site, so I uninstall the plugin, set it up manually, same problem. This isn't a issue w FP6. Anyone familiar w the issue? I have the Autoplay/Muted sorted, this had worked before but it stopped, and I didn't change the environment.

[2018-06-26 06:51] nnarhinen commented on #1397
Please re-open with proper reproduce steps and a link to a sample page.

[2018-06-26 06:51] #1397 closed

[2018-06-26 06:52] nnarhinen commented on #1354
What's the use case?

[2018-06-26 10:33] #1211 closed

[2018-06-26 10:33] #1212 closed

[2018-06-26 10:33] #1301 closed

[2018-06-26 10:34] nnarhinen commented on #1306
This is already possible with the `hlsjs-lite` engine and the [HLS subtitle plugin](https://github.com/flowplayer/flowplayer-hls-subtitles)

[2018-06-26 10:34] #1306 closed

[2018-06-26 11:59] webcast33 commented on #1375
Is there a work-around for this exception? It's an FP7 showstopper on Android devices. Thank you.

[2018-06-26 12:01] nnarhinen commented on #1375
Most likely the workaround from #1376 works here too

[2018-06-26 12:07] blacktrash commented on #1375
No, [as mentioned](https://github.com/flowplayer/flowplayer/issues/1376) it only helps with 7.2.5

[2018-06-26 12:33] nnarhinen commented on #1369
You can apply custom labels in the configuration with the `hlsQualities` property.

[2018-06-26 12:33] #1369 closed

[2018-06-26 12:34] nnarhinen commented on #1375
I fixed a similar error yesterday with the `hls.destroy()` trick on `load` event.

[2018-06-26 16:13] blacktrash commented on #1375
https://flowplayer.blacktrash.org/fp7/playlist-basic-js.html uses the trick with 7.2.6 now, and fails.
No problem with the same setup and 7.2.5.

[2018-06-27 09:05] fdambrosio commented on #1354
@nnarhinen it's this: https://flowplayer.com/forum#!/plugins:ie11-flash-fallback-not-w

[2018-06-27 09:50] nnarhinen commented on #1354
Why are you loading the hlsjs plugin at all if you don't want to use it?

[2018-06-27 12:09] nnarhinen opened #1398 "DVR allows to seek to unsafe positions"
We should check `hls.liveSyncPosition` in DVR seek and not allow seeking after that.

[2018-06-27 13:04] Sportradar-KK opened #1399 "Property length error in flowplayer"
Hi flowplayer team,

Occasionally I get this ‘length’ error in the console. I suppose that the video tag is not ready when this happens.
I let the flowplayer create the div so I do it all using JavaScript.

Uncaught TypeError: Cannot read property 'length' of undefined
   at flowplayer.js:4682

Nevertheless the player is running when this happens.

My setup:
Flowplayer 7.2.5 with hlsj.light.min.js

[2018-06-28 10:38] nnarhinen commented on #1399
Please migrate your setup to use the [internal HLS.js engine](https://flowplayer.com/docs/player/setup#hlsjs-lite). It will fix your problem.

[2018-06-28 10:38] #1399 closed

[2018-06-28 10:42] nnarhinen commented on #1364
You could take a look at the [state modified classes](https://flowplayer.com/docs/player/skinning#states) to find a combination which you could apply specific CSS rules to. Fixing this in the core player is something out of the scope of the player.

[2018-06-28 10:42] #1364 closed

[2018-06-28 10:52] nnarhinen commented on #1362
This can be achieved by manually configuring the labels. The bitrate was added because you might have multiple bitrate versions of same resolutions.

[2018-06-28 10:52] #1362 closed

[2018-06-28 10:53] nnarhinen commented on #1353
Closing as stale.

[2018-06-28 10:53] #1353 closed

[2018-06-28 11:07] nnarhinen commented on #1303
I think this has to be fixed in the speed menu plugin.

[2018-06-28 11:07] #1303 closed

[2018-06-29 12:09] nnarhinen commented on #1398
It seems `hls.liveSyncPosition` might be `undefined` sometimes. We need to make some default safetybuffer. For instance `conf.livePositionOffset / 2`.

[2018-07-03 08:19] nnarhinen commented on #1354
Closing until more information.

[2018-07-03 15:44] fdambrosio commented on #1354
@nnarhinen  I load hlsjs because I use hls streaming and flowplayer suggest to use hlsjs, but on IE11 there's a problem, so I want to disable hlsjs only on IE11 (checking the useragent by  javascript).
`hlsjs: false` is an official configuration

[2018-07-03 16:59] nnarhinen commented on #1354
What problem on IE11?

[2018-07-04 16:35] bbbo commented on #1395
related to https://flowplayer.com/forum#!/plugins:hls-plugin-not-preventing-m I guess?

[2018-07-05 07:35] fdambrosio commented on #1354
@nnarhinen I copy/paste from forum:  I have an error when I use hlsjs plugin on Internet Explorer 11: the stream stop working after 19 or 29 seconds.
I'm testing Internet Explorer 11 on Windows 10 or Windows 8.1
The stream works well using the Flash engine.
The problem doesn't happen on hlsjs demo page
If I set
`hlsjs: false`
the player doesn't fallback to Flash but it use hlsjs plugin.

How can I

[2018-07-05 09:21] nnarhinen commented on #1354
Link to stream and I could take a look..

[2018-07-05 14:32] josej30 commented on #1395
I'm the author of that issue in the flowplayer forums. I can confirm I'm able to reproduce the issue.

[2018-07-06 16:08] fdambrosio commented on #1354
@nnarhinen   sample: http://web-0.radioradicale.it/prova/fp/testie.html

[2018-07-06 17:40] bbbo opened #1400 "get back ? keyboard help overlay"
I think that is a convenient way  for keyboard users

[2018-07-09 08:31] nnarhinen commented on #1354
Seems to work for me
![image](https://user-images.githubusercontent.com/265438/42439368-698bae56-836b-11e8-995e-89f14d9dc7f8.png)

You might also want to play around with the `hlsjs.recoverMediaError` and `hlsjs.recoverNetworError` configuration options.

[2018-07-09 08:32] nnarhinen commented on #1354
But as this is a trivial fix, I can implement it. I just think it should be the last resort.

[2018-07-12 08:13] #1354 closed

[2018-07-12 08:13] #1385 closed

[2018-07-12 08:13] #1395 closed

[2018-07-12 08:14] #1393 closed

[2018-07-12 09:01] #1389 closed

[2018-07-12 09:02] nnarhinen commented on #1376
Are you still able to reproduce this with the latest dev (7.2.7) assets? Unfortunately you need to clone & make yourself, no automated build at this point.

[2018-07-12 09:03] nnarhinen commented on #1375
Same with this - is this reproducable with latest dev?

[2018-07-12 09:04] nnarhinen commented on #1365
This is now fixed in the dev branch.

[2018-07-12 09:04] #1365 closed

[2018-07-12 09:29] #1394 closed

[2018-07-12 09:34] nnarhinen commented on #1357
Could I have a link where this is happening? You must be loading a MediaSource polyfill or such to see this error. The code says `if ('MediaSource' in window) {` which in all my iOS devices / simulators states false.

If you manage to find a way to reproduce this so that I can have a look, then we'll try to find a fix for it.

[2018-07-12 09:34] #1357 closed

[2018-07-12 09:42] #1388 closed

[2018-07-12 10:23] #1360 closed

[2018-07-12 11:01] blacktrash commented on #1376
Still broken: https://flowplayer.blacktrash.org/fp7/playlist-basic-js.html now uses dev build.

[2018-07-12 11:02] blacktrash commented on #1375
Yes. https://flowplayer.blacktrash.org/fp7/playlist-basic-js.html now uses dev build

[2018-07-12 11:10] blacktrash commented on #1376
Actually, this _seems_ to be solved if I remove splash which triggers #1375 .
I obviously cannot test whether it _would_ work in splash setups because it breaks at the first load.

[2018-07-12 20:35] criticerz commented on #1344
Hey @nnarhinen ran into this issue for a long time and couldn't figure out what it was until now.

Any news on when this will be fixed? We're going to try inserting an additional play icon SVG below the default one in case it doesn't show.

[2018-07-13 09:15] nnarhinen commented on #1376
What devices have you been using to test? I cannot seem to reproduce this with any browserstack devices.

[2018-07-13 09:54] nnarhinen commented on #1375
https://github.com/video-dev/hls.js/issues/1787 most likely this

[2018-07-13 10:58] blacktrash commented on #1375
Latest dev:
<img width="1000" alt="screen shot 2018-07-13 at 11 52 04 am" src="https://user-images.githubusercontent.com/168338/42688273-8694c5a2-8693-11e8-9b48-552c5865cdd3.png">

I'm gonna stick with 7.2.5 and this hack

[code]
then (same hls.js library as in demo).

[2018-07-13 11:02] blacktrash commented on #1376
See https://github.com/flowplayer/flowplayer/issues/1375#issuecomment-404800435 - any Android Chrome at https://flowplayer.blacktrash.org/fp7/playlist.html

[2018-07-13 11:04] nnarhinen commented on #1375
https://flowplayer.blacktrash.org/7.2.6/flowplayer-dev.js is not at latest dev

[2018-07-13 11:55] blacktrash commented on #1375
Sorry, forgot `git reset` after fetching. - Yes, seems to work now, great!

[2018-07-18 09:22] xnejp03 commented on #1357
@nnarhinen There is a link to codepen above in this ticket.

https://codepen.io/xnejp03/pen/GQaqXM

Please re-open.

[2018-07-19 15:21] JoeDuncko commented on #1365
Awesome @nnarhinen ! Any idea when that might be released?

[2018-07-23 12:41] sibidharan opened #1401 "Subtitles sometimes doesn't hide when it reaches subtitleEnd"
Sometimes, the subtitles stays on screen and doesn't disappear when it reaches it's end.

The problem is caused by the line 2930 to 2938 -

[code]

which I modified as following

[code]

This fixed the issue of subtitles staying on screen even when the subtitle has been ended.

Please apply the fix to the final version and commercial version too.

[2018-07-23 19:13] eTiMaGo opened #1402 "Can't use Chromecast Custom Receiver"
I'm trying to make FP7's chromecast functionality point to a custom receiver, by setting conf.applicationId to my registered application.

But it seems that no matter what, the default player is loaded.

[2018-07-23 20:16] eTiMaGo commented on #1402
It's a work project so I cannot share any links, but this is the basic config:

`container = $("#player");

		// install flowplayer into selected container
		api = flowplayer(container,
			{ // license key from your account
				key: '$557665433611688',
				clip: {
					sources: [
						{
							type: "application/x-mpegurl",
							src: 'mycontent/playlist.m3u8'
						},
					],
					live: false

[2018-07-24 04:32] eTiMaGo commented on #1402
I was eventually able to make it work by moving applicationId: '82A009A8' into a chromecast block:

[code]

[2018-07-25 21:41] xnejp03 commented on #1357
@nnarhinen can this be re-opened pls?

[2018-07-26 10:30] nnarhinen commented on #1357
"This actually shows error in the console for iOS, but a different one than what I'm seeing in my app - possibly due to timing and how/when the container is cleared."

I want to see a reproducable test case outside of codepen where that actual error is reproducable.

[2018-07-26 19:37] webcast33 commented on #1375
I've been tracking the progress on this issue because it's causing a significant problem for me. Using 7.2.6, I cannot play any videos on an Android device with Chrome because of the SourceBuffer exception. It's not a playlist issue.  Because I prefer to stick with the splash method, I'm using 7.2.5 instead. But there is a bug in 7.2.5 that prevents error events from propagating (so if a video fil

[2018-08-01 14:28] foliovision opened #1403 "Safari and iOS doesn't trigger video error for missing HLS segments"
I was able to confirm this behavior even on a bare HTML5 video tag, using Safari 11.0.3 and iOS 11.3.

You can reproduce the issue if you download a HLS stream locally and then remove some of the segments. A demo stream with this flaw can be found here: http://cdn.foliovision.com/videos/hls-broken/index.m3u8 It's a video consisting of 28 segments and the last 8 segments were set to trigger HTTP 40

[2018-08-07 07:24] nnarhinen commented on #1401
Duplicate of #1363

[2018-08-07 07:24] #1401 closed

[2018-08-07 07:27] nnarhinen commented on #1376
Did the fix for #1375 fix this too?

[2018-08-08 13:09] blacktrash commented on #1376
Yes.

[2018-08-09 13:16] #1398 closed

[2018-08-09 21:55] gmathis opened #1404 "Android 9: Exception on plugin load due to issue with UA parsing"
Android version detection in [support.js:L54](https://github.com/flowplayer/flowplayer/blob/dev/lib/ext/support.js#L54) assumes a format of `Android [major].[minor]`, but Android 9 UAs don't include minor, e.g. `Android 9`.

Example Pixel 2 / Android 9 UA string:
`Mozilla/5.0 (Linux; Android 9; Pixel 2 XL Build/PPP3.180510.008; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/67.0.339

[2018-08-10 07:52] #1404 closed

[2018-08-10 07:55] Senior-Fin commented on #1404
Yep, I also saw this bug. You surrounded me. The solution I found by myself is to replace this one:
`ANDROID_VER = IS_ANDROID ? parseFloat(/Android\ (\d\.\d)/.exec(UA)[1], 10) : 0;`
to this:
`ANDROID_VER = IS_ANDROID ? parseFloat(/Android\ ((\d+\.\d+)|\d+)/.exec(UA)[1], 10) : 0;`

`\d\.\d ` RegExp matches only [0-9].[0-9] version. And `\d+\.\d+|\d+` will select all versions [0-Infinity].[0-Infinit

[2018-08-10 09:02] #1376 closed

[2018-08-10 09:17] #1363 closed

[2018-08-15 07:46] lon9man opened #1406 "Autoplay in Chrome 68"
### **What i do**
**OS:** Ubuntu, MacOS
**browser:** Chrome 68
**autoplay policy:** by default

i want to use Flowplayer in iframe (content from my site), which user can embed into own site.
so needed parts is **autoplay** and **iframe**.

i tested functionality and see that current player's behaviour is buggy. you can test JSFiddle (http://jsfiddle.net/longman/9h27f6p0/1/). it consists of iframe,

[2018-08-15 08:09] nnarhinen commented on #1406
Please migrate your setup to use [hlsjs-lite](https://flowplayer.com/docs/player/setup#hlsjs-lite). Should fix your problems.

[2018-08-15 08:09] #1406 closed

[2018-08-15 11:42] nnarhinen commented on #1406
It does not use hlsjs-lite:
![image](https://user-images.githubusercontent.com/265438/44146665-60aa968a-a099-11e8-9d2f-d6df3c7f2fff.png)

[2018-08-15 12:51] lon9man commented on #1406
Sorry, maybe didn't press Update in fiddle.

so i changed to **hlsjs-lite** engine and Flowplayer's test video **works**.
but now using lite-engine my own video (from S3) **doesn't play completely**.

**Results:**
[HLS.js demo-page](https://video-dev.github.io/hls.js/demo/?src=https%3A%2F%2Fs3.amazonaws.com%2Ftranscoder.video.imagelockerdev.com%2F8960cac5-3e2e-11e8-a0f7-38d547b38d0c%2Findex.m3u8&d

[2018-08-16 09:35] lon9man commented on #1406
big thanks for help!

further testing give me a bug in thumbnail-plugin. but source code is in flowplayer.min.js
[Portrait-oriented thumbnail wrong position #23](https://github.com/flowplayer/flowplayer-thumbnails/issues/23)

P.S. not sure which github-repository i should place issue, sorry if i had mistake

[2018-08-16 14:52] lon9man opened #1407 "HLS.js engine info empty"
**Maybe not issue but development process, or i am unable to find obvious things?**

### **What i do**
1. i have used Flowplayer with **flowplayer.hlsjs.min.js** (will name it **OLD** approach)
demo: [OLD](http://jsfiddle.net/longman/oysgtemh/15/)
2. i have upgraded Flowplayer to version 7.2.6 and (as adviced in the docs) changed **hls.js** library to
[hls.min.js](https://cdnjs.cloudflare.com/ajax

[2018-08-16 16:12] bbbo commented on #1407
https://flowplayer.com/docs/player/setup#hls.js-api

[2018-08-16 16:34] lon9man commented on #1407
i have found another issue [Flowplayer 7.2.6 HLS.js lite engine doesn't expose the HLS.js library #1391](https://github.com/flowplayer/flowplayer/issues/1391) .

questions:
1. how to get info about extensions and how they work?
2. how i can get HLS-info from extension for concrete video-tag, when i have multiple videos on the page simultaneously?

[2018-08-18 17:06] snowinszu commented on #1407
We are having the same issue.
"flowplayer(0).engine.hls.nextLevel = 0; " doesn't work.

[2018-08-22 06:32] nnarhinen opened #1408 "Loading animation broken on IE11 / Edge"
Not animated.

[2018-08-22 09:00] bbbo commented on #1408
https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/1173754/

according to the last comment in that thread and https://developer.microsoft.com/en-us/microsoft-edge/platform/status/supportcsstransformsonsvg/ it should be supported by now, but it doesn't in my IE builds...

[2018-09-05 10:55] nnarhinen opened #1409 "Chromecast dark background not always visible"
![image](https://user-images.githubusercontent.com/265438/45088958-4da5b300-b113-11e8-8b97-15911111467a.png)

[2018-09-05 12:49] greenkeeper[bot] opened #1410 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-09-14 22:16] jamin84 opened #1411 "7.2.7 - Resuming after seek() triggers automatic pause."
- Version 7.2.7
- Safari 11.0 (12604.1.38.1.7)

I use the API to handle playback controls (play, pause, ff, etc) with a custom playbar UI, and I'm having difficulty getting previously working behavior to coincide with the new `playPromise` requirements.

A user will hit fast-forward, whereupon I trigger `api.pause(callback)`, where `callback` contains an interval to refresh the UI and keep increas

[2018-09-14 22:34] jamin84 commented on #1411
Update:

`api.resume().seek(newTime, callback);` works...

[2018-09-14 22:51] #1411 closed

[2018-09-21 13:41] imben123 commented on #1340
@nnarhinen
I know this is quite old, but I saw this because I'm having trouble with video's in Safari starting muted (even when the user initiates the playback)
Example: https://flowplayer.com/help/demos/basic
I think it's muted because the video autoplays when it loads.

[2018-09-21 13:48] elbasan commented on #1340
@imben123 have you tried setting `mutedAutoplay: false `

[2018-09-21 14:03] imben123 commented on #1340
@elbasan Yes I've tried that. It didn't seem to have any effect.
See this example: https://codepen.io/imben123/pen/vzPpPv

[2018-09-26 15:49] volman-dev opened #1412 "Playlists + HLS stopped working with 7.2.7 on LG webOS 3.0 Smart TV"
We have a playlist with 3 short clips (trailers) and one long (feature) at the end. All clips are HLS.
Since updating Flowplayer from 7.2.6 to 7.2.7 playlists stopped working properly on 2016 LG SmartTVs (built-in browser on webOS 3.0). We have feedback from owners of the devices and we have also confirmed it on a VM emulator (from current official LG webOS SDK).

The last clip never plays. The pl

[2018-09-28 07:02] liuhaoliang opened #1413 "How to hide the control bar?"
I wondor how to hide the control bar?The doc not mention it.

[2018-09-28 07:02] nnarhinen commented on #1413
As per our contribution guidelines please use the forums for this kind of questions. And the answer is by using custom CSS to hide the `.fp-controls` element.

[2018-09-28 07:02] #1413 closed, assigned to nobody

[2018-10-05 11:03] imben123 opened #1414 "Video's play muted in Safari"
See this example: https://codepen.io/imben123/pen/vzPpPv

It seems that because the video is always loaded with the autoplay attribute, Safari is always muting the video (even when the user has pressed the play button in flowplayer)

[2018-10-15 06:51] JurisTechsys commented on #622
it's working in IE thank you

[2018-10-15 18:34] Vstoy001 opened #1415 "Javascript Error with Minified Version"
While using the player and selecting further in the video, I sometimes get a "Uncaught TypeError: Cannot read property 'length' of undefined".

I've tried to look into this and found that this line `t.video.buffer = "number" == typeof n ? n : n.length ? n[n.length - 1].end : 0`, is capable of throwing an error if n is undefined.

[2018-10-16 03:56] nnarhinen commented on #1415
Without a link to a problematic setup we cannot help.

[2018-10-16 03:56] #1415 closed, assigned to nobody

[2018-10-16 12:05] foliovision opened #1417 "Fix volume bar slider usability"
Muting a video playing with Flowplayer 7 is too hard. You have to click the volume bar carefully to really click the last pixel of it to set the volume low, but it's never zero. Or you need to drag it carefully.

It's not the case with Flowplayer 6 nor Flowplayer Native.

The bar-slider seems to listen to mouse move events only inside of it's bounds which is a mistake. Once clicked, it should keep

[2018-10-18 16:59] bbbo opened #1418 "update FlashHLS to 0.4.4.24"
to fix a regression: https://github.com/mangui/flashls/issues/569 .

To (hopefully) fix:

use swc from https://github.com/mangui/flashls/releases/tag/v0.4.4.24

[2018-10-19 12:41] nmargaritis opened #1419 "Player not working on Android 9 Chrome (regex not matching)"
Hi there,

it appears that flowplayer is breaking on page load on some android phones. Currently, I have identified that, the android regex does not match certain android versions. It expects the android version to have a major AND a minor version.

**For example my oneplus 6 has the following User Agent:**

Opening a page with the flowplayer on oneplus 6 results on the following error.
`flowplaye

[2018-10-19 13:41] nmargaritis commented on #1419
Version

[2018-10-19 13:42] nnarhinen commented on #1419
This is already fixed in 7.2.7 - https://github.com/flowplayer/flowplayer/blob/dev/CHANGELOG.md#version-727

[2018-10-19 13:42] #1419 closed, assigned to nobody

[2018-10-23 22:34] oliversiegel commented on #1414
Same thing on Chrome.

Would be nice to have a "tap to unmute" button, like you get on the mobile youtube site. I've implemented this myself, but it'd be nice if it were native to flowplayer.

[2018-10-29 16:56] eligence commented on #1379
We had this same issue and discovered that the flowplayer documentation has been updated to specify that hls scripts mus be loaded before the core flowplayer script. In previous version the opposite was true. Additionally, in the hls demos hls is loaded after flowplay js. This is incorrect.

See updated hls setup here. I have tested this and it works with version 7.2.7
https://flowplayer.com/help/

[2018-10-31 11:30] foliovision opened #1421 "Huge performance issues"
Inserting all the SVG graphics during player initialization https://github.com/flowplayer/flowplayer/blob/234cb4ebb06ebc32d4c0c3bdc1264517feaef95c/lib/ext/ui.js#L70-75 causes a big performance issue.

We got a report that playing a video on an Android phone for 15 minutes causes it to really get hot. The issue is less visible on a desktop computer. You need something like 40 instances of Flowplaye

[2018-11-08 10:16] foliovision commented on #1403
Update - when using the above HLS stream on a bare HTML tag: https://foliovision.com/html/hls-broken.html

...you can see that once the buffering runs into that missing segment it **triggers** a `stalled` event. Both on Safari and iOS. So there is **no need for any hack** like what we come up with initially.

So shouldn't Flowplayer listen to that event and interpret it as error?

Also - this same

[2018-11-08 10:45] foliovision commented on #1403
Here is a pull request to fix this: # #1422

[2018-11-08 18:59] cravoley commented on #1357
I can see that happening on latest IOS.

I'm facing some issues with Flowplayer on IOS. On the unload event, it break up the page with the following error: TypeError: undefined is not a constructor (evaluating 'new MediaSource'). The error only happens on Safari for IOS. It can be simulated using IOS simulator on a Mac.
I've tried to debug and figured out that window.MediaSource is set as undefine

[2018-11-08 19:08] bbbo commented on #1357
as @nnarhinen said: please provide a link to a reproducible test case, ie a standalone html page with the latest FP only (using the hlsjs-lite engine), no extra css/html/scripts. The root of the problem might of course be Apple's decision to not support MSE on iOS , but you should not encounter the error in normal circumstances.

[2018-11-15 11:16] foliovision commented on #1403
Update - the problem with using `stalled` event is that it triggers also once a perfectly valid HLS stream with no missing segments buffers until the end. Or if you pause the video and wait a bit - Safari continues to buffer the video further but after a while is stops and triggers that event as well.

So we are going back to our custom code, at least for now.

[2018-11-22 17:56] bbbo opened #1424 "adapt to support hls subtitle tracks in m3u8 manifests with plugin"
Currently the subtitle implementation in core FP7 kicks in at `ready`after the HLS plugin has created the menu and empties the menu -> webVTT tracks in the m3u8 manifest don't show.

Acceptance: change subtitle extension to kick in at an earlier time (at least when
 https://github.com/flowplayer/flowplayer-hls-subtitles is used).

<img src="https://frontapp.com/assets/img/icons/favicon-32x32.png"

[2018-11-26 15:18] emanuelflowplayer opened #1425 "Subtitle issue for FP7 and issue release 7.2.8"
Please review and fix the issue described by MediaChoice (subtitles need to wait for the Ready event?).

Acceptance criteria:
-Marwin from Mediachoice has the feedback that it is working

[2018-11-26 15:33] emanuelflowplayer commented on #1425
@nnarhinen sorry I might have created this issue in the wrong repo, please confirm that you are aware and working on it

[2018-11-26 17:26] bbbo commented on #1425
#1424

[2018-11-26 17:45] #1425 closed, assigned to nnarhinen

[2018-11-28 04:28] thaichau298 opened #1426 "Javascript set current time of video don't work on edge"
Sometimes the javascript to set current time don't work. But when I get current time, the time is time which I had set. Any solution for this issue?

Code:
https://gist.github.com/thaichau298/e67166999a1e02c77ef7d4601b8c2d1b

Selenium : 3.141.59
Browser : Edge (version 42)
Window 10

[2018-11-28 14:06] emanuelflowplayer commented on #1424
Thanks for working on this. they are launching in public on Friday and really want this to work.

[2018-11-29 08:20] nnarhinen commented on #1424
This was fixed in https://github.com/flowplayer/flowplayer-hls-subtitles/commit/7126081f53901bad1ae81238b71ac0a056c72774

[2018-11-29 08:20] #1424 closed, assigned to nnarhinen

[2018-12-05 08:48] pincher2012 opened #1427 "Event scroll.preloadviewport doesn't fire"
Sometimes when I reinitialize player, function `isInViewport`
https://github.com/flowplayer/flowplayer/blob/065bf61327087bbd04458033a8392547b29c723f/lib/engine/html5-factory.js#L151

returns `false`, but `scroll.preloadviewport`
https://github.com/flowplayer/flowplayer/blob/065bf61327087bbd04458033a8392547b29c723f/lib/engine/html5-factory.js#L158-L160
event doesn't fire, and player enters the infi

[2018-12-07 19:25] adriangodong opened #1428 "Seek-at-start does not work on iOS 12"
Open the following URL in iOS 12 device (Safari or Chrome, both showing the same behavior)
https://demos.flowplayer.com/commercial/starttime.html#t=30

Expected:
* playback starts at 30 seconds

Actual:
* playback starts at 0
* the loading spinner is visible
* play/pause does not work
* performing seek will reset this state and everything is working afterwards

<img src="https://frontapp.com/asset

[2018-12-10 16:22] reeceward-vpm opened #1429 "subtitles don't render until some event occurs"
When I select English subtitles, after they have already been turned off, the subtitles won't begin rendering until:

- It moves onto the next timecode of subtitles
- You click somewhere on the scrub bar

It is more noticeable when you have longer periods of text
You can replicate it on the demo on the website:
https://flowplayer.com/help/developers/flowplayer-7/subtitles

[2018-12-13 19:15] bbbo commented on #1428
further input from customer:

Flowplayer 7.04 -> no issue
http://itv2.sabor.hr/demoplayer/player.aspx

Flowplayer 7.27 -> seek on start through APi does not work on iPhones
http://itv2.sabor.hr/demoplayer/player1.aspx

[2019-01-07 08:21] lemonwhale opened #1430 "Make out of view-pause configurable in player"
The video player pauses when its out of view in the browser. We should make this configurable since its not all customers that wants this feature.

[2019-01-15 16:32] sw360cab opened #1431 "Facebook Sharing on working on Mobile"
Current sharing of Flowplayer toward Facebook is not working on mobile.
Basic reason looks like an oudated formate of Share url.

[2019-02-01 05:20] sky5290 opened #1433 "H5 player not working on android 9 default browser."
hi,

i upgrated my commercial flow player to V7.2.7 and my phone OS to android P, but the player is not working on default browser and wechat browser(tested on oneplus5 and HUAWEI, both with OS android P), but it works on Google Chrome.
please test below link on a android 9 OS phone with the default browser.
https://flowplayer.com/help/player/flowplayer-7/standalone/quickstart
**the bug is the vid

[2019-03-10 16:35] guypaskar opened #1434 "FlowPlayer Iframe add script/plugin"
Hello team FlowPlayer,

Is it possible to  add a script in the head of the html  when loading flowplayer through you flowplayer iframe service?

[2019-03-11 12:51] xdestiny opened #1435 "Pure Javascript close fullscreen control in IE/FF not working"
If you include the player in your app with the Pure Javascript installation (in Angular for example), the fullscreen mode will open as expected, but the icon for opening/closing will not change and cannot be clicked. The only way to close fullscreen view is by hitting Esc.

This is an interesting case that has been noted for Safari 11 some time ago. Yet, in this instance I could identify the issue

[2019-03-13 13:24] guypaskar commented on #1434
Ping about that. Anyone?

[2019-03-18 10:51] Alexsandr opened #1436 "Catch the error if autoplay failed."
I use autoplay for video in some cases. But sometimes problems can arise. Flowplayer handles such cases and tries to play the video. But I cannot detect and catch this error if this happens. Flowplayer decides what to do in this situation.

For example, if an autorun error occurred, for the next video I want to disable autoplay so that the user starts the video himself.

How do I know that autopla

[2019-03-18 13:32] Alexsandr opened #1437 "Floplayer does not work in Safari"
https://jsfiddle.net/exception777/4e3uv06o/39/

I had a problem for some reason that the stream player in Safari does not work with this configuration or with a minimal configuration. But the same video works with the <video> tag.
It seems that there is some problem with flowplayer.

In addition, flowplayer will not work in Opera, unless you specify “engine: html5”, it will try to load the flash e

[2019-03-20 06:02] sandiff opened #1438 "Multiple init inside AJAX call"
Hi I have a problem with initializing multiple videos via ajax, only the last video get to initialize properly the rest stuck with loading icon. It works fine on page refresh though.

Here is my code for initializing flowplayer inside ajax success function:
[code]

[2019-04-03 10:02] bbbo commented on #1437
{ type: "application/x-mpegurl", src: "//edge.flowplayer.org/functional.webm" },

is wrong, you did not configure a HLS source but a WebM

[2019-04-03 10:02] #1437 closed, assigned to nobody

[2019-04-04 15:44] mrnatuh opened #1439 "Streaming .m3u8 in android/firefox problem"
I have one page site with a streaming config using FlowPlayer 7.2.6. It's perfect in all web browsers. When I play it in a android device with firefox I received one error: {isTrusted: false} (the protocol is https).

[2019-04-04 16:20] bbbo commented on #1439
Please provide a link to a MINIMAL (player setup only on a  dedicated html page outside of a site structure, no extra html/css/js except perhaps a width setting for the player div to make it less than 100%). Alos make sure you're using FP 7.2.7 with [hlsjs-lite](https://flowplayer.com/help/player/flowplayer-7/setup#hlsjs-lite)

[2019-04-05 12:38] Silex commented on #1404
This line was forgotten: https://github.com/gmathis/flowplayer/blob/master/lib/ext/support.js#L54

[2019-04-10 13:46] karcar opened #1440 "HLS Audio cover image on iPhone shows black screen when viewed fullscreen"
Using your sample which resemble code being used. When view on iPhone 7 software 12.2 the cover image is not display in the player only a black screen with player controls. https://demos.flowplayer.com/plugins/audio.html

My issue on iPhone:
I'm having an issue allowing audio coverImage to show while on iPhone. What is shown is a black screen with audio playback controls (attached image). The setu

[2019-04-16 05:13] bbbo commented on #1040
@nnarhinen I guess we can close this as there will be no 7.3?

[2019-04-22 11:31] RichardsonHubble opened #1441 "Some FLV dont play in Flow player"
Metadata:
    streamName      : HubbeLiveStream
    encoder         : Lavf55.12.100
    author          : leon
  Duration: 06:58:56.80, start: 25111.453000, bitrate: 0 kb/s
    Stream #0:0: Video: h264 (High), yuv420p(progressive), 1280x720, 614 kb/s, 12 fps, 15.17 tbr, 1k tbn, 30 tbc
    Stream #0:1: Audio: pcm_alaw, 8000 Hz, mono, s16, 64 kb/s

The FLV is unable to play in Flow player , We are h

[2019-04-22 14:52] bbbo commented on #1441
We no longer support the Flash engine.

The problem might be the pcm audio track though. Try to sue AAC or MP3 instead.

[2019-04-22 14:52] #1441 closed, assigned to nobody

[2019-04-23 06:10] RichardsonHubble commented on #1441
Dear sir,
I dont think it is Audio issue, it is something to do with codecs please check this

**Working:**
Metadata:
    streamName      : flvLiveStream
    encoder         : Lavf55.12.100
  Duration: 00:00:46.00, start: 84866.185000, bitrate: 710 kb/s
    Stream #0:0: Video: h264 (Baseline), yuv420p(progressive), 1280x720, 15 fps, 1k tbr, 1k tbn
    Stream #0:1: Audio: pcm_alaw, 8000 Hz, mono, s

[2019-04-23 06:16] bbbo commented on #1441
Well then try a lower h264 profile.

Yes, there is no further support for FLV or any other Flash format. Flash is a dead technology and support for the Flash plugin will be removed from all major browsers within the next weeks / months.

[2019-05-31 10:06] foliovision commented on #1429
This would really be a great thing to fix.

Thanks,
Martin

[2019-05-31 10:09] foliovision opened #1442 "Subtitles triggering error in a bad way"
The `error` is triggered without the `api` being the second argument for the event handler: https://github.com/flowplayer/flowplayer/blob/dev/lib/ext/subtitle.js#L177

[code]

So if you code event handlers like

[code]

You won't be able to check `err.code`.

Thanks,
Martin

[2019-06-01 17:12] bbbo commented on #1429
Martin,

Flowplayer 7 is deprecated, so there will probably no further release, sorry.

[2019-06-05 15:24] tadegunloye commented on #1191
@nnarhinen It seems like this issue came up again. After updating to macOS Mojave (10.14.5) with Safari V. 12.1.1, this same behavior returned. I tested this on Flowplayer 6, 7, and the current flowplayer version.

I also tested on the demo sites mentioned in this thread and found the same issue there.

[2019-06-05 15:32] tadegunloye opened #1444 "Unable to Leave Fullscreen on Safari (12.1.1) MacOS Mojave (10.14.5)"
Whenever I enter fullscreen on Safari 12.1.1, I am unable to exit out of fullscreen. The fullscreen button does not change to the exit-fullscreen button, but Safari does put the video into fullscreen mode.

Pressing escape to leave fullscreen does work, but the fullscreen button changes to the exit-fullscreen button. This makes it impossible to return to fullscreen mode unless the page is reloaded

[2019-06-05 15:33] tadegunloye commented on #1444
This issue also occurs on the flowplayer.com demo sites

[2019-06-08 11:12] blacktrash commented on #1444
Try this:
[code]

[2019-06-25 08:43] foliovision commented on #1268
Hello @nnarhinen,

here is our fix for the issue: #1445

1) We make sure https://www.gstatic.com/cv/js/sender/v1/cast_sender.js loads only once on the page
2) When it loads we store it in flowplayer.conf
3) Then we create the button in each player on ready event.

[2019-06-25 08:51] foliovision commented on #1417
I had to redo this one here: #1446

[2019-06-25 09:04] foliovision commented on #1444
Hello @tadegunloye

here's our fix for the issue #1447

It seems iOS 12.3 and Safari 12 triggers `fullscreenchange` twice when you open fullscreen. So we simplified the Flowplayer code to rely on one of `document.webkitCurrentFullScreenElement || document.mozFullScreenElement || document.fullscreenElement || document.msFullscreenElement` to determine if the fullscreen mode is active and it works.

[2019-06-26 13:24] tadegunloye commented on #1444
@foliovision Thank you so much! This worked for me also!

[2019-08-28 09:48] zohaib-sarwar-confiz opened #1449 "Do we need to enable flash plugin for this player?"
Do we need to enable flash for this player?

[2019-09-04 06:03] bbbo commented on #1449
Only if you have an rtmp feed or use HLs on IE10/11 on windows 7, where hlsjs does not work.

However, Flowplayer 7 is deprecated so we would not recommend using it anymore. For our current commercial offerings, please see https://flowplayer.com/features and https://flowplayer.com/pricing .

[2019-09-04 06:03] #1449 closed, assigned to nobody

[2019-09-04 07:34] #1040 closed

[2019-09-04 07:35] #1011 closed

[2019-09-04 07:35] #1311 closed

[2019-09-19 01:45] webstermobile opened #1450 "how to play rtsp"
how to play rtsp video

[2019-09-19 04:25] bbbo commented on #1450
You cannot play rtsp in html5 video.

[2019-09-19 04:25] #1450 closed, assigned to nobody

[2019-10-05 21:15] zhoujz10 opened #1451 "soundless when playing .mkv files"

[2019-10-06 17:23] bbbo commented on #1451
sounds like an encoding or code issue. Please see https://flowplayer.com/help/player/flowplayer-7/encoding#codecs . MKV is not an officially supported html5 video format, so we cannot help her, especially as Flowplayer 7 is now deprecated.

[2019-10-06 17:23] #1451 closed, assigned to nobody

[2019-11-01 19:52] nikolas opened #1452 "Set up automatic dependency updates"
[Dependabot](https://dependabot.com/) would be useful to set up on flowplayer here.

[2019-11-01 20:02] bbbo commented on #1452
Generally speaking: yes. but FP7 is deprecated so there won't be any updates anyway...

[2019-11-01 20:05] nikolas commented on #1452
Ah - I wasn't aware of that. Maybe this repo's readme should be updated, with a link to the new version.

[2019-11-01 20:09] bbbo commented on #1452
true; full announcement and repo update will be done soon.

[2019-11-04 08:25] ghost commented on #1452
Hi @bbbo I noticed here that you are saying that FP7 is deprecated and I noticed that on the flowerplayer site in the help documents it says to use this [https://cdn.flowplayer.com/releases/native/stable/flowplayer.min.js](https://cdn.flowplayer.com/releases/native/stable/flowplayer.min.js) file and it says it's version is 2.3.0? I'm guessing the one you recommend on your site can only be used wit

[2019-11-04 09:59] bbbo commented on #1452
The flowplayer.com help pages all refer to Flowplayer Native, a completely new player which is only available as part of our platform subscriptions (so with some form of commercial license).

Flowplayer 7 is deprecated in both open source (with Flowplayer logo) and commercial versions. Of course it will continue to work until browser changes break it ;) . But there is no further support or develop

[2019-11-04 09:59] #1452 closed, assigned to nobody

[2019-11-04 10:04] ghost commented on #1452
Thanks @bbbo. Is there any chance of there being a freemium version of the flowplayer native version?

[2019-11-04 10:07] bbbo commented on #1452
No, at least not in the forseeable future. Development and testing are cost intesive ;)

[2019-11-13 14:07] pranabVadakkath commented on #1173
i updated angular app from 7 to 8.After that when i run the app it shows Uncaught TypeError: Cannot read property 'bean' of undefined.How can i fix this issue.

[2019-11-13 18:36] bbbo commented on #1173
Flowplayer 7 is deprecated and receives no further support or fixes, sorry.

[2019-11-14 22:51] dovematrix opened #1453 "Increase Accessibility for Keyboard, Screen Reader, and iOS/VoiceOver users"
Could you please increase the accessibility of the FlowPlayer?  My university has purchased a commercial license 7.2.4.  Keyboard and screen-reader users on desktop cannot play video since it doesn’t appear to receive any focus. iOS/VoiceOver users also cannot play the video.

[2019-11-15 07:25] nnarhinen commented on #1453
Hello. Flowplayer7 will not receive any new features anymore. For better accessibility you should take a look at our latest player called "Flowplayer Native". Accessibility documentation for that can be found from https://flowplayer.com/developers/player/accessibility

[2019-11-15 07:25] #1453 closed, assigned to nobody

[2019-11-18 06:08] pranabVadakkath commented on #1173
flowplayer showing 'bean undefined issue' while setting target in tsconfig.json as 'es2015'.

[2019-11-18 07:56] bbbo commented on #1173
Sure. It's an ES5 player.

[2019-11-18 13:41] pranabVadakkath commented on #1173
@bbbo , is there a way to prevent those errors in es5?

[2019-11-18 13:59] bbbo commented on #1173
don't set es2015 as target (which means es6).

[2019-11-25 09:15] karstenbruch opened #1454 "Link to commercial options in GPL is broken"
in this Paragraph:
"Commercial licenses are available. The commercial player version does not require any Flowplayer notices or texts and also provides some additional features."

As a sidenote: seo wise you should always redirect broken broken links to something usefull on your website as with this page which has moved.

[2019-11-25 12:14] bbbo commented on #1454
The commercial version is no longer available as Flowplayer 7 is deprecated. But you're right we should add a hint to the license.

[2020-01-03 12:53] ssarkar-wonder opened #1455 "MAC safari not playing video link - aws signed url"
I have aws signed url and using  Flowplayer Commercial v7.2.7 to play the video. for some reason the url is encrypted and adding unnecessary data to signed url and then it is failing to stream in the player.

[2020-01-03 17:13] bbbo commented on #1455
Flowplayer 7 is no longer supported, sorry. The url does not include unnecessary data though I'd say from a quick look, it's obviously a valid pre-signed url with an access token for the signing IAM user...

Does it work in a plain <video> tag?

Note you're sending the wrong MIME type (video/quicktime instead of the mandatory video/mp4 ) from S3 and you should also not use MOV containers at all, u

[2020-01-03 17:13] #1455 closed, assigned to nobody

[2020-01-03 18:46] ssarkar-wonder commented on #1455
Thanks for your response.

This is the url for the videos - https://www.castit.biz/v/E50CB54CC1C84428AD50BE05BD1F8F41
When playing in any other browser it works fine. But in MAC safari it does not play. And when I check the video url in Networks it is this -
https://cit-prod-video-original.s3.amazonaws.com/2019/12/10/9B84F908-06BB-4916-AEAE-26544EEBBCB1-3563-0000317F11F6CA81.mov?AWSAccessKeyId=ASI

[2020-01-04 10:09] bbbo commented on #1455
Hm, no idea where the additional data comes from, Flowplayer just passes it... but as I said FP7 is no longer supported so we cannot look into it.

According to my colleagues, the original url plays fine with Flowplayer Native at https://flowplayer.com/developers/tools/stream-tester so you should consider switching to Native.

[2020-01-27 19:26] kimatcodeindigo opened #1456 "Playlist stops when file format changes"
Using FP version 7:
In a playlist with 2 files, one .mov and one .mp4, playing stops after the first. Reversing the file order still results in stop after first film. A playlist with more files always stops on first film with different format than those before.
Is this a known behaviour?

[code]

Thanks

[2020-01-28 05:14] bbbo commented on #1456
Flowplayer 7 is deprecated and there is no further support for it, sorry.

MOV is not an official html5 <video> container format, you should *always* use MPEG-4 part 10 in an MP4 container.

[2020-01-28 05:14] #1456 closed, assigned to nobody

[2020-01-28 09:05] kimatcodeindigo commented on #1456
Thank you, Bernd,

Had a feeling this was the case. There is around 30000 MOV's in our archive but last couple of years is MP4 so quite a task to re-encode the old stuff. We'll try to figure out a solution, and anyway the old stuff is not used very often and less so as time passes.
Thanks again.

Br, Kim
Den 28. januar 2020 kl. 06.14.12 +01.00, skrev Bernd Backhaus <notifications@github.com>:

[2020-02-03 11:59] pranabVadakkath commented on #242
flowplayer api resume event  called more than once each time when reinitializing the flow player after stopping it.

[2020-02-03 13:37] bbbo commented on #242
Flowplayer 7 is deprecated, there won't be any further fixes.

[2020-02-17 09:50] lemonwhale opened #1457 "Analytics overview does not work in iPhone/Chrome"
According to Oyvind at Amedia this view cause something like a error "(Error) SABA2664-BBEC-49C7-B37C-0C1642DEFEFS" in iOS/Chrome

[2020-03-27 11:52] grinspike opened #1458 "Do not working cast tab on chromecast device"
Cast tab do not working.
Next code is not working with **https** but working with **http**

https://codepen.io/sergej-prudnikow/pen/rNVoOxg (on codepen working, but on real hosting do not working)

[2020-03-27 12:07] bbbo commented on #1458
You're mixing the Chromecast plugin for the current player FP Native with the deprecated Flowplayer 7. It's probably only working due to the integrated Chromecast feature of FP7.

FP7 is unsupported now, so we cannot help here, sorry.

[2020-03-27 12:07] #1458 closed, assigned to nobody

[2020-04-21 17:52] staminna opened #1459 "buffer continues to load on pause"
Hi

We have a commercial licence for Flowplayer, although we are using deprecated version 7. 2.7.
The issue is the videos keep buffering to "Infinity" even after pausing the playback.

[code]

And this is how we instatiate the videos:

[code]
We don't want videos to load on pause.

[2020-04-21 19:05] bbbo commented on #1459
As you said Flowplayer 7 is no longer supported so there is nothing we could do I'm afraid.

However you should not use the very old flowplayer.hlsjs plugin but plain hls.js with the integrated hlsjs-lite interface: https://flowplayer.com/developers/player/flowplayer-7/setup#hlsjs-lite

This might already solve the problem.

 bufferLength: 0,
 autoBuffering: false,
 preload: "none"

are all invali

[2020-04-21 19:05] #1459 closed, assigned to nobody

[2020-04-23 12:58] staminna commented on #1459
@bbbo  I am sorry but my organization requires compatibility with old I.E. bundled with Windows 7 which latest hlj.js alone cannot provide.

Are you sure there is no way to stop the buffer with the previous code I provided at the top of this issue?

[2020-04-23 15:33] bbbo commented on #1459
No version of hls.js is compatible with IE7 / Win7 as the browser does not support Media Source Extensions, so it does not matter which hls.js version you use (beside you can select the hls.js version you load with the hlsjs-lite engine). On IE7, FlashHLS is used (which is available as a plugin for the new player FP Native as well btw) and that is independent of hls.js

Your best bet is the buffer

[2020-05-03 10:35] rowl3y opened #1460 "iPhone Inline Player .. keeps going full screen"
Hi, I just cart get the player to stay inline on the web page.

Does this now not work?

thanks

`<link rel="stylesheet" href="//releases.flowplayer.org/6.0.5/skin/functional.css">

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//releases.flowplayer.org/6.0.5/flowplayer.min.js"></script>
<script src="//releases.flowplayer.org/hlsjs/flowplayer.hlsjs.min.js"></script>
<

[2020-05-03 16:59] bbbo commented on #1460
Flowplayer 6 (and 7) has been deprecated years ago. `flowplayer.inlinevideo.js` also is not our script.
Quite possible that ancient code does not work with current iPhones.

[2020-05-03 16:59] #1460 closed, assigned to nobody

[2020-05-05 14:19] staminna commented on #1459
We are using IE version 11 (not 7), on Windows 7, and we cannot use Flash in our organization.

Can you provide a link to a single snippet or player with this functionality working?

[2020-05-05 16:05] bbbo commented on #1459
https://flowplayer.com/developers/player/flowplayer-7/setup#hls-js-configuration

[2020-05-05 16:17] staminna commented on #1459
Hi bbbo,

Here's what we have now:

[code]

Uncaught TypeError: Cannot read property 'stopLoad' of undefined

[2020-05-05 16:54] bbbo commented on #1459
Do NOT load this:

<script src="https://releases.flowplayer.org/hlsjs/flowplayer.hlsjs.light.js"></script>

this

[code]

should be all you need to do.

[2020-05-05 17:17] staminna commented on #1459
I'm sorry but that works fine in Chrome, but Internet Explorer 11 from the moment you press play, won't stop buffering anymore, even if you press pause!
My video is 1 minute long, and buffers the whole file at once. If at least I could set up a maximum of 5 seconds, that would be great!

Thanks for quick reply.

[2020-05-05 17:21] bbbo commented on #1459
If you refer to IE11 on Windows 7 there is nothing which could be done as that browser cannot use hlsjs, it can only use Flash and hence all settings won't have any effect.

In any event there is no more help we could provide I'm afraid. Flowplayer 7 is no longer supported and will stop working in many browses soon anyway due to the rapid changes in browserland.

[2020-05-06 06:56] staminna commented on #1459
Okay!

Thanks!

[2020-05-11 22:14] dagwieers opened #1461 "Playback affected by non-existing subtitles (HTTP 415)"
### Expected Behavior
So we have a stream from a live radio station that has subtitles available, but doesn't offer them currently. The reason why there is a subtitle track according to the VOD provider is that they can offer them when they are available without reloading the stream.

Fetching the subtitle track returns a HTTP 415 Unsupported Media Type, which causes playback to fail.

The stream

[2020-05-12 11:09] dagwieers commented on #1461
A summary of this issue is offered in https://github.com/peak3d/inputstream.adaptive/pull/446

[2020-05-12 16:39] bbbo commented on #1461
this repo is for the deprecated Flowplayer 7 ;) However the issue is a valid point for Native as well, we'll fix the behavior in the DASH plugin asap. Please check again in a few days on our site, we already have a fix in dev.

[2020-05-12 16:39] #1461 closed, assigned to nobody

[2020-05-12 19:45] dagwieers commented on #1461
Great, I'm interested to learn how it will behave compared to other players.

[2020-05-18 13:38] dagwieers commented on #1461
The original stream no longer includes the (missing) subtitle track. So cannot be used for testing this particular problem.

[2020-06-10 17:38] pranabunni opened #1462 "flowplayer metadata event is not fired with alibaba stream on ios devices."
I'm playing a live stream (HLS, MP3 fallback) containing metadata about what's currently being played. With flowplayer 'metadata' event it's work fine for wowza stream, but the metadata event is not fired with alibaba streams.How can I solve the issue and get the timestamp from the alibaba stream also?

[2020-06-17 06:45] asanian commented on #975
I have same issue and I want to change rtmp stream src dynamically to the active speaker in my video conference. How can I do?

[2020-06-25 04:13] luisfigueroa34 opened #1463 "Reproductor embed"

[2020-06-25 06:00] #1463 closed, assigned to nobody

[2020-06-25 16:18] edwin-enfin opened #1464 "dfds"
dsf

[2020-06-25 16:20] #1464 closed, assigned to nobody

[2020-07-13 20:23] mariojrrc opened #1465 "Cannot read property 'AD_REQUEST_ERROR' of undefined"
Hi.

I'm using the Embed Javascript format (https://flowplayer.com/help/videos/publishing-videos#embed-a-video-using-java-script) to load the player, but I'm getting error listeting for AdEvents.

The testing ad configuration is fine and it is showing the ad before my video starts, but this error persists.

Following is a piece of my code

[code]

[2020-07-13 20:38] #1465 closed, assigned to nnarhinen

[2020-07-13 20:40] mariojrrc commented on #1465
I found the solution. Tthe correct property is **flowplayer.ads.events.AD_PREROLL_FINISHED**
Documentation might be wrong https://flowplayer.com/developers/plugins/ads#events

[2020-07-21 06:40] pranabunni opened #1466 "disable/remove pause option from flowplayer"
How to remove pause option from flowplayer. Currently adding click event handler and stopping the event propagation, but on safari 13.0 while changing the volume slider or clicking on the player leads to pausing.How can I solve this issue?

[2020-09-14 12:05] lon9man commented on #1444
my version is 7.2.6 and i see described behavior in iPadOS 13

@tadegunloye, can you explain:
1. was it fixed and in what version?

[2020-10-13 11:04] LubosKadasi opened #1468 "Accessibility - Mute Button"
Attributes of mute button 'tabindex' & 'focusable' are set to wrong element:

Original element read by narrator (sreanreader) as "_Image_"

`<div class="fp-volumebtn" aria-label="unmute"><svg viewBox="-2 -2 36 58" tabindex="0" focusable="true"><use xlink:href="#fp-volume"></use></svg></div>`

Working code of 'fp-volumebtn' for screen readers:

`<div class="fp-volumebtn" aria-label="unmute" tabinde

[2020-11-02 11:45] pranabunni opened #1470 "showing warning messages while creating production build in angular app."
I am using flowplayer v2.5.15 in my angular app. When creating production build it shows below warnings from flowplayer.css file.

WARNING in Invalid property name 'rx' at 1882:3694. Ignoring.

WARNING in Invalid property name 'ry' at 1882:3699. Ignoring.

I solved the issue by removing the style 'fp-rect{rx:1;ry:1}'.

Actually is it a bug?

[2020-11-03 12:45] bbbo commented on #1470
We'll check this when we release our own npm packages ina  few days.

[2021-02-09 11:16] ajdubovoy opened #1471 "Not loading assets properly by GUID"
Hi,

I'm trying to initialize a Flowplayer instance with the options:

[code]

The token is configured with no domain limits, at least for local testing. I'm running the site from localhost.

The GUID is copied directly from Flowplayer and is verifiably correct.

Whenever `flowplayer` tries to load the video asset, I get a 404 error, and it tries to load the asset from "localhost:3000/<VALID_VIDEO

[2021-02-09 11:25] nnarhinen commented on #1471
This repository is for the legacy FP7 open source version. Loading with platform ids is only available in Flowplayer Native with the OVP plugin: https://flowplayer.com/developers/plugins/ovp

[2021-02-09 11:25] #1471 closed, assigned to nobody

[2021-02-09 12:09] bbbo commented on #1471
Addendum: since the main src is HLS, you also need to load the HLS plugin.

[2021-02-09 12:38] ajdubovoy commented on #1471
Thank you for your help!

[2021-07-05 08:43] Barahten opened #1472 "[Question] How to use translate strings in Flowplayer extends"
This page describes how you can extend the player
[https://flowplayer.com/developers/player/player-api#customextensions](https://flowplayer.com/developers/player/player-api#customextensions)

This page describes how to make my own localization.
[https://flowplayer.com/developers/player/translations](https://flowplayer.com/developers/player/translations)

I managed to implement my localization and

[2021-07-29 12:54] yashrajsapra opened #1473 ".hls object is not coming in safari browser but coming in other browsers"
Hi
Value of api.hls appears to be undefined in safari browser but in chrome we are able to access that object , even after including hls.min.js script i'm not able to access

[2021-07-29 14:11] bbbo commented on #1473
Do you force Apple's HLS with `native: true` ? In this case there will be no hls api object.

[2021-07-30 06:20] yashrajsapra commented on #1473
Even if I'm not doing that then also I'm not getting that object, i removed those lines from the player conf but still I'm not getting that object

[2021-07-30 09:48] yashrajsapra commented on #1473
chrome browser
---------------.api.hls
value: i {_events: n, _eventsCount: 47, config: {…}, _autoLevelCapping: -1, abrController: i, …}

safari
--------------.api.hls
value :undefined

here ------------ is name of the player

[2021-07-30 12:27] bbbo commented on #1473
Do you include the airplay plugin? Airplay forces native HLS in Safari by default.

In any event, please write an email to support@flowplayer.com from the email with which you subscribed to Flowplayer, along with a link to a MINIMAL (player setup only, on a dedicated html page) sample url exposing the issue.

This repo is for the deprecated Flowplayer 7.

[2021-07-30 12:27] #1473 closed, assigned to nobody

[2021-08-05 12:52] yashrajsapra commented on #1473
Hi Bend that solution actually works but it didn't work on any of the iPhone, it works on mac so is there any separate API that we need to include  for iPhone

[2021-08-05 13:15] bbbo commented on #1473
iPhones do not offer any API to access the HLS instance.

[2021-09-23 07:40] yashrajsapra opened #1474 "Integrating VastTag in FlowPlayer"
Hi,
I need to integrate VAST tag which I'm getting from one of the ad service group , which i tested on Google VAST inspector, there it's working fine but when I'm adding that URL in flowplayer instance that time it's not working so can you please tell how I can add that URL there

[2021-09-23 08:21] bbbo commented on #1474
This repository is for the deprecated and unsupported Flowplayer 7 .

For Flowplayer Native, follow the advise on https://flowplayer.com/help/advertising resp. https://flowplayer.com/developers/plugins/ads .

If you run into problems, please email support@flowplayer.com from the email address associated with your subscription.

[2021-09-23 08:21] #1474 closed, assigned to nobody

[2021-09-30 13:25] #1412 closed, assigned to nobody

[2021-09-30 13:25] #1414 closed, assigned to nnarhinen

[2021-09-30 13:25] #1417 closed, assigned to nobody

[2021-09-30 13:25] #1418 closed, assigned to nnarhinen

[2021-09-30 13:25] #1421 closed, assigned to nnarhinen

[2021-09-30 13:25] #1426 closed, assigned to nobody

[2021-09-30 13:25] #1427 closed, assigned to nobody

[2021-09-30 13:25] #1428 closed, assigned to nnarhinen

[2021-09-30 13:25] #1429 closed, assigned to nobody

[2021-09-30 13:25] #1431 closed, assigned to nnarhinen, bbbo

[2021-09-30 13:25] #1433 closed, assigned to nnarhinen

[2021-09-30 13:25] #1434 closed, assigned to nobody

[2021-09-30 13:25] #1435 closed, assigned to nobody

[2021-09-30 13:25] #1436 closed, assigned to nobody

[2021-09-30 13:25] #1438 closed, assigned to nobody

[2021-09-30 13:25] #1439 closed, assigned to nobody

[2021-09-30 13:25] #1440 closed, assigned to nobody

[2021-09-30 13:25] #1442 closed, assigned to nobody

[2021-09-30 13:25] #1444 closed, assigned to nobody

[2021-09-30 13:25] #1454 closed, assigned to nobody

[2021-09-30 13:25] #1462 closed, assigned to nobody

[2021-09-30 13:25] #1466 closed, assigned to nobody

[2021-09-30 13:25] #1468 closed, assigned to nobody

[2021-09-30 13:25] #1470 closed, assigned to nobody

[2021-09-30 13:25] #1472 closed, assigned to nobody

[2021-09-30 13:25] #1235 closed

[2021-09-30 13:25] #1254 closed

[2021-09-30 13:25] #1255 closed

[2021-09-30 13:25] #1257 closed

[2021-09-30 13:25] #1265 closed

[2021-09-30 13:25] #1268 closed

[2021-09-30 13:25] #1271 closed

[2021-09-30 13:25] #1287 closed

[2021-09-30 13:25] #1291 closed

[2021-09-30 13:25] #1308 closed

[2021-09-30 13:25] #1341 closed

[2021-09-30 13:25] #1344 closed

[2021-09-30 13:25] #1347 closed

[2021-09-30 13:25] #1370 closed

[2021-09-30 13:25] #1372 closed

[2021-09-30 13:25] #1396 closed

[2021-09-30 13:25] #1400 closed

[2021-09-30 13:25] #1403 closed

[2021-09-30 13:25] #1407 closed

[2021-09-30 13:25] #1408 closed

[2021-09-30 13:25] #1409 closed

[2021-09-30 13:25] #1410 closed

[2021-09-30 13:26] #208 closed

[2021-09-30 13:26] #417 closed

[2021-09-30 13:26] #743 closed

[2021-09-30 13:26] #783 closed

[2021-09-30 13:26] #817 closed

[2021-09-30 13:26] #995 closed

[2021-09-30 13:26] #1014 closed

[2021-09-30 13:26] #1020 closed

[2021-09-30 13:26] #1035 closed

[2021-09-30 13:26] #1124 closed

[2021-09-30 13:26] #1133 closed

[2021-09-30 13:26] #1144 closed

[2021-09-30 13:26] #1146 closed

[2021-09-30 13:26] #1147 closed

[2021-09-30 13:26] #1148 closed

[2021-09-30 13:26] #1151 closed

[2021-09-30 13:26] #1186 closed

[2021-09-30 13:26] #1190 closed

[2021-09-30 13:26] #1200 closed